<section class="s3 ih-search">
  <h2 class="ih-subheader text-center">Quick Search</h2>
  <div class="ih-search-inner">
    <form ng-submit="searchMLS()">
      <fieldset>
        <div class="container-fluid">
          <div class="row">
            <div class="ih-input-box mini-search">
              <input type="text" class="ih-search-input full" placeholder="Search by MLS # or Address" name="propertyMLS" ng-model="filters.mlsOrAddress" />
            </div>
          </div>
          <div class="ih-search-btns text-center">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
