<section class="p1 ih-about">
  <div class="container ih-about-inner">
    <div class="row">
      <h3 class="fp text-center ih-header">About this home</h3>
      <div class="ih-md-divider"></div>
    </div>
    <div class="property-info row">
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h4>{{property.beds_total}}</h4>
        </div>
      </div>
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h4>{{property.baths_total}}</h4>
        </div>
      </div>
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h4>{{property.sq_total | number}}</h4>
          <h6>SQFT</h6>
        </div>
      </div>
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h4>{{property.stories}}</h4>
          <h6>STORIES</h6>
        </div>
      </div>
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h4>{{property.lot_size}}</h4>
          <h6>ACRES</h6>
        </div>
      </div>
      <div class="fact-icon col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="pull-left">
          <img src="" class="img-responsive" alt="icon"/>
        </div>
        <div class="pull-right">
          <h6>Property Type</h6>
          <h4>{{property.type}}</h4>
        </div>
      </div>
    </div>
    <div class="proerty-text row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h3>Agent Remarks</h3>
      </div>
      <div class="share-social col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">

      </div>
    </div>
    <!-- needs to change to property info -->
    <div itemprop="description" class="f2 bio" ng-bind-html="agent.bio1 | to_trusted"></div>
    <div class="ih-sm-divider ih-ext-divider"></div>
    <ih-listing-details></ih-listing-details>
  </div>
</section>