/*** *** BRYAN ALVAREZ BRAND *** ***/

* {}
h1 {}
h2 {}
h3 {}
p {}


/* colors */ 
.ih-color-01 { background-color: #COLOR01 !important;}
.ih-color-02 { background-color: #30354f !important;}
.ih-color-03 { background-color: #cd3c3f !important;}
.ih-color-04 { background-color: #COLOR04 !important;}

/* background colors */ 
.bkc-01 { background-color: #COLOR01 !important;}
.bkc-02 { background-color: #30354f !important;}
.bkc-03 { background-color: #cd3c3f !important;}
.bkc-04 { background-color:  #COLOR04 !important;}

.fl-01 { fill: #COLOR01 !important;}
.fl-02 { fill: #30354f !important;}
.fl-03 { fill: #cd3c3f !important;}
.fl-04 { fill:  #COLOR04 !important;}

/* psuedo-element colors */
.bkbf-01::before { background-color: #COLOR01;}
.bkbf-02::before { background-color: #30354f;}
.bkbf-03::before { background-color: #cd3c3f;}
.bkbf-04::before { background-color:  #COLOR04;}

.bdbf-01::before { border-color: #COLOR01;}
.bdbf-02::before { border-color: #30354f;}
.bdbf-03::before { border-color: #cd3c3f;}
.bdbf-04::before { border-color:  #COLOR04;}

.bkaf-01::after { background-color: #COLOR01;}
.bkaf-02::after { background-color: #30354f;}
.bkaf-03::after { background-color: #cd3c3f;}
.bkaf-04::after { background-color:  #COLOR04;}

.bdaf-01::after { border-color: #COLOR01;}
.bdaf-02::after { border-color: #30354f;}
.bdaf-03::after { border-color: #cd3c3f;}
.bdaf-04::after { border-color:  #COLOR04;}

/* font colors */
.fc-01 { color: #COLOR01 !important;}
.fc-02 { color: #30354f !important;}
.fc-03 { color: #cd3c3f !important; }  
.fc-04 { color:  #COLOR04 !important; }  

/* border colors */
.bd-01 { border-color: #COLOR01 !important;}
.bd-02 { border-color: #30354f !important;}
.bd-03 { border-color: #cd3c3f !important;}
.bd-04 { border-color:  #COLOR04 !important;}

/* gradient accents */
.bk-gd {
  background: rgb(205,60,63); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(205,60,63,1) 0%, rgba(48,53,79,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(205,60,63,1) 0%,rgba(48,53,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(205,60,63,1) 0%,rgba(48,53,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f',GradientType=1 ); /* IE6-9 */
}
.fl-gb {
  fill: rgb(205,60,63); /* Old browsers */
  fill: -moz-linear-gradient(left,  rgba(205,60,63,1) 0%, rgba(48,53,79,1) 100%); /* FF3.6-15 */
  fill: -webkit-linear-gradient(left,  rgba(205,60,63,1) 0%,rgba(48,53,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
  fill: linear-gradient(to right,  rgba(205,60,63,1) 0%,rgba(48,53,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* font family */
.fp { font-family: PRIMARY-FONT !important; }
.fs { font-family: SECONDARY-FONT !important; }

/* button styles */
.btn-primary {}
.btn-primary:hover {}

.btn-default {}
.btn-default:hover {}

/* input styles */
.ih-input {}
.ih-search-input {}

/* special header styles */
.ih-header {}
.ih-subheader {}

/**** **** RESPONSIVE STYLES *** ****/
@media screen and (max-width: 767px) {}
@media screen and (min-width: 426px) and (max-width: 768px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 1921px) {}

