/**** USER STYLESHEET ****/

body { overflow: hidden; padding: 0; margin: 0; }

/* background colors */
.bkc-01 { background-color: #1b1b1b !important; }
.bkc-02 { background-color: #30354f !important; }
.bkc-03 { background-color: #cd3c3f !important; }
.bkc-04 { background-color: #eeeeee !important; }

/* fill colors */
.fl-01 { fill: #1b1b1b !important; }
.fl-02 { fill: #30354f !important; }
.fl-03 { fill: #cd3c3f !important; }
.fl-04 { fill: #eeeeee !important; }

/* psuedo-element colors */
.bkbf-01::before { background-color: #1b1b1b; }
.bkbf-02::before { background-color: #30354f; }
.bkbf-03::before { background-color: #cd3c3f; }
.bkbf-04::before { background-color: #eeeeee; }
.bdbf-01::before { border-color: #1b1b1b; }
.bdbf-02::before { border-color: #30354f; }
.bdbf-03::before { border-color: #cd3c3f; }
.bdbf-04::before { border-color: #eeeeee; }
.bkaf-01::after { background-color: #1b1b1b; }
.bkaf-02::after { background-color: #30354f; }
.bkaf-03::after { background-color: #cd3c3f; }
.bkaf-04::after { background-color: #eeeeee; }
.bdaf-01::after { border-color: #1b1b1b; }
.bdaf-02::after { border-color: #30354f; }
.bdaf-03::after { border-color: #cd3c3f; }
.bdaf-04::after { border-color: #eeeeee; }

/* font colors */
.fc-01 { color: #1b1b1b !important; }
.fc-02 { color: #30354f !important; }
.fc-03 { color: #cd3c3f !important; }
.fc-04 { color: #eeeeee !important; }

/* border colors */
.bd-01 {border-color: #1b1b1b !important;}
.bd-02 {border-color: #30354f !important;}
.bd-03 {border-color: #cd3c3f !important;}
.bd-04 {border-color: #eeeeee !important;}

/* gradient accents */
.bk-gd {
  background: rgb(205, 60, 63);
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
}
.fl-gd {
  fill: rgb(205, 60, 63);
  fill: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  fill: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  fill: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
}
.bd-gd {
  border-color: rgb(205, 60, 63);
  border-image: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  border-image: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  border-image: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
}
.bf-gd-bm::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: rgb(205, 60, 63);
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  z-index: 10;
}
.bf-gd-tp::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: rgb(205, 60, 63);
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  z-index: 10;
}
.af-gd-tp::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: rgb(205, 60, 63);
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  z-index: 10;
}
.af-gd-bm::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: rgb(205, 60, 63);
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  z-index: 10;
}

/* font family */
.fp { font-family: 'Raleway', sans-serif !important; }
.fs { font-family: 'Open Sans', sans-serif !important; }

/* button styles */
.btn-primary {
  width: 100%;
  padding: 5px 0;
  border-radius: 0;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  transition: .3s;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #2b2b2b;
}
.btn-primary:active,
.btn-primary:focus {
  background-color: transparent;
  border-color: #fff;
}
.btn-default {
  border: 0;
  border-radius: 0;
}
.btn-default:hover {}

/* input styles */
.ih-search-dropdown button {
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: .3s;
}
.ih-search-dropdown button:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  color: #fff;
}
.ih-search-dropdown button:active,
.ih-search-dropdown button:focus,
.ih-search-dropdown button:visited {
  background-color: transparent !important;
  color: #fff !important;
}
.ih-search-input {
  padding: 9px 15px;
  background-color: transparent;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: .3s;
}
.ih-search-input:hover {
  border-color: #fff;
}
.ih-search-input:actve,
.ih-search-input:focus,
.ih-search-input:visited {
  background-color: transparent !important;
}

/* special header styles */
.ih-header {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 30px;
}
.ih-subheader {}

/* dividers */
.ih-accent-divider {
  margin-top: 50px;
  text-align: center;
}
.ih-accent-divider:after {
  content: url('../dividers/accent-divider.svg');
  text-align: center;
}
.ih-md-divider {
  width: 15%;
  margin: 30px auto;
  margin-bottom: 40px;
  position: relative;
  background-color: transparent;
}
.ih-md-divider:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}

/* hidden elements */
.ih-contact { display: none; }
footer h1 { display: none; }
footer .ih-md-divider { display: none; }
footer .ih-sm-divider.ih-ext-divider { display: none; }
.ih-social.large-social { display: none; }
.ih-cta {
  display: none;
}
/* hidden end */

/* accent elements */
.ih-grid-carousel:before {
  content: "";
  width: 2000px;
  height: 2000px;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: -500px;
  right: -1000px;
  z-index: -1;
  transform: rotate(45deg);
}
.ih-about:before {
  content: "";
  width: 1500px;
  height: 1500px;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: -900px;
  left: -1000px;
  transform: rotate(45deg);
  z-index: -1;
}
/* accent ends */

/* my-listing button */
.my-listings {
  top: 150px;
  right: 0px;
  border-radius: 5px 0 0 5px;
}
/* my-listing button */

/* contact */
.ih-form-input {
  border-radius: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.form-control:focus {
  box-shadow: none !important;
}
.ih-contact-form label {
  text-transform: uppercase;
  60: 300 font-weight: 600;
  font-size: 12px;
}
/* contact end */

/* navbar */
.ih-nav {
  background-color: rgba(255, 255, 255, 0.1);
}
.ih-nav:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}
#mainNav>ul>li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0 10px;
  padding: 35px 0;
}
#mainNav>ul>li>a {
  color: #fff;
}
#mainNav>ul>li:last-child>a {
  background-color: #CC3C3F;
  border-radius: 5px;
}
.ih-nav .dropdown-menu>li>a {
  font-size: 13px;
  letter-spacing: initial;
}
.ih-nav .dropdown-menu {
  width: auto;
}
.dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}
.dropdown-menu>li>a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;
}
.dropdown-menu>li>a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.dropdown-menu {
  width: auto;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-color: #171717;
}
/* navber end */

/* main slider */
.ih-slider-row:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}
/* main slider end */

/* featured listings */
.ih-grid-carousel {
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 35px 0;
  background-image: url('../backgrounds/featured-listings.jpg');
}
.ih-grid-carousel .carousel-control {
  width: 65px;
  color: #fff;
  opacity: 1;
}
.ih-grid-carousel .ih-ft-listing {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-featured-slider {
  padding: 0;
}
/* featured listing end */

/* like button */
.ih-like-btn {
  bottom: 10px !important;
  right: 10px !important;
  font-size: 25px !important;
  width: 45px !important;
  height: 45px !important;
  top: initial !important;
  left: initial !important;
  opacity: 1 !important;
  z-index: 99999 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 50% !important;
  color: #f5f5f5 !important;
  padding: 0 !important;
  text-align: center !important;
  line-height: 45px;
}
.ih-like-btn .fa-heart,
.ih-like-btn .fa-heart-o,
.ih-like-btn .fa-star {
  display: none !important;
}
.ih-like-btn .fa-star-o {
  display: inline;
}
.ih-like-btn.ih-liked .fa-star {
  display: inline !important;
}
.ih-like-btn.ih-liked .fa-star-o {
  display: none !important;
}
.ih-ft-listing strong {
  display: block;
  font-size: 22px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* like button ends */

/* search */
.ih-search {
  padding: 80px 0;
  padding-bottom: 90px;
  background-color: rgba(0, 0, 0, 0.2);
}
.ih-search-btns {
  margin: 25px 0;
}
.ih-search-dropdown .dropdown-menu {
  max-height: 250px;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.ih-search-btns .btn-primary {
  width: auto;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: #fff;
  color: rgba(51, 53, 79, 0.9);
}
.ih-adv-toggle {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 35px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .3s;
  font-size: 12px;
}
.ih-adv-toggle i {
  display: none;
}
/* search ends */

/* resources */
.ih-resources {
  position: relative;
  background-color: rgb(49, 49, 49);
}
.ih-resources:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}
.ih-resources:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
}
.rc-link {
  border: 10px solid #171717;
}
/* resources ends */

/* about */
.about-social a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 99px;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  font-size: 10px;
  transition: .3s;
}
.about-social a:hover {
  background-color: #fff;
  color: #171717;
}
/* about end */

/* testimonials */
.ih-testimonials {
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 50px;
}
.ih-testimonials .carousel-control {
  width: 10px;
}
.ih-testimonials-inner {
  min-height: 300px;
}
.ih-testimonials .read-more {
  color: #BD3B41;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  width: 100%;
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
}
.ih-ratings {
  margin-bottom: 10px;
}
.ih-ratings i {
  margin-right: 5px;
  color: #ddd;
}
/* testimonials end */

/* results page */
.ih-results {
  padding-top: 150px;
}
.ih-filter-row .btn.active {
  background-color: rgb(205, 60, 63);
  color: #3D3D3D;
  box-shadow: none;
}
.ih-filter-box {
  margin-bottom: 10px;
}
.ih-filter-row .btn-group .btn {
  padding: 5px 0;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
.slider-track {
  background-color: rgba(0, 0, 0, 0.5) !important;
  background: rgba(0, 0, 0, 0.5) !important;
  background-image: initial;
}
.slider-selection {
  background-color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
}
.slider-handle {
  background: #CD3C3F;
}
.s2 .ih-listing-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: rgb(205, 60, 63);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(205, 60, 63, 1) 0%, rgba(48, 53, 79, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd3c3f', endColorstr='#30354f', GradientType=1);
  /* IE6-9 */
  z-index: 10;
}
/* results end */

/*  listing */
.s2.ih-listing .listing-pane {
  border-left: 5px solid rgb(204, 60, 63);
}
.ih-listing-factbar {
  background: rgba(255, 255, 255, 0.05);
}
.table-hover>tbody>tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.s2 .ih-listing-table .text-muted {
  color: rgba(255, 255, 255, 0.85);
}
.ih-listing-table .ih-social-icon {
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  1: initial line-height: inherit;
  line-height: 20px;
  transition: .3s;
}
.ih-listing-table .ih-social-icon:hover {
  background-color: #fff;
  color: #171717
}
.s2 .ih-listing-contact {
  background-color: rgba(255, 255, 255, 0.05);
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
}
.ih-listing .nav-justified {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  color: #fff;
  text-shadow: none;
}
.ih-listing .nav-justified a {
  border: 0 !important;
  color: #fff !important;
  text-shadow: none !important;
  border-radius: 0 !important;
}
.ih-listing .nav-justified a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.ih-docs .tab-content {
  border: 0 !important;
  background-color: rgba(0, 0, 0, 0.2);
}
.ih-doc {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 5px;
}
.ih-doc:hover {
  color: #fff;
  text-decoration: none;
}
/* listing end */

/* content */
.ih-content-header {
  min-height: 355px;
  padding-top: 140px;
  background-image: url('../backgrounds/contentimage.jpg');
  border-color: #CC3C3F;
}
.ih-side-panel {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.panel {
  background-color: rgba(255, 255, 255, 0.05);
  border: 0;
  border-radius: 0 !important;
}
.panel-default>.panel-heading {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  text-transform: uppercase;
}
.panel .ih-header {
  display: none;
}
.panel .ih-md-divider {
  width: 90% !important;
  margin: 10px auto;
  margin-bottom: 20px;
  min-width: initial;
}
.panel-body {
  border: 0 !important;
}
.ih-content-list a {
  color: #fff;
  font-weight: 600;
}
.ih-content-list p {
  padding: 15px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ih-side-panel .panel-title a {
  font-size: 12px;
  font-weight: 600;
}
.ih-side-panel .panel-title a:hover,
.ih-side-panel .panel-title a:focus,
.ih-side-panel .panel-title a:active {
  text-decoration: none;
}
/* content end */

/* bio */
.bio-image {
  border: 10px solid rgba(255,255,255,0.1);
}
/* bio ends */

/* footer */
footer a,
footer a:hover {
  color: #fff;
}
footer .row {
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid rgba(255, 255, 255, 0.2);
}
.ih-legal.row {
  border: 0;
}
/* footer ends */

/* brand footer */
.ih-footer {
  background-color: #171717;
}
.ih-footer>div>a {
  color: rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 1px;
  transition: .3s;
}
/* brand end */

/* loader styles */
.ih-loader-listing {
  min-height: initial;
}
.s2 .ih-loader-listing hr {
  display: block;
  border-color: rgba(255, 255, 255, 0.1);
}
.bkc-01 .s2 .ih-loader-listing {
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* loader ends */

/* browser overrides */
::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #171717;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #cd3c3f;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #cd3c3f;
}
/*browser ends */

/**** **** RESPONSIVE STYLES *** ****/
@media screen and (max-width: 767px) {
  .navbar-brand>img {
    width: 260px;
  }
  .navbar-brand {
    height: auto;
  }
  .navbar-toggle {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 0;
    border-radius: 0;
    transition: .3s;
    padding: 15px;
  }
  .navbar-toggle:hover {
    background-color: #CA3C3F !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 30px;
    margin-bottom: 7px;
  }
  .navbar-default .navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
  }
  .my-listings {
    top: initial;
    bottom: 0;
    width: 100%;
  }
  .ih-greeting {
    padding-top: 15em;
  }
  #mainNav>ul>li {
    padding: 10px;
    text-align: center;
  }
  .ih-nav {
    background-color: rgb(49, 53, 79);
  }
  .ih-nar-btn {
    margin-bottom: 15px;
  }
  .ih-grid-carousel .ih-ft-listing {
    min-height: 300px;
  }

  .ih-input-box {
    margin-bottom: 25px;
  }

  .ih-testimonial-icon {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 35px;
  }
  footer,
  footer .text-right {
    text-align: center;
  }

  footer div {
    margin-bottom: 10px;
  }  
  .ih-filders .container .row div {
    margin-bottom: 10px;
  }

  .ih-filters .row>div:first-child {
    margin-bottom: 15px;
  }

  .s2.ih-results .ih-adv-toggle {
    display: block;
  }

  .s2.ih-results {
    padding-top: 95px;
  }
  
  .s2.ih-listing {
    padding-top: 95px;
  }

  .ih-listings-menu {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .navbar-brand {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
    height: auto;
  }
  .navbar-header {
    float: none;
    width: 100%;
    text-align: center;
  }
  .navbar-brand>img {
    display: inline-block;
    width: 300px;
  }
  #mainNav>ul>li {
    padding: 5px 0;
  }
  .navbar-right {
    float: none !important;
    width: 100%;
    margin-right: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, .2);
  }
  .my-listings {
    top: initial;
    bottom: 0;
    width: 100%;
  }
  .btn-primary {
    font-size: 15px;
  }
  .ih-input-box {
    margin-bottom: 20px;
  }
  .ih-about .col-lg-4 {
    text-align: center;
  }
  .ih-about img {
    display: inline-block;
    width: 260px;
  }
  .s2.ih-results {
    padding-top: 165px;
  }  
  .s2.ih-listing {
    padding-top: 165px;
  }  
  .ih-listing-description {
    border: 0;
  }    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar-brand>img {
    width: 170px;
  }
  .navbar-toggle {
    top: 15px;
    right: 0;
    padding: 10px;
  }
  .ih-nar-btn {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .s2 .listing-pane {
    padding: 10px 15px;
  }
  .s2.ih-results {
    padding-top: 78px;
  }
  .s2 .ih-listing-card {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .ih-more-listings button {
    font-size: 18px;
  }
  .ih-mls-legal {
    padding-bottom: 125px;
    font-size: 11px;
    text-align: justify;
  }
  #searchFilters {
    padding: 0;
  }
  #searchFilters div {
    padding: 0;
  }
  .slider.slider-horizontal {
    width: 90%;
    margin: 0;
  }
  .ih-slide {
  text-align: center;
  }
  .ih-slide label {
    text-align: center;
  }
  .s2 .ih-listing-slider .item {
    height: 300px !important;
  }
  .ih-listing-slider {
    min-height: initial;
  }
  .owl-nav {
    display: none;
  }
  .ih-listing-description {
    border: 0;
    margin-bottom: 25px;
    text-align: justify;
    padding-right: initial;
    padding: 10px;
  }
  .ih-listing-table {
    padding: 0;
  }
  .s2.ih-listing {
    padding-top: 75px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-brand>img {
    width: 280px;
    margin-top: 15px;
  }
  .ih-grid-carousel .ih-ft-listing {
    min-height: 150px;
  }
  .ih-ft-listing strong {
    font-size: 14px;
  }
  .ih-grid-carousel .ih-ft-listing small {
    font-size: 10px;
  }
  .my-listings {
    top: initial;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    background-color: #3277b2;
  }
  .my-listings:hover {
    background-color: #CC3C40;
  }
  .ih-listing-description {
    border: 0;
  }  
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .ih-ft-listing-details .lead {
    font-size: 15px;
    margin-top: 30px;
    display: inline-block;
    font-weight: 600;
  }
  .s2 .ih-listing-card-img {
    min-height: 165px;
  }
  .s2 .ih-listing-card {
    min-height: 350px;
  }
  .ih-listing-description {
    width: 100%;
    border: 0;
    min-height: auto;
    margin-bottom: 25px;
    float: none;
  }
  .ih-listing-table {
    width: 100%;
    float: none;
  }
  .s2 .ih-listing-slider .item {
    height: 350px !important;
  }
  .s2 .ih-ft-listing-link {
    min-height: 150px !important;
    line-height: 175px !important;
  }
}
@media screen and (min-width: 1921px) {
}