section.dj.ih-slider.container-fluid
  .iha.ih-greeting-btn.container(ng-if='LandingComponent.showGreeting')
    .ih.container.dj-link.text-center.bf-gd-tp
      .btn.btn-primary(href='https://www.DandWAdvisors.ViewAllTucsonHomes.com', target='_blank') www.DandWAdvisors.ViewAllTucsonHomes.com  
  .iha.ih-greeting.container(ng-if='LandingComponent.showGreeting')
    .ih.container.ih-narrative.text-center.bf-gd-tp
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.nopad(ng-if='LandingComponent.showBuyAHome')
        a.ih-nar-btn.btn.btn-primary.fullw(href='{{LandingComponent.buyLink}}')
          | {{LandingComponent.buyAHomeText}}
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.nopad(ng-if='LandingComponent.showSellAHome')
        a.ih-nar-btn.btn.btn-primary.fullw(href='{{LandingComponent.sellLink}}')
          | {{LandingComponent.sellAHomeText}}
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.nopad(ng-if='LandingComponent.showJustAdvice')
        a.ih-nar-btn.btn.btn-primary.fullw(href='{{LandingComponent.adviceLink}}')
          | {{LandingComponent.adviceText}}
  .ih-slider-row.row
    .ih-slider-inner.carousel.slide.carousel-fade(id='{{slider}}', data-ride='carousel')
      div(uib-carousel='', active='active', no-wrap='false', no-pause='true')
        div(uib-slide='', ng-repeat='slide in slides', index='$index', style="background-image: url('{{slide.large}}');")
