<section class="ih-slider container-fluid">
    <div class="container">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="slider-text">
                <h1>All your marketing <span class="fc-03">under one roof.</span></h1>
                <p>
                    Whether you need clean flyers, striking Facebook posts, or eye catching listing landing pages, InHouse makes it unbelievably easy to create them.
                </p>
                <h2>All in <span class="fc-03">minutes.</span> All <span class="fc-03">InHouse.</span></h2>
                <a href="#/sign-up" class="btn btn-primary">Sign-up Today</a>
            </div>
        </div>
    </div>
    <div class="iha bm rt lt scroll-down text-center fc-04">
      <i class="fa fa-angle-down"></i>
    </div>
</section>
