section.ih-slider.container-fluid
  .container
    .col-lg-7.col-md-7.col-sm-12.col-xs-12
      .slider-text
        h1
          | All your marketing
          br
          span.fc-03 under one roof.
        p
          | When you need clean flyers, striking social media posts or eye catching websites, InHouse makes them unbelievably easy to create.
        h2
          | All in&nbsp;
          span.fc-03 minutes.
          |  All&nbsp;
          span.fc-03 InHouse.
        a.btn.btn-primary(href='https://www.getinhouse.io/login') Sign-up Today
  .iha.bm.rt.lt.scroll-down.text-center.fc-04
    i.fa.fa-angle-down
