section.ih-slider.container-fluid
  .container
    .col-lg-7.col-md-7.col-sm-12.col-xs-12
      .slider-text
        h1
          | Property Stories
          br
          span.fc-03 Give your listings a home.
        p
          | Share the unique story of a listing with a beautiful website, striking social media posts and clean flyers. An InHouse Property Story is everything you need to impress your clients and make your life a little bit easier.
        a.btn.btn-primary(href='#/signup') Sign-up Today
  .iha.bm.rt.lt.scroll-down.text-center.fc-04
    i.fa.fa-angle-down
