//- inhouse homes portal
section.ih-slider.container-fluid.homes
  .container
    .search-container
      h1 Settle in Arizona.
      ih-landing-search(configname="ih")
      p.lead Comfortably Search all of Arizona's Best Homes. Completely Ad Free.
