<section class="p1 ih-slider container-fluid fp">
    <div class="iha afull">
        <div class="ih container fullh">
            <div class="iha top-banner bkc-01 fw">
              <small class="text-uppercase"><span class="ih-icon-sign"></span> presented by: {{agent.agentName}} of {{agent.brokerage}}</small>
            </div>
            <div class="iha ih-banner">
                <div class="container-fluid full nopad">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 fullh bkc-04 fw banner-box">
                        <h1>{{listing.community}}</h1>
                        <h5 class="text-uppercase fs">{{listing.address}}, {{listing.city}} {{listing.zip}}</h5>
                        <div class="home-facts">
                            <span class="fact">{{listing.beds}} <small class="text-uppercase">Bedrooms</small></span>
                            <span class="fact">{{listing.baths}} <small class="text-uppercase">Baths</small></span>
                            <span class="fact">{{listing.sqft}} <small class="text-uppercase">SQFT{{listing.sizeUnit}}</small></span>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 fullh bkc-02 fw banner-box">
                        <h1>{{listing.price | currency}}</h1>
                        <a href="#/" class="btn btn-primary">Schedule Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn fw">
        <a href="#/"><i class="fa fa-angle-down"></i></a>
    </div>
    <div class="ih-slider-row row">
        <div class="ih-slider-inner carousel-inner carousel slide carousel-fade full" data-ride="carousel">
            <div uib-carousel active="active" no-wrap="false" class="full fade in">
                <div uib-slide ng-repeat="slide in slides" index="$index" ng-style="{'background-image':'url(' + slide.large + ')'}">
                </div>
            </div>
        </div>
    </div>
</section>
