<section class="p2 ih-slider container-fluid fp">
    <div class="iha afull property-greeting z3 fw">
        <div class="container container-sm text-center">
            <div class="row">
                <img ng-src="{{agent.team[0].photo}}" alt="{{agent.team[0].name}}" class="img-circle">
            </div>
            <div class="text-uppercase">
                <h4>welcome to</h4>
                <h1>{{listing.address}}</h1>
                <h3><small class="fw text-uppercase">{{listing.city}} {{listing.state}} {{listing.zipcode}}</small></h3>
            </div>
            <p class="listing-desc">
                {{listing.editableText | limitTo: 140}} Short call to action here, probably announcing an open house data and time etc?
                <br /><br />
                <small><strong class="text-uppercase">presented by: {{agent.agentName}} of {{agent.brokerage}}</strong></small>
            </p>
            <div class="btn-row">
              <a href="#/" class="btn btn-default">view on map</a>
              <a href="#/" class="btn btn-primary">scedule visit</a>
            </div>
        </div>
    </div>
    <div class="ih-slider-row row">
        <div class="ih-slider-inner carousel-inner carousel slide carousel-fade full" data-ride="carousel">
            <div uib-carousel active="active" no-wrap="false" class="full fade in">
                <div uib-slide ng-repeat="slide in slides" index="$index" ng-style="{'background-image':'url(' + slide.large + ')'}">
                </div>
            </div>
        </div>
    </div>
</section>
