<section class="p2 ih-slider container-fluid fp">
    <div class="iha afull property-greeting z1 fw">
      <div class="container container-md text-center">
        <div class="row">
          <img ng-src="{{agent.team[0].photo}}" alt="{{agent.team[0].name}}" class="img-square">
        </div>
        <div class="row">
          <h4 class="text-uppercase">welcome to</h4>
          <h1>{{listing.address}}</h1>
          <h3><small class="fw text-uppercase">{{listing.city}} {{listing.state}} {{listing.zipcode}}</small></h3>
        </div>
        <div class="row fs">
          <p>
            {{listing.description | limitTo: 250}}
          </p>
        </div>
      </div>
    </div>
    <div class="bottom-btn fw">
        <a href="#/"><i class="fa fa-angle-down"></i></a>
    </div>
    <div class="ih-slider-row row">
        <div class="ih-slider-inner carousel-inner carousel slide carousel-fade full" data-ride="carousel">
            <div uib-carousel active="active" no-wrap="false" class="full fade in">
                <div uib-slide ng-repeat="slide in slides" index="$index" ng-style="{'background-image':'url(' + slide.large + ')'}">
                </div>
            </div>
        </div>
    </div>
</section>
