section.p3.ih-slider.container-fluid.fp.bkc-01(class='{{classes}}', ng-style="{'background-image':'url(' + slide.large + ')'}")
  div.container-fluid.inner-slider
    h1 {{listing.address}}
    div.ih-lg-divider
    div.flex-grid
      div.flex-6
        p {{cta}}
      div.flex-6
        a.pointer.btn.btn-primary get started
