section.p4.ih-slider.container-fluid.fp.bkc-01(class='{{classes}}')
  .greeting.container.text-center.fw.z2
    div
      img.img-circle(ng-src="{{agent.agentLogo}}", alt="{{agent.agentName}}")
    h1 {{listing.address}}
    p.lead {{listing.description}}
    p
      small.text-uppercase presented by: {{agent.agentName}}
  #nav.container.alt
    ul
      li
        a(href="#about") About Listing
      li
        a(href="#amenities") Home Amenities
      li
        a(href="#nearby") Nearby Places
      li
        a(href="#agent") About Agent
      li
        a(href="#testimonials") Testimonials
      li
        a(href="#lender") About Lender
      li
        a(href="#contact") Contact