section.s1.ih-slider.container-fluid
  // disabled
  .ih-comm-links.container.hidden
  //
  .ih-slider-row.s1.row
    .container
      .ih-slider-inner.carousel.slide.carousel-fade(id='{{slider}}', data-ride='carousel', no-pause='true')
        div(uib-carousel='', active='active', no-wrap='false')
          div(uib-slide='', ng-repeat='slide in slides', index='$index', style="background-image: url('{{slide.image}}');")
