<section class="s1 ih-slider container-fluid">
    <!-- disabled -->
    <div class="ih-comm-links container hidden"></div>
    <!---->
    <div class="ih-slider-row s1 row">
        <div class="container">
            <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel" no-pause="true">
              <div uib-carousel active="active" no-wrap="false">
                <div uib-slide ng-repeat="slide in slides" index="$index" style="background-image: url('{{slide.image}}');">
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
