<section class="s2 ih-slider container-fluid">
    <div class="ih-greeting container" ng-if="LandingComponent.showGreeting">
        <div class="ih-greeting-picture text-center">
            <img ng-src="{{agent.brokerageLogo}}" alt="{{agent.brokerage}}" />
        </div>
        <h1 class="text-center fs fw text-capitalize">{{LandingComponent.welcomeText}}</h1>
        <div class="ih-md-divider"></div>
        <p class="text-center col-md-6 col-md-offset-3">
            {{LandingComponent.greetingText}}
        </p>
        <div class="ih-narrative text-center row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showBuyAHome">
                <a href="{{LandingComponent.buyLink}}" class="ih-nar-btn btn btn-primary text-uppercase">
            {{LandingComponent.buyAHomeText}}
        </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showSellAHome">
                <a href="{{LandingComponent.sellLink}}" class="ih-nar-btn btn btn-primary text-uppercase">
            {{LandingComponent.sellAHomeText}}
        </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showJustAdvice">
                <a href="{{LandingComponent.adviceLink}}" class="ih-nar-btn btn btn-primary text-uppercase">
            {{LandingComponent.adviceText}}
        </a>
            </div>
        </div>
        <ih-landing-search configname="s3"></ih-landing-search>
    </div>
    <div class="bottom-btn fw">
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="ih-slider-row s2 row">
        <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
          <div uib-carousel active="active" no-pause="true">
            <div uib-slide ng-repeat="slide in slides" no-pause="true" index="$index" style="background-image: url('{{slide.image}}');">
            </div>
          </div>
        </div>
    </div>
</section>
