<section class="s3 ih-slider container-fluid">
    <div class="bottom-btn fw">
        <i class="fa fa-sort-desc"></i>
    </div>
    <div class="ih-slider-row s3 row">
        <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
          <div uib-carousel active="active" no-wrap="false">
            <div uib-slide ng-repeat="slide in slides" index="$index" style="background-image: url('{{slide.image}}');">
            </div>
          </div>
        </div>
    </div>
    <div class="ih-narrative text-center">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showBuyAHome">
            <a href="{{LandingComponent.buyLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.buyAHomeText}}
        </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showSellAHome">
            <a href="{{LandingComponent.sellLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.sellAHomeText}}
        </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showJustAdvice">
            <a href="{{LandingComponent.adviceLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.adviceText}}
        </a>
        </div>
    </div>
</section>
