section.s4.ih-slider.container-fluid
  .bottom-btn.fw
    i.fa.fa-angle-down
  .ih-slider-row
    .ih-slider-inner.carousel.slide.carousel-fade(id='{{slider}}', data-ride='carousel')
      div(uib-carousel='', active='active', no-wrap='false')
        div(uib-slide='', ng-repeat='slide in slides', index='$index', style="background-image: url('{{slide.image}}');")
          .carousel-caption
            h4 {{slide.header}}
            h5 {{slide.caption}}
            p
              small {{slide.text}}
            a.btn.btn-primary(href='{{slide.link}}') {{slide.linkText}}
