<section class="s4 ih-slider container-fluid">
    <div class="bottom-btn fw">
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="ih-slider-row">
        <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
            <div uib-carousel active="active" no-wrap="false" no-pause="true">
                <div uib-slide ng-repeat="slide in slides" index="$index" style="background-image: url('{{slide.image}}');">
                    <div class="carousel-caption">
                        <h4>{{slide.header}}</h4>
                        <h5>{{slide.caption}}</h5>
                        <p>
                          <small>{{slide.text}}</small>
                        </p>
                        <a class="btn btn-primary" href="{{slide.link}}">{{slide.linkText}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
