<section class="s5 ih-slider container-fluid">
    <div class="iha ih-greeting container" ng-if="LandingComponent.showGreeting">
        <div class="ih container ih-narrative text-center bf-gd-tp">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showBuyAHome">
                <a href="{{LandingComponent.buyLink}}" class="ih-nar-btn btn btn-primary fullw">
            {{LandingComponent.buyAHomeText}}
        </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showSellAHome">
                <a href="{{LandingComponent.sellLink}}" class="ih-nar-btn btn btn-primary fullw">
            {{LandingComponent.sellAHomeText}}
        </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showJustAdvice">
                <a href="{{LandingComponent.adviceLink}}" class="ih-nar-btn btn btn-primary fullw">
            {{LandingComponent.adviceText}}
        </a>
            </div>
        </div>
    </div>
    <div class="ih-slider-row row">
        <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
            <div uib-carousel active="active" no-wrap="false">
                <div uib-slide ng-repeat="slide in slides" index="$index" style="background-image: url('{{slide.image}}');">
                </div>
            </div>
        </div>
    </div>
</section>
