// THIS IS A TEMPORARY CONFIG, MADE FOR PHOENIX USERS
section.s1.ih-search
  .container
    .ih-search-inner
      h1.ih-header.text-center Find Your Home
      h3.ih-subheader.text-center.fs Search all {{LandingSearch.totalListings}} listings in the {{agent.city}} area.
      form(ng-submit='searchMLS()')
        fieldset
          .container-fluid
            .ih-main-search.row
              .ih-input-box.col-lg-15.col-md-15.col-sm-4.col-xs-12
                ih-dropdown#type(items='[{"name": "Single Family", "value": "Single Family"}, {"name": "Townhouse", "value": "Townhouse"}, {"name": "Condo", "value": "Condo"}, {"name": "Manufactured", "value": "Manufactured"}, {"name": "Land/Lot", "value": "Land"}]', name='Type', ng-model='filters.type', multi='true')
              .ih-input-box.col-lg-15.col-md-15.col-sm-4.col-xs-12
                ih-dropdown#city(items='[{"name": "Aguila", "value": "Aguila"}, {"name": "Ahwatukee", "value": "Ahwatukee"}, {"name": "Ajo", "value": "Ajo"}, {"name": "Alpine", "value": "Alpine"}, {"name": "Amado", "value": "Amado"}, {"name": "Anthem", "value": "Anthem"}, {"name": "Apache Junction", "value": "Apache Junction"}, {"name": "Arivaca", "value": "Arivaca"}, {"name": "Arizona City", "value": "Arizona City"}, {"name": "Arlington", "value": "Arlington"}, {"name": "Ash Fork", "value": "Ash Fork"}, {"name": "Avondale", "value": "Avondale"}, {"name": "Benson", "value": "Benson"}, {"name": "Bisbee", "value": "Bisbee"}, {"name": "Black Canyon City", "value": "Black Canyon City"}, {"name": "Buckeye", "value": "Buckeye"}, {"name": "Bullhead City", "value": "Bullhead City"}, {"name": "Camp Creek", "value": "Camp Creek"}, {"name": "Camp Verde", "value": "Camp Verde"}, {"name": "Carefree", "value": "Carefree"}, {"name": "Casa Grande", "value": "Casa Grande"}, {"name": "Castle Hot Springs", "value": "Castle Hot Springs"}, {"name": "Cave Creek", "value": "Cave Creek"}, {"name": "Chandler", "value": "Chandler"}, {"name": "Chino Valley", "value": "Chino Valley"}, {"name": "Christopher Creek", "value": "Christopher Creek"}, {"name": "Clarkdale", "value": "Clarkdale"}, {"name": "Clay Springs", "value": "Clay Springs"}, {"name": "Claypool", "value": "Claypool"}, {"name": "Cochise", "value": "Cochise"}, {"name": "Concho", "value": "Concho"}, {"name": "Congress", "value": "Congress"}, {"name": "Coolidge", "value": "Coolidge"}, {"name": "Cordes Lakes", "value": "Cordes Lakes"}, {"name": "Cornville", "value": "Cornville"}, {"name": "Cottonwood", "value": "Cottonwood"}, {"name": "Crown King", "value": "Crown King"}, {"name": "Desert Hills", "value": "Desert Hills"}, {"name": "Dewey", "value": "Dewey"}, {"name": "Dragoon", "value": "Dragoon"}, {"name": "Eagar", "value": "Eagar"}, {"name": "El Mirage", "value": "El Mirage"}, {"name": "Elfrida", "value": "Elfrida"}, {"name": "Elgin", "value": "Elgin"}, {"name": "Eloy", "value": "Eloy"}, {"name": "Flagstaff", "value": "Flagstaff"}, {"name": "Florence", "value": "Florence"}, {"name": "Forest Lakes", "value": "Forest Lakes"}, {"name": "Fort McDowell", "value": "Fort McDowell"}, {"name": "Fountain Hills", "value": "Fountain Hills"}, {"name": "Gila Bend", "value": "Gila Bend"}, {"name": "Gilbert", "value": "Gilbert"}, {"name": "Gisela", "value": "Gisela"}, {"name": "Glendale", "value": "Glendale"}, {"name": "Globe", "value": "Globe"}, {"name": "Gold Canyon", "value": "Gold Canyon"}, {"name": "Golden Valley", "value": "Golden Valley"}, {"name": "Goodyear", "value": "Goodyear"}, {"name": "Green Valley", "value": "Green Valley"}, {"name": "Greer", "value": "Greer"}, {"name": "Hackberry", "value": "Hackberry"}, {"name": "Happy Jack", "value": "Happy Jack"}, {"name": "Heber", "value": "Heber"}, {"name": "Hereford", "value": "Hereford"}, {"name": "Holbrook", "value": "Holbrook"}, {"name": "Kearny", "value": "Kearny"}, {"name": "Kingman", "value": "Kingman"}, {"name": "Kirkland", "value": "Kirkland"}, {"name": "Kohls Ranch", "value": "Kohls Ranch"}, {"name": "Lake Havasu City", "value": "Lake Havasu City"}, {"name": "Lakeside", "value": "Lakeside"}, {"name": "Laveen", "value": "Laveen"}, {"name": "Linden", "value": "Linden"}, {"name": "Litchfield Park", "value": "Litchfield Park"}, {"name": "Mammoth", "value": "Mammoth"}, {"name": "Maricopa", "value": "Maricopa"}, {"name": "Mayer", "value": "Mayer"}, {"name": "Mesa", "value": "Mesa"}, {"name": "Miami", "value": "Miami"}, {"name": "Mobile", "value": "Mobile"}, {"name": "Mormon Lake", "value": "Mormon Lake"}, {"name": "Morristown", "value": "Morristown"}, {"name": "Munds Park", "value": "Munds Park"}, {"name": "Naco", "value": "Naco"}, {"name": "New River", "value": "New River"}, {"name": "Nutrioso", "value": "Nutrioso"}, {"name": "Oro Valley", "value": "Oro Valley"}, {"name": "Outside Arizona", "value": "Outside Arizona"}, {"name": "Outside of USA", "value": "Outside of USA"}, {"name": "Overgaard", "value": "Overgaard"}, {"name": "Palo Verde", "value": "Palo Verde"}, {"name": "Paradise Valley", "value": "Paradise Valley"}, {"name": "Parks", "value": "Parks"}, {"name": "Paulden", "value": "Paulden"}, {"name": "Payson", "value": "Payson"}, {"name": "Peach Springs", "value": "Peach Springs"}, {"name": "Pearce", "value": "Pearce"}, {"name": "Peeples Valley", "value": "Peeples Valley"}, {"name": "Peoria", "value": "Peoria"}, {"name": "Phoenix", "value": "Phoenix"}, {"name": "Picacho", "value": "Picacho"}, {"name": "Pine", "value": "Pine"}, {"name": "Pinedale", "value": "Pinedale"}, {"name": "Pinetop", "value": "Pinetop"}, {"name": "Portal", "value": "Portal"}, {"name": "Prescott", "value": "Prescott"}, {"name": "Prescott Valley", "value": "Prescott Valley"}, {"name": "Quartzsite", "value": "Quartzsite"}, {"name": "Queen Creek", "value": "Queen Creek"}, {"name": "Queen Valley", "value": "Queen Valley"}, {"name": "Red Rock", "value": "Red Rock"}, {"name": "Rimrock", "value": "Rimrock"}, {"name": "Rio Verde", "value": "Rio Verde"}, {"name": "Safford", "value": "Safford"}, {"name": "Salome", "value": "Salome"}, {"name": "San Manuel", "value": "San Manuel"}, {"name": "San Simon", "value": "San Simon"}, {"name": "San Tan Valley", "value": "San Tan Valley"}, {"name": "Scottsdale", "value": "Scottsdale"}, {"name": "Sedona", "value": "Sedona"}, {"name": "Seligman", "value": "Seligman"}, {"name": "Sentinel", "value": "Sentinel"}, {"name": "Show Low", "value": "Show Low"}, {"name": "Sierra Vista", "value": "Sierra Vista"}, {"name": "Snowflake", "value": "Snowflake"}, {"name": "Spring Valley", "value": "Spring Valley"}, {"name": "Springerville", "value": "Springerville"}, {"name": "Stanfield", "value": "Stanfield"}, {"name": "Star Valley", "value": "Star Valley"}, {"name": "Strawberry", "value": "Strawberry"}, {"name": "Sun City", "value": "Sun City"}, {"name": "Sun City West", "value": "Sun City West"}, {"name": "Sun Lakes", "value": "Sun Lakes"}, {"name": "Sunflower", "value": "Sunflower"}, {"name": "Superior", "value": "Superior"}, {"name": "Surprise", "value": "Surprise"}, {"name": "Taylor", "value": "Taylor"}, {"name": "Tempe", "value": "Tempe"}, {"name": "Thatcher", "value": "Thatcher"}, {"name": "Tolleson", "value": "Tolleson"}, {"name": "Toltec", "value": "Toltec"}, {"name": "Tonopah", "value": "Tonopah"}, {"name": "Tortilla Flat", "value": "Tortilla Flat"}, {"name": "Truxton", "value": "Truxton"}, {"name": "Tubac", "value": "Tubac"}, {"name": "Tucson", "value": "Tucson"}, {"name": "Vail", "value": "Vail"}, {"name": "Valley Farms", "value": "Valley Farms"}, {"name": "Vernon", "value": "Vernon"}, {"name": "Waddell", "value": "Waddell"}, {"name": "Wenden", "value": "Wenden"}, {"name": "White Mountain Lake", "value": "White Mountain Lake"}, {"name": "Wickenburg", "value": "Wickenburg"}, {"name": "Wikieup", "value": "Wikieup"}, {"name": "Wilhoit", "value": "Wilhoit"}, {"name": "Willcox", "value": "Willcox"}, {"name": "Williams", "value": "Williams"}, {"name": "Winkelman", "value": "Winkelman"}, {"name": "Winslow", "value": "Winslow"}, {"name": "Wittmann", "value": "Wittmann"}, {"name": "Yarnell", "value": "Yarnell"}, {"name": "Young", "value": "Young"}, {"name": "Youngtown", "value": "Youngtown"}, {"name": "Yucca", "value": "Yucca"}, {"name": "Yuma", "value": "Yuma"}]', name='City', multi='true',ng-model='filters.city')
              .ih-input-box.col-lg-15.col-md-15.col-sm-6.col-xs-12
                input.ih-search-input.full(type='text', placeholder='Zip-code', name='propertyZip', ng-model='filters.zipcode')
              .ih-input-box.col-lg-15.col-md-15.col-sm-6.col-xs-12
                input.ih-search-input.full(type='text', placeholder='$ Min Price', name='propertyMinPrice', ng-model='filters.price_from')
              .ih-input-box.col-lg-15.col-md-15.col-sm-6.col-xs-12
                input.ih-search-input.full(type='text', placeholder='$ Max Price', name='propertyMaxPrice', ng-model='filters.price_to')
              #advancedSearchXS.ih-advanced-search.collapse
                .container-fluid
                  .row
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                      .ih-slide
                        label(for='#bedsFilter') Bedrooms
                        bootstrap-slider(name='bedsFilter', ng-model='filters.bedsRange', type='text', data-slider-min='1', data-slider-max='10', data-slider-step='1', data-slider-value='[1,10]', data-filter='bedsRange')
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                      .ih-slide
                        label(for='#bathsFilter') Baths
                        bootstrap-slider#bathsFilter(name='bathsFilter', ng-model='filters.bathsRange', type='text', data-slider-min='1', data-slider-max='15', data-slider-step='1', data-slider-value='[1,15]', data-filter='bathsRange')
                  .row
                    .ih-input-box.col-lg-6.col-md-6.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Address', name='propertyAddress', ng-model='filters.address')
                    .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Zip-code', name='propertyZip', ng-model='filters.zipcode')
                    .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='MLS #', name='propertyMLS', ng-model='filters.mls')
                  .row
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Subdivision', name='propertySubdivision', ng-model='filters.subdivision')
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Min Sqft', name='propertyMinSF', ng-model='filters.min_sqft')
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Max Sqft', name='propertyMaxSF', ng-model='filters.max_sqft')
                  .row
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      input.ih-search-input.full(type='text', placeholder='Min Lot Size (Acres)', name='propertyMinLot', ng-model='filters.min_acres')
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      ih-dropdown#numGarage(items='[{"name": "1 or more", "value": "1"}, {"name": "2 or more", "value": "2"}, {"name": "3 or more", "value": "3"}, {"name": "4 or more", "value": "4"}]', name='Garage Size', ng-model='filters.numGarage')
                    .ih-input-box.col-lg-4.col-md-4.col-sm-4.col-xs-12
                      ih-dropdown#stories(items='[{"name": "1 Story", "value": "1"}, {"name": "2 Stories", "value": "2"}, {"name": "3 Stories", "value": "3"}, {"name": "4 Stories", "value": "4"}]', name='Stories', ng-model='filters.stories')
                  .row
                    .ih-filter-box.col-lg-3.col-md-6.col-sm-12.col-xs-12
                      button.btn.btn-primary.full(type='button', data-toggle='button', aria-pressed='false', autocomplete='off', value='', name='propertyPool', ng-click="toggleButton($event, 'pool')")
                        | Pool
                    .ih-filter-box.col-lg-3.col-md-6.col-sm-12.col-xs-12
                      button.btn.btn-primary.full(type='button', data-toggle='button', aria-pressed='false', autocomplete='off', value='', name='propertyGated', ng-click="toggleButton($event, 'gated')")
                        | Gated
                    //- .ih-filter-row.col-lg-6.col-md-12.col-sm-12.col-xs-12
                      .btn-group
                        label.btn.btn-default(ng-class="filters.active != undefined && filters.active == true ? 'active' : ''")
                          input(type='checkbox', autocomplete='off', ng-model='filters.active')
                          |  Active
                        label.btn.btn-default(ng-class="filters.sold != undefined && filters.sold == true ? 'active' : ''")
                          input(type='checkbox', autocomplete='off', ng-model='filters.sold')
                          |  Sold
                        label.btn.btn-default(ng-class="filters.pending != undefined && filters.pending == true ? 'active' : ''")
                          input(type='checkbox', autocomplete='off', ng-model='filters.pending', ng-true-value='true', ng-false-value='false')
                          |  Pending
            .ih-search-btns.text-center
              button.btn.btn-primary(type='submit') Search
              .space
              a.btn.btn-default.ih-adv-toggle(role='button', data-toggle='collapse', href='#advancedSearchXS', aria-expanded='false', aria-controls='advancedSearchXS', onclick='event.preventDefault()')
                i.fa.fa-search
                |  Advanced Search
