<div class="ih-search s6 container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 search-toggle">
            <ul class="search-toggle-btns text-uppercase">
                <li>
                    <a data-toggle="" class="toggle-btn pointer hidden-xs hidden-sm" ng-click="toggleSearchTabs('find')"><span class="ih-ui-icon ih-ui-search"></span> find a home</a>
                    <a href="#/search-mls?active" class="toggle-btn pointer hidden-md hidden-lg"><span class="ih-ui-icon ih-ui-search"></span> find a home</a>
                </li>
                <li>
                    <a data-toggle="" class="toggle-btn pointer hidden-xs hidden-sm" ng-click="toggleSearchTabs('list')"><span class="ih-ui-icon ih-ui-home"></span> list a home</a>
                    <a href="#/sell" class="toggle-btn pointer hidden-lg hidden-md"><span class="ih-ui-icon ih-ui-home"></span> list a home</a>
                </li>
                <li>
                    <a data-toggle="" class="toggle-btn pointer hidden-xs hidden-sm" ng-click="toggleSearchTabs('contact')"><span class="ih-ui-icon ih-ui-mail"></span> contact us</a>
                    <a href="#/contact" class="toggle-btn pointer hidden-md hidden-lg"><span class="ih-ui-icon ih-ui-mail"></span> contact us</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 hidden-xs hidden-sm search-toggle">
            <div class="tab-content search-pane" ng-if="searchTab == 'find'">
                <h2 class="ih-subheader fw text-uppercase">start your search</h2>
                <form ng-submit="searchMLS()" class="search-form">
                    <fieldset>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="MLS #" name="propertyMLS" ng-model="filters.mls" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ih-dropdown items='[{"name": "Single Family", "value": "Single Family"}, {"name": "Townhouse", "value": "Townhouse"}, {"name": "Condo", "value": "Condo"}, {"name": "Manufactured", "value": "Manufactured"}, {"name": "Land/Lot", "value": "Land"}]'
                                        id="type" name="Type" ng-model="filters.type" multi="true"></ih-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="$ Min Price" name="propertyMinPrice" ng-model="filters.price_from" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="$ Max Price" name="propertyMaxPrice" ng-model="filters.price_to" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ih-dropdown items='[{"name": "Central", "value": "Central"}, {"name": "North", "value": "North"}, {"name": "Northwest", "value": "Northwest"}, {"name": "Northeast", "value": "Northeast"}, {"name": "East", "value": "East"}, {"name": "West", "value": "West"}, {"name": "South", "value": "South"}, {"name": "Southwest", "value": "Southwest"}, {"name": "Southeast", "value": "Southeast"}, {"name": "Extended Northeast", "value": "Extended Northwest"}, {"name": "Extended Northwest", "value": "Extended Northeast"}, {"name": "Extended South", "value": "Extended South"}, {"name": "Extended Southwest", "value": "Extended Southwest"},  {"name": "Extended West", "value": "Extended West"}, {"name": "Pima East", "value": "Pima East"},  {"name": "Pima Far West", "value": "Pima Far West"}, {"name": "Pima Northwest", "value": "Pima Northwest"}, {"name": "Pima South", "value": "Pima South"}, {"name": "Pima Southwest", "value": "Pima Southwest"}]'
                                        id="area" name="Area" multi="true" ng-model="filters.area"></ih-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="Min Beds" name="propertyMinBeds" ng-model="filters.min_beds" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="Max Beds" name="propertyMaxBeds" ng-model="filters.max_beds" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="Min Sqft" name="propertyMinSF" ng-model="filters.min_sqft" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <input type="text" class="ih-search-input full" placeholder="Max Sqft" name="propertyMaxSF" ng-model="filters.max_sqft" />
                                </div>
                            </div>
                            <div class="row ih-search-btns text-center">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-content sell-pane" ng-if="searchTab == 'list'">
                <ih-contact configname="f5"></ih-contact>
            </div>
            <div class="tab-content contact-pane" ng-if="searchTab == 'contact'">
                <ih-contact configname="f6"></ih-contact>
            </div>
        </div>
    </div>
</div>
