/* global */

.ih-resources {
  min-height: 500px;
  padding: 100px 0;
}

.rc-link {
  display: block;
  width: 100%;
  min-height: 400px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: 50%;
}

.rc-label h4 {
  font-size: 30px;
}

.rc-label p {
  margin: 20px 0;
}

.rc-label {
  text-transform: capitalize;
}

.rc-label a:hover {
  text-decoration: none;
}


/* s7 */

.s7.ih-resources .resource-frame {
  width: 900px;
  padding: 20px;
}

.s7.ih-resources .resource-frame>div {
  min-height: 325px;
}

.s7.ih-resources .rc-link {
  min-height: 250px;
  margin-bottom: 15px;
}


/* s8 */

.rc-block {
  height: 210px;
  background-color: #eee;
  margin-bottom: 25px;
  transition: .3s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.rc-block:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  background-position: 100% !important;
}


/* s11 */

.s11.ih-resources .post-block {
  background-color: #eee;
  padding: 15px;
}

.s11.ih-resources h1, .s11.ih-resources h2, .s11.ih-resources h3 {
  margin-top: 0;
}

.s11.ih-resources .post-block.featured, .s11.ih-resources .post-block.slim-featured {
  min-height: 420px;
}

.post-block.split-featured {
  min-height: 197px;
  margin-bottom: 25px;
}


/* responsive */

@media screen and (min-width: 1921px) {}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 376px) and (max-width: 768px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 426px) {}
@media screen and (max-width: 374px) {}
