section.p1.ih-amenities.flex-grid.fp
  .flex-5.image-fit(ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}")
    .ih.afull.fullh.bkc-01.tpt.amenities-accent.fw
      h1
        | {{listing.Details.address}}
        br
        small.fw.text-uppercase {{listing.Details.city}} {{listing.Details.state}} {{listing.Details.zipcode}}
      .price-badge.fc-01
        strong {{listing.Details.price | currency:undefined:0}}
      blockquote.fs
        | {{data.cta}}
      .btn-row
        ih-schedule-visit(listing="listing")
  .flex-7.amenities-box
    h1.ih-subheader.fc-02
      | Amenities at
      strong &nbsp;{{listing.Details.address}}
    p.fs
      | {{listing.Details.editableText}}
    .amenity-grid.flex-grid
      .amenity-container.pull-left(ng-repeat='amenity in amenities')
        .amenity-item
          span.ih-icon.fc-03(class='{{amenity.icon}}')
        .amenity-label.text-uppercase.text-muted.text-center
          small {{amenity.name}}
