<section class="p2 ih-amenities fp">
    <div class="container">
        <div class="row">
            <h1 class="ih-header text-center fc-02 text-uppercase">home amenities</h1>
        </div>
        <div class="row amenity-grid clearfix">
          <div class="amenity-container pull-left col-lg-15 col-md-15 col-sm-4 col-xs-12" ng-repeat="amenity in amenities">
              <div class="amenity-item">
                  <div class="icon-box text-center fc-03">
                    <span class="ih-icon {{amenity.icon}}"></span>
                  </div>
                  <div class="amenity-label fs text-uppercase text-muted text-center"><small>{{amenity.name}}</small></div>
              </div>
          </div>
        </div>
    </div>
</section>
