section.p3.ih-amenities.flex-grid.fw
  div.flex-4.header-inner
    h2.ih-header Home Amenities
    div.ih-sm-divider
  div.flex-8.amenities-inner.flex-grid
    div.flex-block.amenity(ng-repeat='amenity in amenities')
      div.icon-box
        span.ih-icon(class='{{amenity.icon}}')
      div.amenity-label.fs
        small {{amenity.name}}
