section.p6.ih-amenities.fw(ng-style="{'background-image': 'url(' + listing.Details.primaryPhoto.large + ')'}")
  span.image-div
    img(ng-src="{{listing.Details.primaryPhoto.large}}")
  div.container-fluid.section-inner
    h1.ih-header Home Amenities
    div.ih-sm-divider
    div.amenities-list
      div.flex-block.amenity(ng-repeat='amenity in amenities')
        div.icon-box
          span.ih-icon(class='{{amenity.icon}}')
        div.amenity-label
          small {{amenity.name}}
