<div class="ih-vis-modal modal fade account-modal" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content fp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-center" id="accountLabel" ng-hide="showRegister">Login</h2>
                <h2 class="modal-title text-center" id="accountLabel" ng-show="showRegister">Register</h2>
            </div>
            <div class="modal-body fs">
                <form name="register" ng-submit="register.$valid && submitRegister()" ng-show="showRegister">
                    <p class="lead text-center">
                        Create an account to save your favorite listings, searches, and continue to view properties.
                    </p>
                    <p class="lead text-center">
                        Fill out the information below to create an account.
                    </p>
                    <div class="form-group">
                        <label for="messageName">Your Name</label>
                        <input type="name" class="ih-form-input form-control" id="messageName" required ng-model="name">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="ih-form-input form-control" id="emailAddress" required ng-model="email">
                        <input type="text" class="hidden" ng-model="contact.confirmEmail" name="confirmEmail">
                    </div>
                    <div class="form-group">
                        <label for="accountPassword">Phone Number</label>
                        <input type="text" class="ih-form-input form-control" id="accountPassword" required ng-model="phone" placeholder="This will be your password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default inline-block" id="inhouseAgentUserCreate">Login</button>
                    </div>
                </form>
                <form name="login" ng-submit="login.$valid && submitLogin()" ng-hide="showRegister">
                    <h2 class="text-center">
                        Welcome back!
                      </h2>
                    <p class="text-center">
                        Sign-in below.
                    </p>
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="ih-form-input form-control" id="emailAddress" required ng-model="email">
                        <input type="text" class="hidden" ng-model="contact.confirmEmail" name="confirmEmail">
                    </div>
                    <div class="form-group">
                        <label for="accountPassword">Phone Number</label>
                        <input type="text" class="ih-form-input form-control" id="accountPassword" required ng-model="phone">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default inline-block" id="inhouseAgentUserCreate">Login</button>
                    </div>
                </form>
                <p class="text-center reg-divider">
                    <small ng-hide="showRegister">Don't have an account?</small>
                    <small ng-show="showRegister">Already have an account?</small>
                </p>
                <div class="text-center reg-btns">
                    <a href="" ng-click="showRegister=false" ng-show="showRegister">Login</a>
                    <a href="" ng-click="showRegister=true" ng-hide="showRegister">Register</a>
                </div>
            </div>
            <div class="modal-footer fo text-uppercase">
                <p class="text-center">
                    <small>
        Your information is not sold to anyone. All your information is kept confidential.
        <a href="#/privacy" class="block privacy-link clean-link" target="_blank">View Privacy Policy</a>
      </small>
                </p>
            </div>
        </div>
    </div>
</div>
