tmp/*
*.*~
*.swp
media/*
*.swo
commits.php
.DS_Store
*GruntFile.js
*README.md
*node_modules/
*bower_components/
vendor
.env
*.phar
.inhouse.assets.changelog.txt
scratch.htm
scratch.css
scratch/
scratch.styl
ua/
build/
