<section class="ih-content">
  <header class="ih-content-header">
    <!-- background editable by user -->
    <div class="container">
      <div>
        <!-- needs to match page title in html header -->
        <h1 class="inlineblock">About {{bioAgent.name}}</h1></div>
      <div>
        <h3 class="inlineblock">{{agent.teamName}}</h3></div>
    </div>
  </header>
  <div class="ih-content-inner container">

    <div class="row">
      <div class="ih content-loader col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="bio-image">
          <div class="image-loader">

          </div>
        </div>
        <span class="text-block"></span>
        <span class="text-block"></span>
        <hr>
        <span class="text-block"></span>
        <span class="text-block"></span>
        <span class="text-block"></span>
        <div class="ih-accent-divider clear"></div>
      </div>
      <div class="ih-content-body col-lg-9 col-md-9 col-sm-12 col-xs-12 hidden">
        <img class="bio-image" align="left" ng-src="{{bioAgent.headshot}}" alt="{{bioAgent.name}}" />
        <div class="ih ih-about-header">
          <h2>{{bioAgent.name}}</h2>
          <h6>{{bioAgent.title}}</h6>
          <div class="ih-social about-social text-center">
            <a href="mailto:{{bioAgent.contactEmail}}" class="ih-social-icon" ng-if="bioAgent.contactEmail !== undefined"><i class="fa fa-envelope"></i></a>
            <a href="{{bioAgent.facebook}}" class="ih-social-icon" ng-if="bioAgent.facebook !== undefined"><i class="fa fa-facebook"></i></a>
            <a href="{{bioAgent.linkedin}}" class="ih-social-icon" ng-if="bioAgent.linkedin !== undefined"><i class="fa fa-linkedin"></i></a>
            <a href="{{bioAgent.twitter}}" class="ih-social-icon" ng-if="bioAgent.twitter !== undefined"><i class="fa fa-twitter"></i></a>
            <a href="{{bioAgent.instagram}}" class="ih-social-icon" ng-if="bioAgent.instagram !== undefined"><i class="fa fa-instagram"></i></a>
            <a href="{{bioAgent.pinterest}}" class="ih-social-icon" ng-if="bioAgent.pinterest !== undefined"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
        <span ng-bind-html="bioAgent.bio | to_trusted"></span>
        <div class="ih-accent-divider clear"></div>
        <div class="ih-about-listings hidden">
          <!-- this will house a sold/active/featured listing slider for bioAgent -->
          <h1 class="ih-header text-center"> Listings</h1>
          <div class="ih-md-divider"></div>

        </div>
      </div>
      <div class="ih-side-panel col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel-group" id="sideAccordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#sideAccordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onClick="event.preventDefault()">
										Contact {{bioAgent.name}}
                  </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <ih-contact message="Get in Touch"></ih-contact>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#sideAccordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onClick="event.preventDefault()">
										{{bioAgent.name}}'s Recommendations 
                  </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#sideAccordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onClick="event.preventDefault()">
                    Resources
                  </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



</div>