<!DOCTYPE html>
<html ng-app="inhouseApp" ng-controller="mainView" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>{{agent.agentName}} | {{agent.teamName}} {{windowTitle}}</title>
  <link rel="icon" type="image/x-icon" href="ua/logos/favicon.ico" />
  <link rel="canonical" href="{{pageURL}}" />
  <meta itemprop="name" content="{{pageTitle}}" />
  <meta itemprop="url" content="{{pageURL}}" />
  <meta itemprop="thumbnailUrl" content="{{websiteImage}}" />
  <link rel="image_src" href="{{websiteImage}}" />
  <meta itemprop="image" content="{{websiteImage}}" />
  <meta name="twitter:title" content="{{pageTitle}}" />
  <meta name="twitter:image" content="{{websiteImage}}" />
  <meta name="twitter:url" content="{{pageURL}}" />
  <meta name="twitter:card" content="summary" />


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDBWvKLR4KXrh_O3nGJL3hF1wuZs0WgF-A"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="ia/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css" />
  <link href="ia/css/owl.carousel.css" type="text/css" rel="stylesheet" />

  <!-- ih styles -->
  <link href="ia/css/inhouse.css" rel="stylesheet" type="text/css" />
  <link href="ic/about/css/about.css" type="text/css" rel="stylesheet" />
  <link href="ic/featured-listings/css/featured-listings.css" type="text/css" rel="stylesheet" />
  <link href="ic/landing-search/css/search.css" type="text/css" rel="stylesheet" />
  <link href="ic/listing-loader/css/listing-loader.css" type="text/css" rel="stylesheet" />
  <link href="ic/navbar/css/navbar.css" type="text/css" rel="stylesheet" />
  <link href="ic/slider/css/slider.css" type="text/css" rel="stylesheet" />
  <link href="ic/resources/css/resources.css" type="text/css" rel="stylesheet" />
  <link href="ic/testimonials/css/testimonials.css" type="text/css" rel="stylesheet" />
  <link href="ic/contact/css/contact.css" type="text/css" rel="stylesheet" />

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- TODO seo and social tags NEEDS TO BE IMPLEMENTED -->

  <!-- sharing website -->
  <meta property="og:title" content="{{agent.agentName}} | {{agent.brokerage}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{websiteURL}}" />
  <meta property="og:image" content="{{websiteImage}}" />
  <meta property="fb:admins" content="{{agent.facebookID}}" />
  <meta property="og:site_name" content="{{windowTitle}}" />
  <meta property="og:description" content="{{agent.bio1}}" />
  <meta name="copyright" content="The programming and software materials herein are copyright of InHouse Real Estate Marketing (InHouse). The programming and software materials are owned, held, or licensed by InHouse. Personal, educational, non-commercial, commercial or any other use of these materials, without the written permission of InHouse, is strictly prohibited." />

  <!-- sharing a listing -->
  <meta property="og:title" content="{{listingAddress}} {{agent.agentName}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{listingURL}}" />
  <meta property="og:image" content="{{listingImage}}" />
  <meta property="fb:admins" content="{{agent.facebookID}}" />
  <meta property="og:site_name" content="{{agent.agentURL}}" />
  <meta property="og:description" content="{{listingDesc}}" />

  <!-- user dependent data -->
  <link href="ua/css/ih-brand.css" rel="stylesheet" type="text/css" />
  <script src="ua/data/user-data.js"></script>

</head>

<body class="{{story.bodyClasses}}" itemscope itemtype="http://schema.org/RealEstateAgent">

  <ih-navbar config="{{story.navbarConfig}}"></ih-navbar>
  
  <div class="ih-view-container">
    <div ng-view autoscroll="true" class="" id='main-view'></div>
  </div>

  <a href="#" class="ih-scroll-up"><span class="glyphicon glyphicon-chevron-up"></span></a>

  <ih-footer></ih-footer>

  <!-- visitor capture modal -->
  <a href="#/search-mls?page=1&my-listings" class="my-listings" ng-if="inhouseAgentUserLoggedIn">
    View My Listings  
  </a>
  <div class="modal fade account-modal" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountLabel">
    <div class="modal-dialog" role="document">
      <form name="visitorAccount" id="visitorAccount" ng-submit="submitNewUser()">
        <div class="modal-content fp">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title text-center" id="accountLabel">Save your searches and listings</h2>
          </div>
          <div class="modal-body">
            <p class="lead">
              Save your favorite listings, searches, and continue to view properties by entering your information below.
            </p>
            <p class="lead">
              Fill out the information below to create an account.
            </p>
            <div class="form-group">
              <label for="messageName">Full Name</label>
              <input type="name" class="ih-form-input form-control" id="messageName" required ng-model="newAgent.name">
            </div>
            <div class="form-group">
              <label for="emailAddress">Email Address</label>
              <input type="email" class="ih-form-input form-control" id="emailAddress" required ng-model="newAgent.email">
              <input type="text" class="hidden" ng-model="contact.confirmEmail" name="confirmEmail">
            </div>
            <div class="form-group">
              <label for="accountPassword">Phone Number</label>
              <input type="text" class="ih-form-input form-control" id="accountPassword" required ng-model="newAgent.phone">
            </div>
            <p class="text-center">
              <small>
                  All your information is kept confidential and is only viewable by a member of {{agent.teamName}}.
                  <a href="#/privacy" class="block" target="_blank">View Privacy Policy</a>
              </small>
            </p>
            <p class="text-center">
              <!-- should only appear the first time we ask for account info -->
              <small>
                  <span class="skip-box"><strong><em>Not Ready to make an account?</em></strong>
                      <br>
                      <a href="" data-dismiss="modal" aria-label="Close">Continue viewing <strong>3</strong> more listings.</a><!-- second attempt listing # should be set by agent -->  
                  </span>
              </small>
            </p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary inline-block" id="inhouseAgentUserCreate">Create Account</button>
          </div>
      </form>
      </div>
    </div>
  </div>

  <!-- vendor scripts -->
  <script src="https://cdn.getinhouse.io/js/smoothscroll.js"></script>
  <script src="vendor/owl.carousel.js"></script>
  <script src="vendor/bootstrap-slider.js"></script>

  <!-- inhouse/angular -->
  <script src="is/app.js"></script>
  <script src="is/api.js"></script>
  <script src="is/filters.js"></script>

  <!-- controllers -->
  <script src="is/controllers/landing-controller.js"></script>
  <script src="is/controllers/listing-controller.js"></script>
  <script src="is/controllers/search-controller.js"></script>
  <script src="is/controllers/bio-controller.js"></script>
  <script src="is/controllers/content-controller.js"></script>
  <script src="is/controllers/my-listings-controller.js"></script>
  <script src="is/controllers/privacy-controller.js"></script>

  <!-- components -->
  <script src="ic/slider/module/inhouse.slider.js"></script>
  <script src="ic/divider/module/inhouse.divider.js"></script>
  <script src="ic/landing-layout/module/inhouse.landing-layout.js"></script>
  <script src="ic/resources/module/inhouse.resources.js"></script>
  <script src="ic/testimonials/module/inhouse.testimonials.js"></script>
  <script src="ic/featured-listings/module/inhouse.featured-listings.js"></script>
  <script src="ic/navbar/module/inhouse.navbar.js"></script>
  <script src="ic/about/module/inhouse.about.js"></script>
  <script src="ic/landing-search/module/inhouse.landing-search.js"></script>
  <script src="ic/gmaps/module/inhouse.gmaps.js"></script>
  <script src="ic/dropdown/module/inhouse.dropdown.js"></script>
  <script src="ic/contact/module/inhouse.contact.js"></script>
  <script src="ic/bootstrap-slider/module/inhouse.bootstrap-slider.js"></script>
  <script src="ic/listing-loader/module/inhouse.listing-loader.js"></script>
  <script src="ic/listing-map/module/inhouse.listing-map.js"></script>
  <script src="ic/footer/module/inhouse.footer.js"></script>
  <script src="ic/partners/module/inhouse.partners.js"></script>
  <script src="ic/like-button/module/inhouse.like-button.js"></script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75858480-1', 'auto');
    ga('send', 'pageview');
  </script>


</body>

</html>
