
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="owl.carousel.min.js" type="text/javascript"></script>
 
<!-- Add the initialization JavaScript code here! -->
<script type="text/javascript">
$('#owl-resource3').owlCarousel({ // .owl-carousel is the element selector
  margin: 50, // gives space between carousel items
  responsive:{ // responsive behaviour
    0:{
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    992:{ // for example at 992 screen width, owl carousel will only show two items
      items:2,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    1200:{
      items:2,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    }
  }
})
</script> 

<!-- component 4 -->
<div class="container">
<div class="row text-center">
<h1 class="uppercase">Resources</h1>
</div>
<div class="divider text-center"></div>
<!-- Add Owl Carousel items here! -->
<div id="owl-resource4" class="owl-carousel">
	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row A" alt="" />
		<span class="overlay2">Blog</span>
		<span class="text-content"><span>Blog<p>This is where your blog posts and resources go This is where your blog posts and resources go</p>
		</span></span>
		</a>
	</div>
	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row A" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row B" alt="" />
		<span class="overlay2">Blog</span>
		<span class="text-content"><span>Blog<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>
	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row B" alt="" />
		<span class="overlay2">Resources</span>		
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row C" alt="" />
		<span class="overlay2">Blog</span>
		<span class="text-content"><span>Blog<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>
	<div class="img-list">		
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row C" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row D" alt="" />
		<span class="overlay2">Blog</span>
		<span class="text-content"><span>Blog<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>
	<div class="img-list">			
		<a href="#link">
		<img border="5" class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="owl.carousel.min.js" type="text/javascript"></script>
 
<!-- Add the initialization JavaScript code here! -->
<script type="text/javascript">
$('#owl-resource4').owlCarousel({ // .owl-carousel is the element selector
  margin: 0, // gives space between carousel items
  responsive:{ // responsive behaviour
    0:{
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    992:{ // for example at 992 screen width, owl carousel will only show two items
      items:2,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    1200:{
      items:4,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    }
  }
})
</script> 

<!-- component 5 --> 
<div class="container-small">
<div class="row text-center">
<h1>Resources</h1>
</div>
<div class="divider text-center"></div>
<!-- Add Owl Carousel items here! -->
<div id="owl-resource5" class="owl-carousel">
	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row A" alt="" />
		<span class="overlay">Blog</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>

		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row A" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content2"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row B" alt="" />
		<span class="overlay">Blog</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>

		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row B" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content2"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row C" alt="" />
		<span class="overlay">Blog</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>

		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row C" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content2"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	<div class="img-list">
		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row D" alt="" />
		<span class="overlay">Blog</span>
		<span class="text-content"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>

		<a href="#link">
		<img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
		<span class="overlay2">Resources</span>
		<span class="text-content2"><span>Resources<p>This is where your blog posts and resources go This is where your blog posts and resources go</p></span></span>
		</a>
	</div>

	
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="owl.carousel.min.js" type="text/javascript"></script>
 
<!-- Add the initialization JavaScript code here! -->
<script type="text/javascript">
$('#owl-resource5').owlCarousel({ // .owl-carousel is the element selector
  responsive:{ // responsive behaviour
    0:{
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    992:{ // for example at 992 screen width, owl carousel will only show two items
      items:2,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    1200:{
      items:2,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    }
  }
})
</script> 

<div class="row page-list"></div>

<!--component 6-->

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h1 class="text-center">How can we help?</h1>
			<div class="divider"></div>
			<div class="ih-contact-form">
					<form ng-submit="submitContact()" name="Contact" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
<!--								<div class="text-center alert alert-success fade in ng-binding ng-hide" ng-show="contactSent">
									<h3><strong>Thank You!</strong></h3>
									<hr> A member from the The Meridian Group will be in touch with you as soon as possible. You can also call <strong class="ng-binding">(520) 409-4990</strong>.
								</div>
								<div class="text-center alert alert-info fade in ng-hide" ng-show="contactSending">
									<h3><strong>Please wait..</strong></h3>
									<hr> We're sending your message...
								</div>
								<div class="text-center alert alert-danger fade in ng-binding ng-hide" ng-show="contactSendFailed">
									<h3><strong>We're sorry...</strong></h3>
									<hr> There was an issue sending your message. Please make sure you have entered a valid name and email address and try again. If this problem continues, please call us at (520) 409-4990. Sorry for the inconvenience.
								</div>
-->								
					  <!-- ngIf: noButtons == true -->
					  <div class="form-group">
						<h3><label for="messageName">Full Name</label></h3>
						<input type="name" class="ih-form-input form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="messageName" required="" ng-model="contact.name">
					  </div>
					  <div class="row">
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
						  <h3><label for="emailAddress">Email Address</label></h3>
						  <input type="email" class="ih-form-input form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" id="emailAddress" required="" ng-model="contact.email">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
						  <h3><label for="phoneNumber">Phone</label></h3>
						  <input type="phone" class="ih-form-input form-control ng-pristine ng-untouched ng-valid" id="phoneNumber" ng-model="contact.phone">
						</div>
						<input type="text" class="hidden ng-pristine ng-untouched ng-valid" ng-model="contact.confirmEmail" name="confirmEmail">
					  </div>
					  <div class="form-group">
						<h3><label for="textMessage">Message</label></h3>
						<textarea type="text" class="ih-form-input ih-textarea form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="textMessage" required="" ng-model="contact.message"></textarea>
					  </div>
					  <div class="text-center">
						<h3><button type="submit" class="btn btn-primary">Submit</button></h3>
					  </div>
					</form>
			</div>			
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="text-center space-top vertical">
				<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="headshot" class="img-square img-responsive center-block" src="ua/headshots/tanner-herbert-realtor.jpg">				
				<h3>Your Name</h3>
				<h3>Phone #</h3>
				<h3>Email</h3>
				<a href="#" class="ih-social-icon"><i class="fa fa-stack-overflow"></i></a>
				<a href="#" class="ih-social-icon"><i class="fa fa-twitter"></i></a>
				<a href="#" class="ih-social-icon"><i class="fa fa-facebook"></i></a>
				<a href="#" class="ih-social-icon"><i class="fa fa-google-plus"></i></a>				
			</div>
		</div>
	</div>
</div>

<!--component 7-->
<div class="container">
	<h1 class="text-center">How can we help?</h1>
	<div class="divider"></div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="ih-contact-form">
					<form ng-submit="submitContact()" name="Contact" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
<!--								<div class="text-center alert alert-success fade in ng-binding ng-hide" ng-show="contactSent">
									<h3><strong>Thank You!</strong></h3>
									<hr> A member from the The Meridian Group will be in touch with you as soon as possible. You can also call <strong class="ng-binding">(520) 409-4990</strong>.
								</div>
								<div class="text-center alert alert-info fade in ng-hide" ng-show="contactSending">
									<h3><strong>Please wait..</strong></h3>
									<hr> We're sending your message...
								</div>
								<div class="text-center alert alert-danger fade in ng-binding ng-hide" ng-show="contactSendFailed">
									<h3><strong>We're sorry...</strong></h3>
									<hr> There was an issue sending your message. Please make sure you have entered a valid name and email address and try again. If this problem continues, please call us at (520) 409-4990. Sorry for the inconvenience.
								</div>
-->
								<!-- ngIf: noButtons == true -->
					  <div class="form-group">
						<h3><label for="messageName">Full Name</label></h3>
						<input type="name" class="ih-form-input form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="messageName" required="" ng-model="contact.name">
					  </div>
					  <div class="row">
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
						  <h3><label for="emailAddress">Email Address</label></h3>
						  <input type="email" class="ih-form-input form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" id="emailAddress" required="" ng-model="contact.email">
						</div>
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
						  <h3><label for="phoneNumber">Phone</label></h3>
						  <input type="phone" class="ih-form-input form-control ng-pristine ng-untouched ng-valid" id="phoneNumber" ng-model="contact.phone">
						</div>
						<input type="text" class="hidden ng-pristine ng-untouched ng-valid" ng-model="contact.confirmEmail" name="confirmEmail">
					  </div>
					  <div class="form-group">
						<h3><label for="textMessage">Message</label></h3>
						<textarea type="text" class="ih-form-input ih-textarea form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="textMessage" required="" ng-model="contact.message"></textarea>
					  </div>
					  <div class="text-center">
						<h3><button type="submit" class="btn btn-primary">Submit</button></h3>
					  </div>
					</form>
			</div>			
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical">
			<span class="space-top vertical">Tell your story, background, experience. Tell your story, background, experience.
			 Tell your story, background, experience. Tell your story, background, experience.
			  Tell your story, background, experience. Tell your story, background, experience.
			   Tell your story, background, experience. Tell your story, background, experience.
			</span> 
		</div>
	</div>
</div>


<!-- component 8a -->
<div id="map" style="width:100%;height:400px"></div>
<div class="site-page">
<div class="container">
<div class="row">
<div class="col-xs-12">
	<main id="main">
		<div class="page-list" clearfix">
			<div class="row">
				<div class="col-xs-6 col-lg-7">
					<h3 class="header">X Properties Found</h3>
				</div>
				<div class="col-xs-6 col-lg-5">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle sort-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">Default Order</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Sort by Price Low to High</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Sort by Price High to Low</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Sort by Date Old to New</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Sort by Date New to Old</a></li>
						</ul>
						</div>
				</div>
			</div>
		</div>
		<div class="row">			
			<article>
				<div class="property-img col-sm-4 no-horizontal-padding">
					<a href="link"> <img width="600" height="600" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=House1" class="img-responsive img-border" alt=""/> </a>
				</div>
				<div class="property-data col-sm-8 background-color">
					<header>
						<h3>Example Home3</h3>
					</header>
					<div class="hidden-lg">
						<span>Price</span>
						<span>$$$</span>
					</div>
					<p class="visible-lg-inline-block">
						"Visible Address Here"
					</p>
					<div class="clearfix">
						<div class="meta-item meta-item-label">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>						
					</div>							
				</div>
				<div class="property-description visible-lg-inline-block hidden-md hidden-sm hidden-xs background-white">
					<h4>Description</h4>
					<p> Example description </p>
					<div>
						<span>Price</span>
						<span>$$$</span>
					</div>
					<a class="btn-default" href="link">
						"Show Details"
					</a>
				</div>
			</article>
		</div>	

		<div class="row">			
			<article>
				<div class="property-img col-sm-4 no-horizontal-padding">
					<a href="link"> <img width="600" height="600" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=House2" class="img-responsive img-border" alt=""/> </a>
				</div>
				<div class="property-data col-sm-8 background-color">
					<header>
						<h3>Example Home3</h3>
					</header>
					<div class="hidden-lg">
						<span>Price</span>
						<span>$$$</span>
					</div>
					<p class="visible-lg-inline-block">
						"Visible Address Here"
					</p>
					<div class="clearfix">
						<div class="meta-item meta-item-label">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>						
					</div>							
				</div>
				<div class="property-description visible-lg-inline-block hidden-md hidden-sm hidden-xs background-white">
					<h4>Description</h4>
					<p> Example description </p>
					<div>
						<span>Price</span>
						<span>$$$</span>
					</div>
					<a class="btn-default" href="link">
						"Show Details"
					</a>
				</div>
			</article>
		</div>
		
		<div class="row">			
			<article>
				<div class="property-img col-sm-4 no-horizontal-padding">
					<a href="link"> <img width="600" height="600" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=House3" class="img-responsive img-border" alt=""/> </a>
				</div>
				<div class="property-data col-sm-8 background-color">
					<header>
						<h3>Example Home3</h3>
					</header>
					<div class="hidden-lg">
						<span>Price</span>
						<span>$$$</span>
					</div>
					<p class="visible-lg-inline-block">
						"Visible Address Here"
					</p>
					<div class="clearfix">
						<div class="meta-item meta-item-label">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>
						<div class="meta-item">
							<i class="fa fa-star-o"></i>
							<div class="">
								<span class="meta-item-label">Area</span>
								<span>SQ FT</span>
							</div>
						</div>						
					</div>							
				</div>
				<div class="property-description visible-lg-inline-block hidden-md hidden-sm hidden-xs background-white">
					<h4>Description</h4>
					<p> Example description </p>
					<div>
						<span>Price</span>
						<span>$$$</span>
					</div>
					<a class="btn-default" href="link">
						"Show Details"
					</a>
				</div>
			</article>
		</div>	
	</main>
</div>
</div>
</div>
</div>

<script>
var mapCanvas = document.getElementById("map");
var mapOptions = {
    center: new google.maps.LatLng(51.5, -0.2), zoom: 10
}
var map = new google.maps.Map(mapCanvas, mapOptions);
</script>

<!-- component 8b --> 
<div class="container">

<div class="row">
<!-- Add Owl Carousel items here! -->
<div id="owl-resource8" class="owl-carousel col-xs-12 col-sm-12 col-md-12 col-lg-8">
	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row A" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>
	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row A" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>

	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row B" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>
	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row B" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>

	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row C" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>
	<div>			
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row C" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>

	<div>
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row D" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>
	<div>			
		<a href="#link">
		<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
		</a>
			<div class="">
				<h2><a href="#/link">Clickable Link</a></h2>
				<p>Body Text</p>
			</div>
	</div>

	
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 background-color">
	<div>
		<header>
			<h1>House Name</h1>
			<span>$$$</span>
		</header>
	</div>
	<div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>
		<div class="meta-item">
			<h2>Meta item</h2>
		</div>		
	</div>
	<div class="favorite-and-print">
		<a id="add-to-favorite" class="add-to-fav" href="#"><i class="fa fa-star-o"></i><span>Add to Favorites</span></a>
		<a class="printer-icon " href="javascript:window.print()"><i class="fa fa-print"></i>Print</a>
	</div>	
</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<h3>Description</h3>
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<h3>Contact Agent</h3>
</div>

</div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="owl.carousel.min.js" type="text/javascript"></script>
 
<!-- Add the initialization JavaScript code here! -->
<script type="text/javascript">
$('#owl-resource8').owlCarousel({ // .owl-carousel is the element selector
  responsive:{ // responsive behaviour
    0:{
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    992:{ // for example at 992 screen width, owl carousel will only show two items
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    },
    1200:{
      items:1,
	nav:true,
	navText: [
		"<i class='glyphicon glyphicon-chevron-left'></i>",
		"<i class='glyphicon glyphicon-chevron-right'></i>"],
	loop:true,
	pagination:true
    }
  }
})
</script> 


<!-- component 9a -->



<!-- component 9b -->
<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h1>"
			Name
			"
			<small>1234 address st</small>
		</h1>
		<div class="pull-right">
			<a href="#"><i class="social-icon fa fa-stack-overflow"></i></a>
			<a href="#"><i class="social-icon fa fa-twitter"></i></a>
			<a href="#"><i class="social-icon fa fa-facebook"></i></a>
			<a href="#"><i class="social-icon fa fa-google-plus"></i></a>
		</div>
		<!-- carousel div -->		
		<div>
		<h3> Carousel Here </h3>	
		</div>
		<!-- thumbnails div -->
		<div>
		<h3> Thumbnails Here</h3>
		</div>
		<!-- property summary -->
			<div class="row">
				<!-- property detail -->
				<div class="col-md-4">
					<h3>Property Detail</h3>

				</div>
				<!-- property description -->
				<div class="col-md-8">
					<h3>Property Description</h3>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
				<!-- property features -->
				<div>
					<h3>Property Features</h3>
				</div>
				<!-- property video -->
				<div>
					<h3>Property Video</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/OI2hGfOelMY"></iframe>
					</div>					
				</div>
				<!-- property map -->
				<div>
					<h3>Property Map</h3>
					<div id="map2" style="width:100%;height:400px"></div>
				</div>
		</div>
		<!-- agent info -->
		<div>
			<h3>Agent Info</h3>
		</div>
		<!-- similar property -->
		<div>
			<h3>Similar Property</h3>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h1>Find Property</h1>
		<!-- side bar -->
		<div class="">
		<!-- 6 dropdown components -->
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
		  </ul>	
		</div>		
		<!-- 2 range sliders -->
		<h3>Price</h3>
		<input type="range" value="0"/>
		<h3>Area</h3>
		<input type="range" value="0"/>
		<button>Search Property</button>
		</div>
		<!-- recent property -->
		<div>
			<h3>Recent Property</h3>
			<div>
				<ul>
					<li>
						<div>
						<a href="#link">
						<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
						</a>						
						</div>
						<div>
						<span><a href="#">For Sale</a></span>
						<h4><a href="#" title="Address">Address</a></h4>
						</div>
					</li>
					<li>
						<div>
						<a href="#link">
						<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
						</a>						
						</div>
						<div>
						<span><a href="#">For Sale</a></span>
						<h4><a href="#" title="Address">Address</a></h4>						
						</div>
					</li>
					<li>
						<div>
						<a href="#link">
						<img src="http://placehold.it/200x200/42bdc2/FFFFFF&text=2nd Row D" alt="" />
						</a>						
						</div>
						<div>
						<span><a href="#">For Sale</a></span>
						<h4><a href="#" title="Address">Address</a></h4>
						</div>
					</li>					
		</div>
	</div>
</div>
<script>
var mapCanvas2 = document.getElementById("map2");
var mapOptions2 = {
    center: new google.maps.LatLng(51.5, -0.2), zoom: 10
}
var map2 = new google.maps.Map(mapCanvas2, mapOptions);
</script>

</body>
</html>