/* s1 */
.s1.ih-about {
  position: relative;
  min-height: 500px;
}
.s1 .ih-team {
  position: relative;
  margin: 50px 0;
}
.s1.ih-about .ih-header {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.s1 .ih-headshot img {
  width: 225px;
  margin-bottom: 35px;
  transition: .3s;
  text-align: center;
  display: inline-block;
  border: 5px solid #fff;
}
.s1 .ih-headshot img:hover {
  border: 10px solid #fff;
}
.s1 .ih-headshot a:hover,
.s1 .ih-headshot a:active,
.s1 .ih-headshot a:focus {
  text-decoration: none;
}
.s1 .ih-teammate-name {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 35px;
}
/* s2 */
.s2.ih-about {
  position: relative;
  margin-top: 130px;
  min-height: 300px;
  padding-bottom: 70px;
}
.s2.ih-about .img-square {
  border: 10px solid rgba(0, 0, 0, 0.2);
}
.s2.ih-about h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.s2.ih-about .about-social {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 15px;
}
/* s3 */
.s3.ih-about {
  margin: 150px auto;
}
.s3.ih-about .container {
  width: 800px;
}
.s3 .ih-about-inner p {
  margin-top: 50px;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 35px;
  column-gap: 35px;
}
.s3.ih-about .tagline {
  margin-top: 0;
  font-size: 30px;
}
.s3.ih-about .ih-headshot>a {
  display: block;
  min-height: 200px;
  background-color: #eee;
}
.s3 .ih-teammate-name {
  font-size: 16px;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
}


/* s5 */
.s5.ih-about {
  position: relative;
  padding: 70px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.s5 .agent-card {
  display: block;
  height: 260px;
}
.s5 .agent-card>a {
  background-size: cover;
  background-repeat: none;
  background-position: 50%;
}
.s5 .agent-hover {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: .3s;
}
.s5 .agent-hover:hover {
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  opacity: 1;
}
.s5 .agent-icon {
  bottom: 10px;
  right: 15px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.s5 .agent-hover>strong {
  display: block;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}
.s5 .agent-row {
  margin-top: 25px;
}

/* s6 */
.s6.ih-about {
  margin: 200px 0;
  padding: 50px 0;
}
.s6.ih-about .ih-md-divider {
  display: none;
}
.s6.ih-about .tab-content {
  border: 0;
  padding: 0;
  margin-top: 25px;
}
.s6.ih-about .nav-justified {
  margin: 30px 0;
}
.s6.ih-about .tab-pane {
  padding: 0;
}
.s6.ih-about .ih-bio-img {
  margin-top: 30px;
}

/*** *** responsive *** ***/
@media screen and (min-width: 1921px) {}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .ih-about .ih-header { width: 95%; }
  .ih-about-inner { margin: 0 auto; }  
  .ih-about .col-lg-4 {
    text-align: center;
  }
  .ih-about img {
    display: inline-block;
    width: 260px;
  }    
  /* s2 */
  .s2.ih-about .ih-header {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .ih-about-header { clear: both; }  
}
@media screen and (max-width: 375px) {}