section.s1.ih-listing
  .container
    .container-fluid
      .row
        ih-listing-slider(config='f1').col-lg-8.col-md-8.col-sm-8.col-xs-12.nopad-l
        .ih-listing-map.col-lg-4.col-md-4.col-sm-4.col-xs-12.hidden-xs
          .ih-gmap.full
            ih-gmaps.full
      .ih-listing-images.row
        ih-owl.ih-nav-carousel.owl-carousel.ih-owl-carousel(items='listing.photos', responsive='responsive')
          .item.ih-owl-thumbnail(ng-repeat='home in listing.photos')
            img.fit-image.ih-owl-thumbnail(ng-src='{{home.thumb}}', alt='{{home.caption}}')
      .ih-listing-factbar.row
        .ih-listing-addr.col-lg-6.col-md-6.col-sm-12.col-xs-12
          ih-like-button.pull-left(mls='{{listing.mls}}', address="{{listing['Building Address']}}")
          .pull-left
            h2.fs {{listing.address}}
            h4.fs {{listing.city}} {{listing.state}} {{listing.zipcode}}
        .ih-listing-dets.col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right
          h2.fs {{listing.price | currency:"$":0}}
          h4.fs
            | {{listing.beds}} BEDS | {{listing.baths}} BATHS | {{listing.sqft | number}} SQFT
    .ih-sm-divider.ih-ext-divider
    .ih-listing-details
      .ih-listing-description.container-fluid
        .row
          .ih.col-lg-6.col-md-6.col-sm-6.col-xs-12
            p
              strong.text-uppercase About this listing:
          .ih.col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right
            .share-btns
              strong
                span.text-muted.text-uppercase Share on:
              a.ih-social-icon(href='https://www.facebook.com/sharer/sharer.php?u={{shareUrl|encode}}', target='_blank')
                i.fa.fa-facebook
              a.ih-social-icon(href='https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl|encode}}', target='_blank')
                i.fa.fa-linkedin
              a.ih-social-icon(href='https://twitter.com/home?status={{shareUrl|encode}}', target='_blank')
                i.fa.fa-twitter
              a.ih-social-icon(href='https://plus.google.com/share?url={{shareUrl|encode}}', target='_blank')
                i.fa.fa-google-plus
        p {{listing.publicRemarks | sentence}}
        p.small.text-uppercase
          | Listing Information Courtesy of:
          strong {{listing.brokerage}}
      .ih-sm-divider.ih-ext-divider
      ih-listing-details
    .ih-listing-contact
      .row
        .ih-listing-form.col-lg-6.col-md-6.col-sm-12.col-xs-12
          ih-contact(configname='f1', message='"Questions about this listing?"', nobuttons='true', prefill='mls', prefillprefix="I'd like more information about MLS #")
        .ih-listing-documents.col-lg-6.col-md-6.col-sm-12.col-xs-12
          h3 Listing Documents/Downloads
          .ih-docs
            ul.nav.nav-tabs.nav-justified(role='tablist')
              li.active(role='presentation')
                a(href='#mlsDocs', aria-controls='mlsDocs', role='tab', data-toggle='tab', onclick='event.preventDefault()') Listing Documents
              li(role='presentation')
                a(href='#canvasDocs', aria-controls='canvasDocs', role='tab', data-toggle='tab', onclick='event.preventDefault()') Agent Attachments
            .tab-content
              #mlsDocs.tab-pane.active(role='tabpanel')
                div(ng-repeat='doc in listing.documents')
                  a.ih-doc(href='{{doc.Uri}}', target='_blank')
                    i.fa.fa-file-o
                    |  {{doc.Name}}
              #canvasDocs.tab-pane(role='tabpanel')
                div(ng-repeat='doc in listing.canvasDocuments')
                  a.ih-doc(href='{{doc.Uri}}', target='_blank')
                    i.fa.fa-file-o
                    |  {{doc.Name}}
