section.s2.ih-listing
  .container-fluid
    .col-lg-5.col-md-5.hidden-sm.hidden-xs.fullh.map-pane
      ih-gmaps.full
    .col-lg-7.col-md-7.col-sm-12.col-xs-12.fullh.listing-pane
      .container-fluid
        ih-listing-slider(config='f1')
      .ih-listing-images
        ih-owl.ih-nav-carousel.owl-carousel.ih-owl-carousel(items='listing.Details.photos', responsive='responsive')
          .item.ih-owl-thumbnail(ng-repeat='home in listing.Details.photos')
            img.img-responsive.ih-owl-thumbnail(ng-src='{{home.thumb}}', alt='{{home.caption}}')
      .ih-listing-factbar.container-fluid
        .ih-listing-addr.col-lg-6.col-md-6.col-sm-12.col-xs-12
          ih-like-button.pull-left.bkc-02.fw(mls='{{listing.Details.mls}}', address="{{listing['Building Address']}}")
          .pull-left
            h2.fp {{listing.Details.address}}
            h4.fs.text-uppercase {{listing.Details.city}} {{listing.Details.state}} {{listing.Details.zipcode}}
        .ih-listing-dets.col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right
          h2.fp {{listing.Details.price | currency:"$":0}}
          h4.fs
            | {{listing.Details.beds}} BEDS | {{listing.Details.baths}} BATHS | {{listing.Details.sqft | number}} SQFT
      .ih-listing-details.container-fluid
        .ih-listing-description.fs
          .row
            .ih.col-lg-6
              p
                strong.text-uppercase.fp About this listing:
            .ih.col-lg-6.text-right
              ih-social-buttons(mls="listing.Details.mls", user="user")
          p.fs {{listing.Details.publicRemarks | sentence}}
          p.small.text-uppercase.fs
            | Listing Information Courtesy of:
            strong {{listing.Details.brokerage}}
        .ih-sm-divider.ih-ext-divider
        ih-listing-details(listing='listing')
      .container-fluid.hidden-lg.hidden-md.mobile-map
        ih-gmaps.full
      .ih-listing-contact.container-fluid
        .ih-listing-form.col-lg-8.col-md-12.col-sm-12.col-xs-12
          h3 Questions about this listing?
          ih-contact(configname='f1', message='"Questions about this listing?"', nobuttons='true', prefill='mls', prefillprefix="I'd like more information about MLS #")
        .ih-listing-documents.col-lg-4.col-md-12.col-sm-12.col-xs-12
          h3 Listing Documents
          .ih-docs
            ul.nav.nav-tabs.nav-justified(role='tablist')
              li.active(role='presentation')
                a(href='#mlsDocs', aria-controls='mlsDocs', role='tab', data-toggle='tab', onclick='event.preventDefault()') Listing Documents
              li(role='presentation')
                a(href='#canvasDocs', aria-controls='canvasDocs', role='tab', data-toggle='tab', onclick='event.preventDefault()') Agent Attachments
            .tab-content
              #mlsDocs.tab-pane.active(role='tabpanel')
                div(ng-repeat='doc in listing.Details.documents')
                  a.ih-doc(href='{{doc.Uri}}', target='_blank')
                    i.fa.fa-file-o
                    |  {{doc.Name}}
              #canvasDocs.tab-pane(role='tabpanel')
                div(ng-repeat='doc in listing.Details.canvasDocuments')
                  a.ih-doc(href='{{doc.Uri}}', target='_blank')
                    i.fa.fa-file-o
                    |  {{doc.Name}}
