<section class="jj resources {{classes}}">
  <div class="container">
    <h1 class="ih-header text-center">New Homes</h1>
    <div class="row subs">
      <div class="ih sub-link col-lg-6 col-md-6 col-sm-12 col-xs-12" id="wildcat">
        <a href="#/wildcat-pass" class="bk-gd">
          <h3 class="sub-title fp">
            Wildcat Pass
          </h3>
          <div class="ih-sm-divider"></div>
          <p class="text-center fs">
            2,420 to 3,229 sqft. from the low $500's
          </p>
          <span class="badge">
            View New Homes
          </span>
        </a>
      </div>
      <div class="ih sub-link col-lg-6 col-md-6 col-sm-12 col-xs-12" id="merlita">
        <a href="#/rancho-merlita" class="bk-gd">
          <h3 class="sub-title fp">
            Rancho Merlita
          </h3>
          <div class="ih-sm-divider"></div>
          <p class="text-center fs">
            2,383 to 2,605 sqft. from the low $500's
          </p>
          <span class="badge">
            View New Homes
          </span>
        </a>
      </div>
      <div class="ih sub-link col-lg-6 col-md-6 col-sm-12 col-xs-12" id="milano">
        <a href="#/villa-milano" class="bk-gd">
          <h3 class="sub-title fp">
            Villa Milano
          </h3>
          <div class="ih-sm-divider"></div>
          <p class="text-center fs">
            1,840 to 2,740 sqft. starting at $337,000
          </p>
          <span class="badge">
            View New Homes
          </span>
        </a>
      </div>
      <div class="ih sub-link col-lg-6 col-md-6 col-sm-12 col-xs-12" id="boulder">
        <a href="#/boulder-pass" class="bk-gd">
          <h3 class="sub-title fp">
            Boulder Pass
          </h3>
          <div class="ih-sm-divider"></div>
          <p class="text-center fs">
            2,170 to 3,127 sqft. starting at $418,900
          </p>
          <span class="badge">
            View New Homes
          </span>
        </a>
      </div>
    </div>
    <div class="row val">
      <div class="val-form">
        <h1 class="ih-header text-center">Find Your Home's Value</h1>
        <p class="text-center">
          Get three different value estimates for your home instantly.
        </p>
        <div class="value-input">
          <form method="get" action="http://www.longrealty.com/pages/automated-home-value-estimates">
            <fieldset>
              <input class="ih-input" type="text" id="valueTool" name="address" placeholder="i.e. 123 Your Street, City, State Zipcode">
              <input class="hidden" type="hidden" name="c" value="Long">
              <input class="hidden" type="hidden" name="src" value="cweb">
              <input class="hidden" type="hidden" name="s" value="1">
              <input class="hidden" type="hidden" name="h" value="0">
              <input class="hidden" type="hidden" name="agtnam" value="Janell%20Jellison">
              <input class="hidden" type="hidden" name="lem" value="janell@janelljellison.com">
              <button class="ih-btn" type="submit" id="valueSubmit" formtarget="_blank">GET ESTIMATE</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>