<section class="po ih-resources {{classes}}" data-uk-scrollspy="{cls:'uk-animation-fade', delay:150}">
  <div class="container">
    <h1 itemprop="name" class="ih-header text-center">homes for heroes</h1>
    <div class="ih-md-divider"></div>
    <h1 class="tagline fc-01 fs text-center">
       <em>Our Team gives discounts to heroes in several categories including those who serve in the military.</em>
      <p class="text-center"><em><small>Find out if you qualify.</small></em></p>
    </h1>
    <div class="row text-center resources-inner">
      <div class="col-lg-15 col-md-15 col-sm-6 col-xs-12 resource-block">
        <a href="#/{{link}}" class="resource-link block full">
          <div class="resouce-label">
            <span class="text-uppercase">Military</span>
            <br>
            <small>Retired/Active</small>
          </div>
          <img src="ua/images/military.svg" alt="hero info here" />
        </a>
      </div>
      <div class="col-lg-15 col-md-15 col-sm-6 col-xs-12 resource-block">
        <a href="#/{{link}}" class="resource-link block full">
          <div class="resouce-label">
            <span class="text-uppercase">Medical</span>
            <br>
            <small>Nurses/?</small>
          </div>
          <img src="ua/images/nurse.svg" alt="hero info here" />
        </a>
      </div>
      <div class="col-lg-15 col-md-15 col-sm-6 col-xs-12 resource-block">
        <a href="#/{{link}}" class="resource-link block full">
          <div class="resouce-label">
            <span class="text-uppercase">Police</span>
            <br>
            <small>?</small>
          </div>
          <img src="ua/images/police.svg" alt="hero info here" />
        </a>
      </div>
      <div class="col-lg-15 col-md-15 col-sm-6 col-xs-12 resource-block">
        <a href="#/{{link}}" class="resource-link block full">
          <div class="resouce-label">
            <span class="text-uppercase">Service Members</span>
            <br>
            <small>Border Patrol/Firemen</small>
          </div>
          <img src="ua/images/fireman.svg" alt="hero info here" />
        </a>
      </div>
      <div class="col-lg-15 col-md-15 col-sm-6 col-xs-12 resource-block">
        <a href="#/{{link}}" class="resource-link block full">
          <div class="resouce-label">
            <span class="text-uppercase">Teachers</span>
            <br>
            <small>?</small>
          </div>
          <img src="ua/images/teacher.svg" alt="hero info here" />
        </a>
      </div>
    </div>
    <p class="text-center fp text-uppercase">
      click on a hero to learn more
    </p>
    <div class="ih-md-divider"></div>
    <div class="text-center">
      <img src="ua/logos/homeforheroes.svg" alt="Home for Heroes Logo" />
    </div>
  </div>
</section>