<div class="s1 ih-resources">
  <h1 class="ih-header text-center">Helpful Resources</h1>
  <div class="ih-md-divider"></div>
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-repeat="(key, content) in resources | limitTo: 4">
      <a href="#/{{content.key || key}}" class="rc-link" style="background-image: url('{{content.thumb}}')"></a>
      <div class="rc-label">
        <h4><a href="#/{{content.key || key}}"><i class="fa fa-caret-right"></i> {{content.title}}</a></h4>
        <p>
          {{content.sub}}
        </p>
      </div>
    </div>
  </div>
</div>