<section class="s3 resources">
  <div class="container">
    <div class="row text-center">
      <h1 class="uppercase">Resources</h1>
    </div>
    <div class="divider text-center"></div>
  </div>
  <div id="s3Resources" class="owl-carousel">
    <!-- repeat -->
    <div class="item">
      <a ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}' open-tab>
        <img class="img-border" src="http://placehold.it/200x200/42bdc2/FFFFFF&text=1st Row A" alt="" />
      </a>
      <div class="">
        <h2><i class="fa fa-square small-font" aria-hidden="true"></i><a href="#/link">{{content.title}}</a></h2>
        <div class="divider-lg"></div>
        <p>{{content.sub}}</p>
      </div>
	</div>
  </div>
</section>
