<section class="s6 ih-resources {{classes}}">
  <div class="container-small">
    <div class="row text-center">
      <h1>Resources</h1>
    </div>
    <div class="divider text-center"></div>
    <div id="s6Resources" class="owl-carousel">

      <!-- repeat -->
      <div class="img-list">

        <!-- repeat limit:2 inside img-list and continue rest on new .img-list -->
        <div class="">
          <a ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}' open-tab>
          <img class="img-border" ng-src="" alt="{{content.title}}" />
          <span class="overlay">{{content.title}}</span>
          <span class="text-content">
            <span>{{content.title}}
              <p>{{content.sub}}</p>
            </span>
          </span>
          </a>
        </div>

      </div>

    </div>
  </div>
</section>
