<div class="s7 ih-resources {{classes}}">
  <h1 class="ih-header text-center">Helpful Resources</h1>
  <div class="ih-md-divider"></div>
  <div class="container resource-frame">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="(key, content) in resources | limitTo: 4">
      <a ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}' open-tab class="rc-link" style='background-image: url("{{content.thumb}}")'></a>
      <div class="rc-label">
        <h4><a ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}' open-tab><i class="fa fa-caret-right"></i> {{content.title}}</a></h4>
        <p>
          {{content.sub}}
        </p>
      </div>
    </div>
  </div>
</div>
