<h1 class="ih-header text-center">{{contactMessage}}</h1>
<div class="ih-md-divider"></div>

<div class="ih-contact-form">
  <form ng-submit="Contact.$valid && submitContact()" name="Contact">
		<div class="text-center alert alert-success fade in" ng-show="contactSent">
			<h3><strong>Thank You!</strong></h3>
			<hr> A member from the {{agent.teamName}} will be in touch with you as soon as possible. You can also call <strong>{{agent.contactPhone | tel}}</strong>.
		</div>
		<div class="text-center alert alert-info fade in" ng-show="contactSending">
			<h3><strong>Please wait..</strong></h3>
			<hr> We're sending your message...</hr>
		</div>
		<div class="text-center alert alert-danger fade in" ng-show="contactSendFailed">
			<h3><strong>We're sorry...</strong></h3>
			<hr> There was an issue sending your message. Please make sure you have entered a valid name and email address and try again. If this problem continues, please call us at {{agent.contactPhone | tel}}. Sorry for the inconvenience.
		</div>
    <div class="form-group" ng-if="noButtons == true">
      <div class="btn-group center">
        <label class="btn btn-default active">
          <input type="radio" autocomplete="off" name="typeOfContact" ng-model="contact.typeOfContact" value="BuyAHome"> Buy A Home
        </label>
        <label class="btn btn-default">
          <input type="radio" autocomplete="off" name="typeOfContact" ng-model="contact.typeOfContact" value="SellAHome"> Sell A Home
        </label>
        <label class="btn btn-default">
          <input type="radio" autocomplete="off" name="typeOfContact" ng-model="contact.typeOfContact" value="NeedAdvice"> Need Advice
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="messageName">Full Name</label>
      <input type="name" class="ih-form-input form-control" id="messageName" required ng-model="contact.name">
    </div>
    <div class="row">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="ih-form-input form-control" id="emailAddress" required ng-model="contact.email">
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="phoneNumber">Phone</label>
        <input type="phone" class="ih-form-input form-control" id="phoneNumber" ng-model="contact.phone">
      </div>
      <input type="text" class="hidden" ng-model="contact.confirmEmail" name="confirmEmail">
    </div>
    <div class="form-group">
      <label for="textMessage">Message</label>
      <textarea type="text" class="ih-form-input ih-textarea form-control" id="textMessage" required ng-model="contact.message"></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
