.ih-like-btn {
    position: absolute;
    text-align: center;
}
.ih-like-btn:hover, .ih-like-btn:active, .ih-like-btn:focus, .ih-like-btn:visited {
    text-decoration: none;
}
.ih-like-btn .fa-heart, .ih-like-btn .fa-star, .ih-like-btn .fa-star-o {
    display: none;
}
.ih-liked .fa-heart-o {
    display: none !important;
}
.ih-liked .fa-heart {
    display: inline !important;
}

/* featured listing slider */
.ih-ft-listing .ih-like-btn {
  top: 10px;
  left: 10px;
}

/* responsive */

@media screen and (min-width: 1921px) {}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 376px) and (max-width: 768px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 426px) {}
@media screen and (max-width: 374px) {}
