//- property story jj template
section.s1.ih-contact(class='{{classes}}')
  .container
    h1.ih-header.text-center.fp Get In Touch
    .col-md-6.col-md-offset-3
      ih-contact(configname='f1')
  .container-fluid.contact-footer.fw.text-uppercase
    .container
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        span.ih-ui-fairhousing
        span.ih-ui-realtor
        small © {{year}} - {{agent.agentName}} | {{listing.mlsAssociation}}
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs.text-right
        .pull-right
          a(href="https://www.getinhouse.io", target="_blank", rel="noopener")
            span.ih-icon.ih-sm-icon.ih-ui-inhouse-emblem
        .pull-right.text-uppercase
          small powered by &nbsp;
            a(href="http://www.getinhouse.io") InHouse
