section.p5.ih-contact.fw(
  class='{{classes}}',
  ng-style="{'background-image': 'url(' + listing.Details.primaryPhoto.large + ')'}")
  .container
    .contact-inner.flex-grid
      .flex-12.contact-header
        h1.ih-header.uppercase Get In Touch
        .ih-sm-divider
      .flex-6.contact-form-inner
        ih-contact(configname="f1")
      .flex-6.contact-social
        h4.text-uppercase Listed by:
        h2 {{listing.Details.agentName}}
        p.text-uppercase {{listing.Details.brokerage}}
        .social-block
          a.ih-social-icon(href='mailto:{{listing.agentEmail}}', ng-if='agent.agentEmail !== undefined')
            i.fa.fa-envelope
          span {{listing.Details.agentEmail}}
        .social-block
          a.ih-social-icon(itemprop='telephone', ng-if="'agent.agentPhone'")
            i.fa.fa-phone
          span {{listing.Details.agentPhone | tel}}
  .footer
    .container
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs
        span.ih-ui-fairhousing
        span.ih-ui-realtor
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs.text-right
        .pull-right
          a(href="https://www.getinhouse.io", target="_blank", rel="noopener")
            span.ih-icon.ih-sm-icon.ih-ui-inhouse-emblem
        .pull-right.text-uppercase
          small
            | presented by &nbsp;
            a(href="https://listerpros.com", target="_blank", rel="noopener")
             strong ListerPros
          br
          small powered by &nbsp;
            a(href="http://www.getinhouse.io")
              strong InHouse
