<section class="p1 ih-contact bkbf-01 fw{{classes}}"style=" background-image: url('http://leslieheros.com/ua/backgrounds/mainimage.jpg')">
  <h1 class="ih-header text-center fc-02">Get In Touch</h1>
  <div class="container flex-grid container-sm">
    <div class="flex-8 wt80 contact-info-box">
      <div class="contact-map">

      </div>
      <div class="contact-info flex-grid fc-01">
        <div class="flex-6">
          <strong><span>Presented by: {{agent.agentName}}</span></strong>
          <address>
            33 S 5th Ave{{listing.address}}<br />
            Tucson, AZ 85701{{listing.city}} {{listing.state}} {{listing.zipcode}}
          </address>
          <address>
            <h6><small><strong class="text-uppercase">Phone:</strong></small> {{agent.contactPhone | tel}}</h6>
            <h6><small><strong class="text-uppercase">Email:</strong></small> {{agent.contactEmail}}</h6>
          </address>
        </div>
        <div class="flex-6">
          <address>
            <strong>{{agent.brokerage}}</strong><br />
            {{agent.contactAddress}}<br />
            {{agent.contactAddress2}}
          </address>
          <a href="#/" class="btn btn-primary">Schedule Visit</a>
        </div>
      </div>
    </div>
    <div class="flex-4 bkc-04 contact-form-box tpt">
      <ih-contact configname="f1"></ih-contact>
    </div>
  </div>
  <div class="container-fluid contact-footer bt80 fw text-uppercase">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <small>&copy; 2016 - {{agent.agentName}} | Pluto Association of Realtors{{listing.MLS}}</small>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
        <small>Powered by <a href="https://www.getinhouse.io">InHouse</a></small> <span class="ih-icon ih-sm-icon ih-icon-inhouse-emblem"></span>
      </div>
    </div>
  </div>
</section>
