section.p1.ih-contact.ih.fw.fp.z0(class='{{classes}}', ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}")
  .afull.bkc-01.tpt
    h1.ih-header.text-center.fc-02 Get In Touch
    .container.flex-grid.container-sm
      .flex-8.wt80.contact-info-box
        .contact-map
          ih-gmaps.full
        .contact-info.flex-grid.fc-01
          .flex-6
            strong
              span Presented by: {{agent.agentName}}
            address
              | {{listing.address}}
              br
              | {{listing.city}} {{listing.state}} {{listing.zipcode}}
            address
              h6
                small
                  strong.text-uppercase Phone:
                | {{agent.contactPhone | tel}}
              h6
                small
                  strong.text-uppercase Email:
                | {{agent.contactEmail}}
          .flex-6
            address
              strong {{agent.brokerage}}
              br
              | {{agent.contactAddress}}
              br
              | {{agent.contactAddress2}}
            a.btn.btn-primary(href='#/') Schedule Visit
      .flex-4.bkc-04.contact-form-box.tpt
        ih-contact(configname='f1')
    .container-fluid.contact-footer.bt80.fw.text-uppercase
      .container
        .col-lg-6.col-md-6.col-sm-12.col-xs-12
          span.ih-ui-fairhousing
          span.ih-ui-realtor
          small
            | ©
            small © {{year}} - {{agent.agentName}} | {{listing.MLS}}
        .col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right
          small
            | Powered by
            a(href='https://www.getinhouse.io') InHouse
          span.ih-icon.ih-sm-icon.ih-ui-inhouse-emblem
