section.p3.ih-contact.fw(class='{{classes}}')
  div.container-fluid.contact-header.hidden
    h2.ih-header.fp Get In Touch
    div.ih-sm-divider
  div.container-fluid.flex-grid
    div.flex-7.contact-form-inner
      form(ng-submit='Contact.$valid && submitContact()', name='Contact')
        .text-center.alert.alert-success.fade.in(ng-show='contactSent')
          h3
            strong Thank You!
          |  We will be in touch with you shortly. You can also call
          strong {{agent.contactPhone | tel}}
          | .
        .text-center.alert.alert-info.fade.in(ng-show='contactSending')
          h3
            strong Please wait..
          h4  We're sending your message...
        .text-center.alert.alert-danger.fade.in(ng-show='contactSendFailed')
          h3
            strong We're sorry...
          |  There was an issue sending your message. Please make sure you have entered a valid name and email address and try again. If this problem continues, please call us at {{agent.contactPhone | tel}}. Sorry for the inconvenience.
        .form-group
          label(for='messageName') Full Name
          input#messageName.ih-form-input.form-control(type='name', ng-model='contact.name', required='')
        .row
          .form-group.col-lg-6.col-md-6.col-sm-12.col-xs-12
            label(for='emailAddress') Email
            input#emailAddress.ih-form-input.form-control(type='email', ng-model='contact.email', required='')
          .form-group.col-lg-6.col-md-6.col-sm-12.col-xs-12
            label(for='phoneNumber') Phone
            input#phoneNumber.ih-form-input.form-control(type='phone', ng-model='contact.phone')
          input.hidden(type='text', ng-model='contact.confirmEmail', name='confirmEmail')
        .form-group
          label(for='textMessage') Message
          textarea#textMessage.ih-form-input.ih-textarea.form-control(type='text', required='', ng-model='contact.message')
        .text-center
          button.btn.btn-primary.block.form-submit(type='submit') Submit
    div.flex-5.contact-social
        a.ih-social-icon(ng-if='agent.contactEmail !== undefined')
          i.fa.fa-envelope
        strong Email
        br
        |{{agent.contactEmail}}
        a.ih-social-icon(itemprop='telephone')
          i.fa.fa-phone
        strong Telephone
        br
        |{{agent.contactPhone | tel}}
        a.ih-social-icon(itemprop='address')
          i.fa.fa-home
        strong Address
        br
        |{{agent.contactAddress}}
        br
        |{{agent.contactAddress2}}
