section#contact.p4.ih-contact.fw(class='{{classes}}')
  div.container-fluid.contact-header
    h2.ih-header.fp Get In Touch
    div.ih-sm-divider
  div.container-fluid
    div.contact-form-inner
      ih-contact(configname="f1")
    div.contact-social
      .social-block
        a.ih-social-icon(href='mailto:{{agent.contactEmail}}', ng-if='agent.contactEmail !== undefined')
          i.fa.fa-envelope
        h3 Email
        br
        a {{agent.contactEmail}}
      .social-block
        a.ih-social-icon(itemprop='telephone')
          i.fa.fa-phone
        h3 Telephone
        br
        span {{agent.contactPhone | tel}}
      .social-block
        a.ih-social-icon(itemprop='address')
          i.fa.fa-home
        h3 Address
        br
        span {{agent.contactAddress}}
        br
        span {{agent.contactAddress2}}
  div.flex-12.footer.bt70
    .container-fluid
      div.col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs
        span.ih-ui-fairhousing
        span.ih-ui-realtor
        small © {{year}} - {{agent.agentName}} | {{listing.MLS}}
      div.col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs.text-right
        div.pull-right
          a(href="https://www.getinhouse.io", target="_blank", rel="noopener")
            span.ih-icon.ih-sm-icon.ih-ui-inhouse-emblem
        div.pull-right.text-uppercase
          small
            | inspired by &nbsp;
            a(href="https://html5up.net/", target="_blank", rel="noopener") html5up
          br
          small powered by &nbsp;
            a(href="http://www.getinhouse.io") InHouse
