section.p4.ih-contact.fw(class='{{classes}}')
  .container.contact-header
    h2.ih-header.fp Get In Touch
    .ih-sm-divider
  .container-fluid
    .col-md-6.col-md-offset-3
      ih-contact(configname="f1")
