section.p5.ih-contact.fw(
  class='{{classes}}',
  ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}")
  .container
    .contact-inner.flex-grid
      .flex-12.contact-header
        h1.ih-header.uppercase Get In Touch
        .ih-sm-divider
      .flex-6.contact-form-inner
        ih-contact(configname="f1")
      .flex-6.contact-social
        .social-block
          a.ih-social-icon(href='mailto:{{profile.email}}', ng-if='profile.email !== undefined')
            i.fa.fa-envelope
          a {{profile.email}}
        .social-block
          a.ih-social-icon(itemprop='telephone')
            i.fa.fa-phone
          span {{agent.contactPhone | tel}}
        .social-block
          a.ih-social-icon(href='{{profile.facebook}}', ng-if='profile.facebook !== undefined', target='_blank')
            i.fa.fa-facebook
          span {{profile.facebook}}
        .social-block
          a.ih-social-icon(href='{{profile.linkedin}}', ng-if='profile.linkedin !== undefined', target='_blank')
            i.fa.fa-linkedin
          span {{profile.linkedin}}
        .social-block
          a.ih-social-icon(href='{{profile.twitter}}', ng-if='profile.twitter !== undefined', target='_blank')
            i.fa.fa-twitter
          span {{profile.twitter}}
        .social-block
          a.ih-social-icon(href='{{profile.instagram}}', ng-if='profile.instagram !== undefined', target='_blank')
            i.fa.fa-instagram
          span {{profile.instagram}}
        .social-block
          a.ih-social-icon(href='{{profile.pinterest}}', ng-if='profile.pinterest !== undefined', target='_blank')
            i.fa.fa-pinterest
          span {{profile.pinterest}}
  .footer
    .container
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs
        span.ih-ui-fairhousing
        span.ih-ui-realtor
        small © {{year}} - {{agent.agentName}} | {{listing.mlsAssociation}}
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-center-xs.text-right
        .pull-right
          a(href="https://www.getinhouse.io", target="_blank", rel="noopener")
            span.ih-icon.ih-sm-icon.ih-ui-inhouse-emblem
        .pull-right.text-uppercase
          small
            | inspired by &nbsp;
            a(href="https://html5up.net/", target="_blank", rel="noopener") html5up
          br
          small powered by &nbsp;
            a(href="http://www.getinhouse.io") InHouse
