section.s2.ih-contact.container-fluid(class='{{classes}}')
  .ih-md-divider
  .row
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.contact-form
      h2.text-center
        | Get In Touch With
        strong {{agent.teamName}}
      ih-contact(configname='f1')
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.contact-map.bkc-04.nopad
      ih-gmaps.full
  .ih-md-divider
