<section class="s2 ih-contact container-fluid">
  <div class="ih-md-divider"></div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-form">
      <h2 class="text-center">Get In Touch With <strong>{{agent.teamName}}</strong></h2>
      <ih-contact config="f1"></ih-contact>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-map bkc-04 nopad">
      <ih-gmaps class="full"></ih-gmaps>
    </div>
  </div>
  <div class="ih-md-divider"></div>
</section>
