<section class="s4 ih-contact {{classes}}">
    <div class="container">
        <h1 class="text-center ih-header">Get In Touch</h1>
        <div class="divider"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ih-contact configname="f1" class="fs"></ih-contact>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical fs">
                <div class="map-box">
                    <ih-gmaps class="full"></ih-gmaps>
                </div>
                <div class="clearfix">
                  <address class="pull-left">
                    {{agent.brokerage}}<br />
                    <small class="text-muted">
                      {{agent.contactAddress}}<br />
                      {{agent.contactAddress2}}
                    </small>
                  </address>
                  <div class="pull-right">
                    <img src="{{agent.brokerageLogo}}" class="brokerage-logo" alt="{{agent.brokerage}}"/>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
