<nav class="p1 ih-nav navbar navbar-default {{classes}} {{controller}}" data-uk-sticky="{top:-200, animation: 'uk-animation-slide-top'}" itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation">
    <div class="ih-cta">
        <div class="container nopad">
            <div class="col-lg-5 col-md-5 col-sm-5 col-sm-12">

            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-sm-12">
                <ul class="share-btns pull-right clearfix">
                    <li class="text-uppercase text-muted">
                        <small>Share on:</small>
                    </li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl|encode}}" class="ih-social-icon" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl|encode}}" class="ih-social-icon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/home?status={{shareUrl|encode}}" class="ih-social-icon" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/share?url={{shareUrl|encode}}" class="ih-social-icon" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container nopad">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a itemprop="url" class="navbar-brand" href="#/">
                <img itemprop="logo" ng-src="{{agent.teamLogo}}" alt="{{agent.teamName}} logo" class="img-responsive" />
            </a>
        </div>
        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}" id="mainNav">
            <ul class="nav navbar-nav" role="menubar">
                <li ng-repeat="link in navbar" ng-class="link.children !== undefined">
                    <a class="text-uppercase" role="menuitem" itemprop="url" href="{{link.href}}" ng-if="link.children === undefined" ng-attr-target="{{link.type == 'external' || ''}}" target="_blank" ng-click="$parent.$parent.isCollapsed = !$parent.$parent.isCollapsed"><span itemprop="name">{{link.display}}</span></a>
                    <a ng-if="link.children !== undefined" href="" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{link.display}} <span class="caret"></span></a>
                    <ul ng-if="link.children !== undefined" class="dropdown-menu">
                        <li ng-repeat="sublink in link.children">
                            <a class="text-uppercase" role="menuitem" itemprop="url" href="{{sublink.href}}" ng-attr-target="{{sublink.type == 'external' || ''}}" target="_blank" ng-click="$parent.$parent.$parent.isCollapsed = !$parent.$parent.$parent.isCollapsed"><i class="fa fa-caret-right fc-03"></i> <span itemprop="name">{{sublink.display}}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right text-right" role="menubar">
              <li>
                <h6 class="nomar"><small class="text-mited text-uppercase">Call us today:</small></h6>
                <h3 class="nomar nopad">520.123.4567{{agent.contactPhone | tel}}</h3>
              </li>
              <li>
                <a href="#/" class="btn btn-primary">Schedule Visit</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
