<nav class="s1 ih-nav navbar navbar-default {{classes}} {{controller}}" data-uk-sticky="{top:-200, animation: 'uk-animation-slide-top'}">
  <div class="ih-cta fs">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 social-cta">
          <a href="{{agent.facebook}}" class="ih-social-icon" ng-if="agent.facebook !== undefined"><i class="fa fa-facebook"></i></a>
          <a href="{{agent.linkedin}}" class="ih-social-icon" ng-if="agent.linkedin !== undefined"><i class="fa fa-linkedin"></i></a>
          <a href="{{agent.twitter}}" class="ih-social-icon" ng-if="agent.twitter !== undefined"><i class="fa fa-twitter"></i></a>
          <a href="{{agent.instagram}}" class="ih-social-icon" ng-if="agent.instagram !== undefined"><i class="fa fa-instagram"></i></a>
          <a href="{{agent.pinterest}}" class="ih-social-icon" ng-if="agent.pinterest !== undefined"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right tel-cta">
          <span class="cta-span" itemprop="telephone">
            <a href="tel:{{agent.contactPhone | tel}}" class="clean-link">
              Call us today: {{agent.contactPhone | tel}}               
              <span class="ih-social-icon"><i class="fa fa-phone"></i></span>
          </a>
          </span>
          <a href="mailto:{{agent.contactEmail}}" class="ih-social-icon" ng-if="agent.contactEmail !== undefined"><i class="fa fa-envelope-o"></i></a>
          <button type="button" ng-click="signIn()" data-toggle="modal" class="sign-in" ng-if="!inhouseAgentUserLoggedIn">Sign-in</button>
          <a href="#/search-mls?page=1&my-listings" class="clean-link sign-in signed-in" ng-if="inhouseAgentUserLoggedIn" data-toggle="tooltip" data-placement="left" title="Click here to view all your favorite listings">
            My Account  
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a itemprop="url" class="navbar-brand" href="#/">
          <img itemprop="logo" ng-src="{{agent.teamLogo}}" alt="{{agent.teamName}} logo" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="nav navbar-nav navbar-right" role="menubar">
          <li ng-repeat="link in navbar" ng-class="link.children !== undefined">
            <a role="menuitem" itemprop="url" href="{{link.href}}" ng-if="link.children === undefined" ng-attr-target="{{link.type == 'external' || ''}}" target="_blank"><span itemprop="name">{{link.display}}</span></a>
            <a ng-if="link.children !== undefined" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{link.display}} <span class="caret"></span></a>
            <ul ng-if="link.children !== undefined" class="dropdown-menu">
              <li ng-repeat="sublink in link.children">
                <a role="menuitem" itemprop="url" href="{{sublink.href}}" ng-attr-target="{{sublink.type == 'external' || ''}}" target="_blank"><span itemprop="name">{{sublink.display}}</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
