<section class="p1 ih-slider container-fluid">
    <div class="iha tp bm rt lt">
        <div class="iha ih-banner">
            <div class="container-fluid full nopad">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 fullh bkc-02 fw">
                    <h1>{{listing.listingCommunity}}</h1>
                    <h3>{{listing.listingAddress}}</h3>
                    <div class="home-facts">
                        <span class="fact">{{listing.beds_total}} <small class="text-uppercase">Bedrooms</small></span>
                        <span class="fact">{{listing.baths_total}} <small class="text-uppercase">Baths</small></span>
                        <span class="fact">{{listing.sq_total}} <small class="text-uppercase">{{listing.sizeUnit}}</small></span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 fullh bkc-01 fw">
                    <h1>{{listing.price}}</h1>
                    <a href="#/" class="btn btn-primary">Schedule Visit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn fw">
        <a href="#/"><i class="fa fa-angle-down"></i></a>
    </div>
    <div class="ih-slider-row p1 row">
        <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
          <div uib-carousel active="active" interval="5000" no-wrap="false" style="height:1000px;">
            <div uib-slide ng-repeat="slide in slides" index="$index">
              <img ng-src="{{slide.image}}" style="margin:auto;width:100%;">
              <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </div>
          </div>

            <!-- <div class="carousel-inner" role="listbox">
                <div class="item active" ng-if="LandingComponent.defaultSliderImage !== undefined">
                    <div class="full-screen-image" ng-style="{'background-image':'url(' + LandingComponent.defaultSliderImage + ')'}"></div>
                </div>
                <div class="item {{$index == 0 && LandingComponent.defaultSliderImage === undefined ? 'active' : ''}}" ng-repeat="slide in slides">
                    <div class="full-screen-image" ng-style="{'background-image':'url(' + slide.image + ')'}"></div>
                </div>
            </div> -->
        </div>
    </div>
</section>
