<section class="s1 ih-slider container-fluid">
    <!-- disabled -->
    <div class="ih-comm-links container hidden"></div>
    <!---->
    <div class="ih-slider-row s1 row">
        <div class="container">
            <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" ng-if="LandingComponent.defaultSliderImage !== undefined && nodefault === undefined">
                        <div class="full-screen-image" ng-style="{'background-image':'url(' + LandingComponent.defaultSliderImage + ')'}"></div>
                    </div>
                    <div class="item {{$index == 0 && LandingComponent.defaultSliderImage === undefined ? 'active' : ''}}" ng-repeat="slide in slides" ng-class="nodefault !== undefined && $index == 0 ? 'active' : ''">
                        <div class="full-screen-image" ng-style="{'background-image':'url(' + (slide.image || slide.url) + ')'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
