<section class="s3 ih-slider container-fluid {{classes}}">

  <div class="ih-narrative text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showBuyAHome">
      <a href="{{LandingComponent.buyLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.buyAHomeText}}
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showSellAHome">
      <a href="{{LandingComponent.sellLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.sellAHomeText}}
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="LandingComponent.showJustAdvice">
      <a href="{{LandingComponent.adviceLink}}" class="ih-nar-btn btn btn-primary">
            {{LandingComponent.adviceText}}
        </a>
    </div>
  </div>

  <div class="botton-btn fw">
    <i class="fa fa-sort-desc"></i>
  </div>

  <div class="ih-slider-row s2 row">
    <div class="container">
      <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active" ng-if="LandingComponent.defaultSliderImage !== undefined">
            <div class="full-screen-image" ng-style="{'background-image':'url(' + LandingComponent.defaultSliderImage + ')'}"></div>
          </div>
          <div class="item {{$index == 0 && LandingComponent.defaultSliderImage === undefined ? 'active' : ''}}" ng-repeat="slide in slides">
            <div class="full-screen-image" ng-style="{'background-image':'url(' + slide.image + ')'}"></div>
            <div class="carousel-caption hidden">
              {{slide.caption}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>