<section class="s4 ih-slider container-fluid">

  <div class="bottom-btn fw">
    <i class="fa fa-angle-down"></i>
  </div>

  <div class="ih-slider-row" style="background-image: url('ua/backgrounds/gifs/justine.gif');">
    <div id="{{slider}}" class="ih-slider-inner carousel slide carousel-fade hidden" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item {{$index == 0 && LandingComponent.defaultSliderImage === undefined ? 'active' : ''}}" ng-repeat="slide in slides">
          <div class="full-screen-image" ng-style="slide.img"></div>
          <div class="carousel-caption">
            <h1>{{slide.header}}</h1>
            <h4>{{slide.sub}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
