.ihweb .modal-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px;
    border: none;
}

.ihweb .modal-title {
    padding: 10px 0;
}

.ihweb .modal-body {
    padding: 40px 45px;
    padding-bottom: 0;
}

.ihweb .modal-footer {
    text-align: center;
}

.reg-btns {
    margin-bottom: 20px;
}

.reg-divider {
    margin-top: 10px;
}

.privacy-link {
    color: #3277b2 !important;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 12px;
}

.reg-btns a {
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: #eee;
    font-size: 12px;
    font-weight: 600;
}

#accountModal .modal-body h2 {
    margin-top: 0;
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .ihweb .modal-dialog {
        padding: 0;
        margin: 0 auto;
    }
    #accountModal {
        padding: 0 !important;
        overflow: auto;
    }
    h2#accountLabel {
        font-size: 25px;
        font-weight: 600;
    }
    .ihweb .modal-body {
        padding: 25px;
    }
    .ihweb .modal-body p {
        font-size: 15px;
    }
    .ihweb .modal-footer .btn-primary {
        font-size: 15px;
    }
    .ihweb .modal-footer {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}
