<section class="s2 ih-featured-slider">

  <h1 class="ih-header text-center">Featured Homes</h1>
  <div class="ih-md-divider"></div>

  <div class="ih-grid-carousel">
    <div id="gridCarousel" class="carousel slide listing-grid-carousel" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <div class="ih-ft-carousel hidden"></div>

          <ih-listing-loader ng-repeat="n in range(0,listingLoaders) | limitTo:10" class="item ih-ft-listing col-lg-15 col-md-4 col-sm-4 col-xs-12"></ih-listing-loader>

          <div class="ih-ft-listing col-lg-15 col-md-4 col-sm-4 col-xs-12" ng-repeat="home in homes | limitTo:10" style="background-image: url('{{home.photo || 'https://s3-us-west-2.amazonaws.com/inhouse-websites/ia/images/noimage-placeholder.jpg'}}')" itemscope itemtype="http://schema.org/Product" itemprop="additionalProperty">
            <a href="#/listing/{{home.mls}}" class="ft-link">
              <span>
                <strong><i class="fa fa-caret-right ft-caret"></i> {{home.address}}<br></strong>
                <small class="fs" itemprop="description">{{home.price | currency}}<span ng-show="home.beds > 0"> | {{home.beds}} BEDS - {{home.baths}} BATHS</span></small>
                <small ng-show="home.beds < 0">{{home.acres}}</small>
              </span>
              <ih-like-button mls="{{home.mls}}" address="{{home.address}}"></ih-like-button>
            </a>
          </div>
        </div>
      </div>

    <div class="row text-center ft-more-btn">
      <a href="#/search-mls?{{query}}" class="btn btn-primary">View More</a>
    </div>

    </div>
  </div>

</section>
