<section class="s3 ih-featured-slider">

  <h1 class="ih-header text-center">Featured Homes</h1>
  <div class="ih-md-divider"></div>
  <h2 class="ih-subheader fc-01 text-center fs">{{section.header}}</h2>

  <div class="ih-grid-carousel">
    <div id="gridCarousel" class="carousel slide listing-grid-carousel bd-01" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <div class="ih-ft-carousel hidden"></div>

          <ih-listing-loader ng-repeat="n in range(0,listingLoaders)" class="col-lg-3 col-md-3 col-sm-6 col-xs-12"></ih-listing-loader>

          <div class="ih-ft-listing col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="home in homes | limitTo:8" style="background-image: url('{{home.photo || 'https://s3-us-west-2.amazonaws.com/inhouse-websites/ia/images/noimage-placeholder.jpg'}}')" itemscope itemtype="http://schema.org/Product" itemprop="additionalProperty">
            <a class="ft-link" href="#/listing/{{home.mls}}">
              <span>
                <strong>{{home.address}}<br></strong>
                <div class="ih-sm-divider"></div>
                <small class="fs" itemprop="description">{{home.price | currency}} | {{home.beds}} BEDS - {{home.baths}} BATHS</small>
                <div class="clear"></div>
                <span href="" class="fl-btn btn btn-primary">View Listing</span>
              </span>
              <ih-like-button mls="{{home.mls}}" address="{{home.address}}"></ih-like-button>
            </a>
          </div>
        </div>
      </div>
      <div class="row text-center ft-more-btn">
        <a href="#/search-mls?{{query}}" class="btn btn-primary">View More Listings</a>
      </div>
    </div>
  </div>

</section>
