section.s3.ih-featured-slider
  h1.ih-header.text-center {{header}}
  .ih-md-divider
  h2.ih-subheader.fc-01.text-center.fs {{section.header}}
  .ih-grid-carousel
    #gridCarousel.carousel.slide.listing-grid-carousel.bd-01(data-ride='carousel')
      .carousel-inner(role='listbox')
        .item.active
          .ih-ft-carousel.hidden
          ih-listing-loader.col-lg-3.col-md-3.col-sm-6.col-xs-12(ng-repeat='n in range(0,listingLoaders) | limitTo:12')
          .ih-ft-listing.col-lg-3.col-md-3.col-sm-6.col-xs-12(ng-repeat='home in homes | limitTo:12', style="background-image: url('{{home.photo || 'https://s3-us-west-2.amazonaws.com/inhouse-websites/ia/images/noimage-placeholder.jpg'}}')", itemscope='', itemtype='http://schema.org/Product', itemprop='additionalProperty')
            a.ft-link(href='#/listing/{{home.mls}}')
              span
                strong
                  | {{home.address}}
                  br
                .ih-sm-divider
                small.fs(itemprop='description')
                  | {{home.price | currency}}
                  span(ng-show='home.beds > 0')  | {{home.beds}} BEDS - {{home.baths}} BATHS
                small(ng-show='home.beds < 0') {{home.lotsize}} ACRES
                .clear
                span.fl-btn.btn.btn-primary(href='') View Listing
              ih-like-button(mls='{{home.mls}}', address='{{home.address}}')
      .row.text-center.ft-more-btn
        a.btn.btn-primary(href='#/search-mls?{{query}}') View More Listings
