<section class="ih-featured-slider">
  <!-- featured listing -->
  <div class="">

    <h1 class="ih-header text-center">Featured Homes</h1>
    <div class="ih-md-divider"></div>


    <div class="ih-grid-carousel">
      <div id="gridCarousel" class="carousel slide listing-grid-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#gridCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#gridCarousel" data-slide-to="1"></li>
          <li data-target="#gridCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="ih-ft-listing col-lg-15">
              <a href="" class="ih">
                <span>
                  Listings Address<br>
                  <small>Price | BEDS BATHS</small>                
                </span>
              </a>
            </div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
          </div>
          <div class="item">
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
            <div class="ih-ft-listing col-lg-15"></div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#gridCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#gridCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>



    <div class="ih-ft-carousel hidden">
      <!-- individual featured listing card-->
      <ih-listing-loader ng-repeat="n in range(0,listingLoaders)" class="item"></ih-listing-loader>
      <div class="item" ng-repeat="home in homes">
        <div class="ih-ft-listing">
          <div class="ih-ft-listing-img">
            <img ng-src="{{home.photo || 'ia/images/noimage-placeholder.jpg'}}" alt="{{home.caption}}" class="fit-image" ng>
            <a href="#/listing/{{home.mls}}" class="ih-ft-listing-link block full">
              View Home
            </a>
            <a href="#" class="ih-like-btn" data-mls="{{home.mls}}" data-address="{{home.address}}" onClick="event.preventDefault()">
              <i class="fa fa-heart-o"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star"></i>
            </a>
          </div>
          <div class="ih-ft-listing-desc container-fluid">
            <div class="ih-ft-listing-addr text-center">
              <h4>{{home.address}}</h4>
              <h6 class="text-uppercase text-muted"><strong>{{home.city}} {{home.state}}, {{home.zip}}</strong></h6>
            </div>
            <hr>
            <div class="ih-ft-listing-details row">
              <div class="col-lg-6">
                <small>{{home.beds}} BEDS | {{home.baths}} BATHS</small>
                <br>
                <small>{{home.sqft}} SQFT</small>
              </div>
              <div class="col-lg-6 text-right">
                <small><strong class="lead fs">{{home.price | currency:"$":0}}</strong></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>