<section class="s4 ih ih-featured-slider {{classes}}">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <ih-listing-loader ng-repeat="n in range(0,4)" class="col-lg-3 col-md-3 col-sm-6 col-xs-12"></ih-listing-loader>
      <!-- repeats up until 6 -->
      <div class="ft-listing col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
    </div>
    <div class="row text-center">
      <a href="#/{{setfeaturedlistingslinkhere}}" class="btn btn-primary">View More</a>
    </div>
  </div>
</section>