<section class="s1 ih-school-ratings">
  <h1 class="ih-header text-center">School Ratings</h1>
  <div class="ih-md-divider"></div>
  <div class="container">
    
    <!-- elementary -->
    <div class="school-rating-box well clearfix">
      <div class="school-icon pull-left">
        
      </div>
      <div class="pull-left">
        <h4 class="text-uppercase">Elementary</h4>
        <h2>{{schoolname}}</h2>
        <div class="star-rating">
          <i class="fa fa-star"></i>
        </div>
        <div class="school-ratio">
          {{schoolstudentratio}}
        </div>
      </div>
    </div>
    
    <!-- middle school -->
    <div class="school-rating-box well clearfix">
      <div class="school-icon pull-left">
        
      </div>
      <div class="pull-left">
        <h4 class="text-uppercase">Middle School</h4>
        <h2>{{schoolname}}</h2>
        <div class="star-rating">
          <i class="fa fa-star"></i>
        </div>
        <div class="school-ratio">
          {{schoolstudentratio}}
        </div>
      </div>
    </div>
    
    <!-- high school -->
    <div class="school-rating-box well clearfix">
      <div class="school-icon pull-left">
        
      </div>
      <div class="pull-left">
        <h4 class="text-uppercase">High School</h4>
        <h2>{{schoolname}}</h2>
        <div class="star-rating">
          <i class="fa fa-star"></i>
        </div>
        <div class="school-ratio">
          {{schoolstudentratio}}
        </div>
      </div>
    </div>    
    
    
    
    
  </div>
</section>