<footer class="s1 footer {{classes}} {{controller}} container-fluid" ng-show="showFooter == undefined || showFooter == true">
    <div class="ih-footer row">
        <div class="text-center"><a href="https://www.getinhouse.io" title="Powered By InHouse" target="_blank">Designed &amp; Powered By <span itemprop="creator">InHouse</span></a></div>
        <a itemprop="significantLink" href="https://www.getinhouse.io" target="_blank" title="Powered By InHouse"><img src="ia/logos/inhouse.svg" alt="Powered By InHouse" /></a>
    </div>
</footer>
