<footer class="s3 footer {{classes}} {{controller}}" ng-hide="showFooter != undefined && showFooter == false">
  <div class="container top-footer">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-left">
      <img src="ia/icons/fairhousing.svg" alt="Fair Housing" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center text-uppercase">
      <a href="{{sitemap}}" class="sitemap fo text-uppercase"><small>sitemap</small></a>
      <h6 class="copyright fs">&copy; 2016 All Rights Reserved - InHouse | {{agent.teamName}}</h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right">
      <img src="ia/icons/realtor.svg" alt="National Association of Realtors | Realtor" />
    </div>
  </div>
  <div class="ih-footer">
    <div class="text-center"><a href="https://www.getinhouse.io" title="Powered By InHouse" target="_blank" class="fo">Designed &amp; Powered By <span itemprop="creator">InHouse</span></a></div>
    <a itemprop="significantLink" href="https://www.getinhouse.io" target="_blank" title="Powered By InHouse"><img src="ia/logos/inhouse.svg" alt="Powered By InHouse" /></a>
  </div>
</footer>
