<section class="s9 ih-about {{classes}}">
  <div class="about-frame">
    <div class="about-inner">
      <div class="about-img text-center">
        <img ng-src="{{agent.team[0].photo}}" alt="{{agent.team[0].name}}" class="img-square img-responsive">
      </div>
      <div class="about-bio">
        <h1 class="ih-header text-center">{{agent.agentName}}</h1>
        <div class="about-social text-center">
          <a href="mailto:{{agent.contactEmail}}" class="ih-social-icon" ng-if="agent.contactEmail !== undefined" target="_blank"><i class="fa fa-envelope"></i></a>
          <a href="{{agent.facebook}}" class="ih-social-icon" ng-if="agent.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="{{agent.linkedin}}" class="ih-social-icon" ng-if="agent.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="{{agent.twitter}}" class="ih-social-icon" ng-if="agent.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="{{agent.instagram}}" class="ih-social-icon" ng-if="agent.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="{{agent.pinterest}}" class="ih-social-icon" ng-if="agent.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
        </div>        
        <div class="ih-md-divider"></div>
        <div itemprop="description" ng-bind-html="agent.bio1 | to_trusted" class="fs bio-text"></div>
        <div class="text-center bio-more">
          <a href="#/bio/{{agent.agentName | split: ' ':0 | lowercase}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
