.post-block.featured
  .post-caption(stype="background-image:url('{{resource.thumb}}')")
    h1 {{resource.title}}
    p {{resource.sub}}
      a.read-more(ng-href="{{url}}" target="{{target}}") read more
