section.ih404
  .container.text-center
    .inline-block.sq-404
      h1 404
      h4 Page Not Found
      .row
        span Sorry, the page you are trying to reach does no exist.
        .row
          .col-lg-4
            a.btn.btn-primary(href='#/') Go Back
          .col-lg-4
            a.btn.btn-primary(href='#/search-mls?status=active') Search Homes
          .col-lg-4
            a.btn.btn-primary(href='#/contact') Contact Me
