/* s1 */

.s1.ih-about {
    position: relative;
    min-height: 500px;
}

.s1.ih-about .ih-team {
    position: relative;
    margin: 50px 0;
}

.s1.ih-about .ih-header {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.s1.ih-about .ih-headshot img {
    width: 225px;
    margin-bottom: 35px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    display: inline-block;
    border: 5px solid #fff;
}

.s1.ih-about .ih-headshot img:hover {
    border: 10px solid #fff;
}

.s1.ih-about .ih-headshot a:hover, .s1.ih-about .ih-headshot a:active, .s1.ih-about .ih-headshot a:focus {
    text-decoration: none;
}

.s1.ih-about .ih-teammate-name {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 35px;
}


/* s2 */

.s2.ih-about {
    position: relative;
    margin-top: 130px;
    min-height: 300px;
    padding-bottom: 70px;
}

.s2.ih-about .img-square {
    border: 10px solid rgba(0, 0, 0, 0.2);
}

.s2.ih-about h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.s2.ih-about .about-social {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
}


/* s3 */

.s3.ih-about {
    margin: 150px auto;
}

.s3.ih-about .container {
    width: 950px;
}

.s3.ih-about .ih-about-inner p {
    margin-top: 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
}

.s3.ih-about .tagline {
    margin-top: 0;
    font-size: 30px;
}

.s3.ih-about .ih-headshot>a {
    display: block;
    min-height: 200px;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
}

.s3.ih-about .ih-teammate-name {
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
}


/* s5 */

.s5.ih-about {
    position: relative;
    padding: 70px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.s5.ih-about .agent-card {
    display: block;
    height: 260px;
    margin-bottom: 20px;
}

.s5.ih-about .agent-card>a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #eee;
}

.s5.ih-about .agent-hover {
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.s5.ih-about .agent-hover:hover {
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    opacity: 1;
}

.s5.ih-about .agent-icon {
    bottom: 10px;
    right: 15px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.s5.ih-about .agent-hover>strong {
    display: block;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.s5.ih-about .agent-row {
    margin-top: 25px;
}


/* s6 */

.s6.ih-about {
    margin: 100px 0;
    padding: 50px 0;
}

.s6.ih-about .ih-md-divider {
    display: none;
}

.s6.ih-about .tab-content {
    border: 0;
    padding: 0;
    margin-top: 25px;
}

.s6.ih-about .nav-justified {
    margin: 30px 0;
}

.s6.ih-about .tab-pane {
    padding: 0;
}

.s6.ih-about .ih-bio-img {
    margin-top: 30px;
}


/* s8 */

.s8.ih-about {
    position: relative;
    min-height: 500px;
}

.s8.ih-about .ih-team {
    position: relative;
    margin: 50px 0;
}

.s8.ih-about .ih-header {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.s8.ih-about .ih-headshot img {
    width: 225px;
    margin-bottom: 35px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    display: inline-block;
    border: 5px solid #fff;
}

.s8.ih-about .ih-headshot img:hover {
    border: 10px solid #fff;
}

.s8.ih-about .ih-headshot a:hover, .s8.ih-about .ih-headshot a:active, .s8.ih-about .ih-headshot a:focus {
    text-decoration: none;
}

.s8.ih-about .ih-teammate-name {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}


/* s10 */

.s10.ih-about {
    position: relative;
    margin-top: 130px;
    min-height: 300px;
    padding-bottom: 70px;
}

.s10.ih-about .img-square {
    border: 10px solid rgba(0, 0, 0, 0.2);
}

.s10.ih-about h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.s10.ih-about .about-social {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
}


/* p1 */

.p1.ih-about .ih-about-inner {
    padding: 75px 0;
}

.p1.ih-about {
    background-color: #f5f5f5;
}

.p1.ih-about .img-circle {
    border: 10px solid #fff;
}

.p1.ih-about .ih-about-text h2 {
    margin: 0;
}

.p1.ih-about .about-social {
    float: right;
    font-size: 10px;
    color: #fff;
}

.p1.ih-about .ih-social-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

.p1.ih-about .bio {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.p1.ih-about h4 {
    font-size: 16px;
}


/* p2 */

.p2.ih-about {
    padding: 80px 0;
}

.p2.ih-about .contact-info>div:first-child {
    border-top: 2px solid #eee;
    margin-top: 15px;
}

.p2.ih-about .contact-info>div:last-child {
    margin-bottom: 15px;
}

.p2.ih-about .contact-info>div {
    border-bottom: 2px solid #eee;
    padding: 15px;
}

.p2.ih-about .ih-icon {
  padding: 0 15px;
  font-size: 1.5em;
}

.p2.ih-about .about-social .ih-social-icon {
    color: #ddd;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    text-align: center;
    line-height: 36px;
}

.p2.ih-about .about-social .ih-social-icon:hover {
    background-color: #ddd;
    color: #fff;
}

.p2.ih-about .img-square {
    width: 180px;
    padding: 5px;
    border: 1px solid #ddd;
    margin-right: 15px;
}

.p2.ih-about .agent-box {
  min-height: 250px;
}

.p2.ih-about .about-row {
  padding: 45px;
  border: 1px solid #eee;
}


/*** *** responsive *** ***/

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .ih-about .ih-header {
        width: 95%;
    }
    .ih-about-inner {
        margin: 0 auto;
    }
    .ih-about .col-lg-4 {
        text-align: center;
    }
    .ih-about img {
        display: inline-block;
        width: 260px;
    }
    /* s2 */
    .s2.ih-about .ih-header {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .ih-about-header {
        clear: both;
    }
}

@media screen and (max-width: 375px) {}
