/* global */

.ih-testimonials {
    position: relative;
}

.ih-testimonials-inner {
    position: relative;
}

.ih-ui-zillow {
    font-size: 3em;
    opacity: .5;
}

.ih-ui-testimonial-01 {
    font-size: 12em;
    padding: 15px;
}

.fw .ih-ui-testimonial-01, .fw .ih-ui-testimonial-01 span::before {
    color: #fff !important;
}

.fb .ih-ui-testimonial-01, .fb .ih-ui-testimonial-01 span::before {
    color: #1b1b1b !important;
}

.ih-testimonials .owl-nav {
    margin: 25px;
    text-align: center;
}

.ih-testimonials .owl-nav div {
    display: inline-block;
    padding: 7px 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.9);
    color: #303030;
    cursor: pointer;
}

.ih-testimonials .owl-nav div:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.ih-testimonials .owl-nav .owl-prev {
    border-radius: 50px 0 0 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.ih-testimonials .owl-nav .owl-next {
    border-radius: 0 50px 50px 0;
}


/* s1 */

.s1.ih-testimonials {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.s1.ih-testimonials .ih-header {
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.s1.ih-testimonials blockquote {
    margin-left: 20px;
}

.s1.ih-testimonials .ih-testimonials-inner {
    min-height: 200px;
}


/* s2 */

.s2.ih-testimonials blockquote {
    position: relative;
    border-left: 1px solid #eee !important;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 25px 40px !important;
    min-height: 300px;
}

.s2.ih-testimonials .ih-ratings {
    color: gold;
    letter-spacing: 6px;
    margin: 10px 0;
}

.s2.ih-testimonials .testimonial footer {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.s2.ih-testimonials .read-more {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
    text-align: right;
}

.s2.ih-testimonials .owl-nav {
    text-align: center;
}

.s2.ih-testimonials .owl-nav>div {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.s2.ih-testimonials .owl-nav>div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.s2.ih-testimonials .owl-nav>div:first-child {
    border-right: 1px solid #ddd;
}


/* s3 */

.s3.ih-testimonials {
    padding-top: 130px;
    padding-bottom: 110px;
    min-height: 630px;
}

.s3.ih-testimonials blockquote {
    border-left: 0;
    margin: 0;
    padding: 0 60px;
    font-size: 14px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.s3.ih-testimonials .ih-ratings {
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 22px;
}

.s3.ih-testimonials blockquote>p {
    font-weight: 300;
    padding: 15px 0;
    text-align: justify;
}

.s3.ih-testimonials blockquote footer {
    font-size: 18px;
    color: #fff;
    font-style: italic;
}

.s3.ih-testimonials blockquote .read-more {
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #fff;
}

.s3.ih-testimonials .owl-nav {
    text-align: center;
    margin: 30px 0;
}

.s2.ih-testimonials .owl-item {
    padding: 0 7px;
}

.s3.ih-testimonials .owl-nav>div {
    display: inline-block;
    padding: 7px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.s3.ih-testimonials .owl-nav>div:first-child {
    border-radius: 50px 0 0 50px;
    border-right: 0;
}

.s3.ih-testimonials .owl-nav>div:last-child {
    border-radius: 0 50px 50px 0;
}


/* p1 */

.p1.ih-testimonials {
    min-height: 500px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 0;
}

.p1.ih-testimonials .container {
    padding: 50px 0;
}

.p1.ih-testimonials>div {
    padding: 70px 0;
}

.p1.ih-testimonials {
    min-height: 600px;
}

.p1.ih-testimonials blockquote {
    border: 0;
    margin-bottom: 0;
}

.p1.ih-testimonials .owl-item {
    padding: 0 5px;
}

.p1.ih-testimonials .item {
    background-color: rgba(255, 255, 255, .2);
    padding: 15px;
    min-height: 250px;
}

.p1.ih-testimonials .ih-ratings {
    color: gold;
    letter-spacing: 12px;
    font-size: 1.5em;
    opacity: .5;
}

.p1.ih-testimonials p {
    line-height: 1.5em;
    text-align: justify;
    border-top: 2px solid rgba(221, 221, 221, .2);
    border-bottom: 2px solid rgba(221, 221, 221, .2);
    margin: 10px 0;
    padding: 10px 0px;
}

.p1.ih-testimonials .read-more {
    display: none;
}

.p1.ih-testimonials footer {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}


/* p2 */

.p2.ih-testimonials {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 0;
}

.p2.ih-testimonials>div>.container {
    padding: 50px 0;
}

.p2.ih-testimonials .footer {
    padding: 40px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
}

.p2.ih-testimonials>div::before {
    content: "";
    display: block;
    height: 300px;
    width: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/inhouse-static-assets/framework/ia/images/triangle-bottom.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.p2.ih-testimonials .tst-carousel {
    margin: 65px 0;
}

.p2.ih-testimonials h1.ih-header {
    margin-top: 20px;
}

.p2.ih-testimonials .item {
    padding: 15px;
    min-height: 200px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.p2.ih-testimonials .owl-item {
    padding: 0 10px;
}

.p2.ih-testimonials blockquote {
    border: 0;
    padding: 0;
}

.p2.ih-testimonials .ih-ratings {
    margin: 15px 0;
    letter-spacing: 10px;
    color: #FFe0a0;
}

.p2.ih-testimonials p {
    margin: 0 0;
    padding-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    min-height: 100px;
    font-size: .8em;
    text-align: justify;
}

.p2.ih-testimonials h5 {
    color: #ffe0a0;
    font-size: 1em;
}

.p2.ih-testimonials .bkc-01 {
  background-color: rgba(48,48,48,.9) !important;
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* p2 */
    .p2.ih-testimonials .item {
        min-height: 280px;
    }
    .p2.ih-testimonials p {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    /* p2 */
    .p2.ih-testimonials .item {
        min-height: 280px;
    }
    .p2.ih-testimonials p {
        margin: 15px 0;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    /* p2 */
    .p2.ih-testimonials h1.ih-header {
        padding: 0 25px;
    }
}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 374px) {}
