section.s2.ih-results
  .container-fluid.full
    .ih-filters.row.fs.bee
      .container
        .row
          .col-lg-10.col-md-10.col-sm-9.col-xs-12.filter-crumbs
            span(ng-repeat='(filter,val) in filters', ng-if="filter != 'page' && filter != 'geolocation' && filter != 'callback'")
              a.ih-breadcrumb(href='', ng-click='removeFilter(filter)')
                | {{filter}}{{val == true ? '' : ': ' + val}}
                i.fa.fa-times
              span(ng-if='!$last') /
          .col-lg-2.col-md-2.col-sm-3.col-xs-12
            a.btn.btn-primary.ih-adv-toggle(role='button', data-toggle='collapse', href='#searchFilters', aria-expanded='false', aria-controls='searchFilters', onclick='event.preventDefault()')
              i.fa.fa-filter
              |  More Filters
        #searchFilters.ih-advanced-filters.collapse.in.container-fluid.fs
          .row
            .ih-input-box.col-lg-6.col-md-6.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='Address', name='propertyAddress', ng-model='filters.address')
            .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='Zip-code', name='propertyZip', ng-model='filters.zipcode')
            .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='MLS #', name='propertyMLS', ng-model='filters.mls')
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              .ih-slide
                label(for='#priceFilter') Price Range
                bootstrap-slider(name='priceFilter', ng-model='filters.price', type='text', data-slider-min='50000', data-slider-max='2000000', data-slider-step='1000', data-slider-value='[50000,2000000]', data-filter='price')
              .ih-slide
                label(for='#bedsFilter') Bedrooms
                bootstrap-slider(name='bedsFilter', ng-model='filters.bedsRange', type='text', data-slider-min='1', data-slider-max='10', data-slider-step='1', data-slider-value='[1,10]', data-filter='bedsRange')
              .ih-slide
                label(for='#bathsFilter') Baths
                bootstrap-slider#bathsFilter(name='bathsFilter', ng-model='filters.bathsRange', type='text', data-slider-min='1', data-slider-max='15', data-slider-step='1', data-slider-value='[1,15]', data-filter='bathsRange')
              .ih-slide
                label(for='#sqft') Sqft
                bootstrap-slider(name='sqft', ng-model='filters.sqft', type='text', data-slider-min='1', data-slider-max='20000', data-slider-step='1000', data-slider-value='[1,20000]', data-filter='sqft')
              .ih-slide.hidden
                label(for='#lotsizeRange') Lot Size
                bootstrap-slider(name='lotsizeRange', ng-model='filters.lotsizeRange', type='text', data-slider-min='1', data-slider-max='1000', data-slider-step='10', data-slider-value='[1,1000]', data-filter='lotsizeRange')
              .ih-slide
                label(for='#yearRange') Year Built
                bootstrap-slider#yearRange(name='yearRange', ng-model='filters.yearRange', type='text', data-slider-min='1900', data-slider-max='2017', data-slider-step='1', data-slider-value='[1900,2017]', data-filter='yearRange')
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              .ih-filter-row.row
                .ih-filter-box.col-lg-6
                  ih-dropdown#type(items='[{"name": "Single Family", "value": "Single Family"}, {"name": "Townhouse", "value": "Townhouse"}, {"name": "Condo", "value": "Condo"}, {"name": "Manufactured", "value": "Manufactured"}, {"name": "Land/Lot", "value": "Land"}]', name='Type', multi='true', ng-model='filters.type')
                .ih-filter-box.col-lg-6
                  ih-dropdown#area(items='[{"name": "Central", "value": "Central"}, {"name": "North", "value": "North"}, {"name": "Northwest", "value": "Northwest"}, {"name": "Northeast", "value": "Northeast"}, {"name": "East", "value": "East"}, {"name": "West", "value": "West"}, {"name": "South", "value": "South"}, {"name": "Southwest", "value": "Southwest"}, {"name": "Southeast", "value": "Southeast"}, {"name": "Extended Northeast", "value": "Extended Northeast"}, {"name": "Extended Northwest", "value": "Extended Northwast"}, {"name": "Extended South", "value": "Extended South"}, {"name": "Extended Southwest", "value": "Extended Southwest"},  {"name": "Extended West", "value": "Extended West"}, {"name": "Pima East", "value": "Pima East"},  {"name": "Pima Far West", "value": "Pima Far West"}, {"name": "Pima Northwest", "value": "Pima Northwest"}, {"name": "Pima South", "value": "Pima South"}, {"name": "Pima Southwest", "value": "Pima Southwest"}]', name='Area', multi='true', ng-model='filters.area')
                .ih-filter-box.col-lg-6
                  ih-dropdown#community(items='[{"name":"Canada Hills","value":"Canada Hills"},{"name":"Cobblestone","value":"Cobblestone"},{"name":"Continental Ranch","value":"Continental Ranch"},{"name":"Continental Reserve","value":"Continental Reserve"},{"name":"Dorado CC Estates","value":"Dorado Country Club Estates"},{"name":"Dove Mountain","value":"dove mountain*"},{"name":"Fairfield","value":"Fairfield"},{"name":"Gladden Farms","value":"Gladden Farms"},{"name":"Hillcrest at Wingate","value":"Hillcrest at Wingate"},{"name":"Indian Ridge","value":"Indian Ridge"},{"name":"La Paloma","value":"La Paloma"},{"name":"La Reserve","value":"La Reserve"},{"name":"Midvale","value":"Midvale"},{"name":"None","value":"None"},{"name":"North Ranch","value":"North Ranch"},{"name":"Oro Valley CC","value":"oro valley c*"},{"name":"Rancho Del Lago","value":"Rancho Del Lago"},{"name":"Rancho Sahuarita","value":"Rancho Sahuarita"},{"name":"Rancho Vistoso","value":"Rancho Vistoso"},{"name":"Rita Ranch","value":"Rita Ranch"},{"name":"Sabino Springs","value":"Sabino Springs"},{"name":"Sabino Vista","value":"Sabino Vista"},{"name":"Salida Del Sol","value":"Salida Del Sol"},{"name":"Sam Hughes","value":"Sam Hughes"},{"name":"Silverado Hills","value":"Silverado Hills"},{"name":"Skyline CC","value":"oro valley c*"},{"name":"Starr Pass","value":"Starr Pass"},{"name":"Sun City Oro Valley","value":"Sun City Oro Valley"},{"name":"Tucson CC","value":"tucson c*"},{"name":"Tucson National CC","value":"tucson national*"},{"name":"Ventana CC","value":"ventana c*"}]', name='Community', ng-model='filters.community', truncate='4', multi='true')
                .ih-filter-box.col-lg-6
                  ih-dropdown#pool(items='[{"name": "Only", "value": "true"}, {"name": "Exclude", "value": "false"}]', name='Pool', ng-model='filters.pool')
                .ih-filter-box.col-lg-6
                  ih-dropdown#numGarage(items='[{"name": "1 or more", "value": "1"}, {"name": "2 or more", "value": "2"}, {"name": "3 or more", "value": "3"}, {"name": "4 or more", "value": "4"}]', name='Garage Size', ng-model='filters.numGarage')
                .ih-filter-box.col-lg-6
                  ih-dropdown#stories(items='[{"name": "1 Story", "value": "1"}, {"name": "2 Stories", "value": "2"}, {"name": "3 Stories", "value": "3"}, {"name": "4 Stories", "value": "4"}]', name='Stories', ng-model='filters.stories')
              .ih-filter-row.col-lg-12
                .btn-group
                  label.btn.btn-default(class="{{filters.active != undefined && filters.active != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', checked='', ng-model='filters.active')
                    |  Active
                  label.btn.btn-default(class="{{filters.sold != undefined && filters.sold != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', ng-model='filters.sold')
                    |  Sold
                  label.btn.btn-default(class="{{filters.pending != undefined && filters.pending != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', ng-model='filters.pending', ng-true-value='true', ng-false-value='false')
                    |  Pending
    .col-lg-5.col-md-5.hidden-sm.hidden-xs.fullh.map-pane
      ih-listing-map.full(results="listings")
    .col-lg-7.col-md-7.col-sm-12.col-xs-12.fullh.listing-pane
      .ih-listings-menu.fs
        .row
          .col-lg-6.col-md-6.col-sm-8.col-xs-12.fs.lead
            span
              strong {{totalListings | number}}
              |  Total Listings
          .col-lg-6.col-md-6.col-sm-4.col-xs-12
            button#listingMap.btn.btn-default.pull-right.last.hidden(name='listingMap', type='button')
              i.fa.fa-globe
            button#listingDisplay.btn.btn-default.pull-right.hidden(name='listingDisplay', type='button', ng-click='toggleListView()')
              i.fa.fa-list(ng-show='!showListView')
              i.fa.fa-th-large(ng-show='showListView')
            ih-dropdown#sort.dropdown.pull-right(items='[{"name": "Lowest Price", "value": "+ListPrice"}, {"name": "Highest Price", "value": "-ListPrice"}, {"name": "Newest Listings", "value": "-OnMarketDate"}, {"name": "Oldest Listings", "value": "+OnMarketDate"}]', name='Sort By', ng-model='filters.sort')
      .ih-listings.container-fluid
        .ih-listings-grid.row
          .no-results.hidden
            span.ih-ui-no-listings
            hr
            |  Sorry, there are no listings that match your search criteria.
          .ih-listing-block.col-lg-4.col-md-6.col-sm-6.col-xs-12(class='ih-mls-status-{{home.status}}', ng-repeat='home in listings', ng-class="showListView ? 'ih-listview' : ''", ng-mouseover='focusListing($index)')
            .ih-listing-card
              .ih-listing-card-img(style="background-image: url('{{home.thumb || 'https://s3-us-west-2.amazonaws.com/inhouse-websites/ia/images/noimage-placeholder.jpg'}}');")
                a.ih-ft-listing-link.block.full(href='#/listing/{{home.mls}}')
                  | View Home
                ih-like-button(listing="home")
              .ih-listing-card-desc.container-fluid
                .ih-ft-listing-addr.text-center
                  h4.fp {{home.address}}
                  h6.text-uppercase.text-muted.fs
                    strong {{home.city}} {{home.state}}, {{home.zipcode}}
                hr
                p.text-muted.fs
                  | {{home.publicRemarks|limitTo:130:0|words|sentence}}...
                  a.read-more(href='#/listing/{{home.mls}}') Read More
                hr
                .ih-ft-listing-details.row.fs
                  .ih-listing-qfacts
                    small(ng-if="home.beds != '' && home.baths != ''") {{home.beds}} BEDS | {{home.baths}} BATHS
                    br(ng-if="home.beds != '' && home.baths != ''")
                    small(ng-if="home.sqft != ''") {{home.sqft | number}} SQFT
                  .ih-listing-price.text-right
                    small
                      strong.lead.fs {{home.price | currency:"$":0}}
          .ih-listing-block.col-lg-4.col-md-6.col-sm-6.col-xs-12(ng-repeat='n in range(0,listingLoaders)', ng-class="showListView ? 'ih-listview' : ''")
            ih-listing-loader
        .ih-more-listings(ng-hide='displayListings == 0 || displayListings < 15')
          .ih-listing-count.lead.text-center
            strong {{displayListings | number}} / {{totalListings | number}}
          button.btn.btn-primary.btn-block(type='button', ng-click='moreListings()')
            | Load More Listings
        .ih-mls-legal
          | © 2016 - All Rights Reserved - Tucson Association of Realtors. All information deemed reliable, but not guaranteed. IDX information is provided exclusively for consumers' personal, non-commercial use and may not be used for any purpose other than
          | to identify prospective properties consumers may be interested in purchasing.
