//- custom template for teetsel phoenix
section.ih-results.s5.s1
  .container
    //- results filter
    #mapResults.ihmap-results(ng-show='mapShown')
      ih-listing-map.full(results="listings")
    //- listing results
    .ih-results-inner
      .ih-listings-menu
        .container-fluid
          .row
            .col-lg-8.col-md-8.col-sm-12.col-sm-12.fs.lead
              span
                strong {{totalListings | number}}
                |  Total Listings
              |  /
              span(ng-repeat='(filter,val) in filters', ng-if="filter != 'page' && filter != 'geolocation' && filter != 'callback' && filter != 'lead' && filter != 'active' && filter != 'price_from' && filter != 'price_to' && filter != 'min_beds' && filter != 'max_beds' && filter != 'min_baths' && filter != 'max_baths' && filter != 'min_sqft' && filter != 'max_sqft'")
                a.ih-breadcrumb(href='', ng-click='removeFilter(filter)')
                  | {{filter}}{{val == true ? '' : ': ' + val}}
                  i.fa.fa-times
                span(ng-if='!$last') /
            .col-lg-4.col-md-4.col-sm-12.col-sm-12
              button#listingMap.btn.btn-default.pull-right.last(name='listingMap', type='button', ng-click='toggleMaps()')
                i.fa.fa-globe
              a.btn.btn-default.pull-right(role='button', data-toggle='collapse', href='#searchFilters', aria-expanded='true', aria-controls='searchFilters', onclick='event.preventDefault()')
                i.fa.fa-filter
                |  More Filters
              button.btn.btn-default.pull-right.hidden(name='listingDisplay', type='button', ng-click='toggleListView()')
                i.fa.fa-list(ng-show='!showListView')
                i.fa.fa-th-large(ng-show='showListView')
              ih-dropdown#sort.dropdown.pull-right(items='[{"name": "Lowest Price", "value": "+ListPrice"}, {"name": "Highest Price", "value": "-ListPrice"}, {"name": "Newest Listings", "value": "-OnMarketDate"}, {"name": "Oldest Listings", "value": "+OnMarketDate"}]', name='Sort By', ng-model='filters.sort')
      .ih-filters.container-fluid
        #searchFilters.ih-advanced-filters.collapse.in.container-fluid(aria-expanded='true', data-toggle='true')
          .row
            .ih-input-box.col-lg-6.col-md-6.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='Address', name='propertyAddress', ng-model='filters.address')
            .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='Zip-code', name='propertyZip', ng-model='filters.zipcode')
            .ih-input-box.col-lg-3.col-md-3.col-sm-4.col-xs-12
              input.ih-search-input.full(type='text', placeholder='MLS #', name='propertyMLS', ng-model='filters.mls')
            //- communities hidden (only tucson)
            .ih-filter-box.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden
              ih-dropdown#community(items='[{"name":"Canada Hills","value":"Canada Hills"},{"name":"Cobblestone","value":"Cobblestone"},{"name":"Continental Ranch","value":"Continental Ranch"},{"name":"Continental Reserve","value":"Continental Reserve"},{"name":"Dorado CC Estates","value":"Dorado Country Club Estates"},{"name":"Dove Mountain","value":"dove mountain*"},{"name":"Fairfield","value":"Fairfield"},{"name":"Gladden Farms","value":"Gladden Farms"},{"name":"Hillcrest at Wingate","value":"Hillcrest at Wingate"},{"name":"Indian Ridge","value":"Indian Ridge"},{"name":"La Paloma","value":"La Paloma"},{"name":"La Reserve","value":"La Reserve"},{"name":"Midvale","value":"Midvale"},{"name":"None","value":"None"},{"name":"North Ranch","value":"North Ranch"},{"name":"Oro Valley CC","value":"oro valley c*"},{"name":"Rancho Del Lago","value":"Rancho Del Lago"},{"name":"Rancho Sahuarita","value":"Rancho Sahuarita"},{"name":"Rancho Vistoso","value":"Rancho Vistoso"},{"name":"Rita Ranch","value":"Rita Ranch"},{"name":"Sabino Springs","value":"Sabino Springs"},{"name":"Sabino Vista","value":"Sabino Vista"},{"name":"Salida Del Sol","value":"Salida Del Sol"},{"name":"Sam Hughes","value":"Sam Hughes"},{"name":"Silverado Hills","value":"Silverado Hills"},{"name":"Skyline CC","value":"oro valley c*"},{"name":"Starr Pass","value":"Starr Pass"},{"name":"Sun City Oro Valley","value":"Sun City Oro Valley"},{"name":"Tucson CC","value":"tucson c*"},{"name":"Tucson National CC","value":"tucson national*"},{"name":"Ventana CC","value":"ventana c*"}]', name='Community', ng-model='filters.community', truncate='4', multi='true')
            //- counties hidden
            .ih-input-box.col-lg-6.col-md-6.col-sm-12.col-xs-12.hidden
              ih-dropdown#county(items='[{"name": "Apache", "value": "Apache"}, {"name": "Navajo", "value": "Navajo"}, {"name": "Catron", "value": "Catron"}, {"name": "Cochise", "value": "Cochise"}, {"name": "Coconino", "value": "Coconino"}, {"name": "Gila", "value": "Gila"}, {"name": "Graham", "value": "Graham"}, {"name": "Greenlee", "value": "Greenlee"}, {"name": "LaPaz", "value": "LaPaz"}, {"name": "Maricopa", "value": "Maricopa"}, {"name": "Mohave", "value": "Mohave"}, {"name": "Other", "value": "Other"}, {"name": "Pima", "value": "Pima"}, {"name": "Pinal", "value": "Pinal"}, {"name": "Santa Cruz", "value": "Santa Cruz"}, {"name": "Yavapai", "value": "Yavapai"}, {"name": "Yuma", "value": "Yuma"}]', name='County', multi='true', ng-model='filters.county')
            .ih-input-box.col-lg-6.col-md-6.col-sm-12.col-xs-12
              ih-dropdown#type(multi='true', items='[{"name": "Single Family", "value": "Single Family"}, {"name": "Townhouse/Condo", "value": "Townhouse;Condo"}, {"name": "Manufactured", "value": "Manufactured"}, {"name": "Land/Lot", "value": "Land"}]', name='Type', ng-model='filters.type')
            .ih-input-box.col-lg-6.col-md-6.col-sm-12.col-xs-12
              ih-dropdown#city(items='[{"name": "Aguila", "value": "Aguila"}, {"name": "Ahwatukee", "value": "Ahwatukee"}, {"name": "Ajo", "value": "Ajo"}, {"name": "Alpine", "value": "Alpine"}, {"name": "Amado", "value": "Amado"}, {"name": "Anthem", "value": "Anthem"}, {"name": "Apache Junction", "value": "Apache Junction"}, {"name": "Arivaca", "value": "Arivaca"}, {"name": "Arizona City", "value": "Arizona City"}, {"name": "Arlington", "value": "Arlington"}, {"name": "Ash Fork", "value": "Ash Fork"}, {"name": "Avondale", "value": "Avondale"}, {"name": "Benson", "value": "Benson"}, {"name": "Bisbee", "value": "Bisbee"}, {"name": "Black Canyon City", "value": "Black Canyon City"}, {"name": "Buckeye", "value": "Buckeye"}, {"name": "Bullhead City", "value": "Bullhead City"}, {"name": "Camp Creek", "value": "Camp Creek"}, {"name": "Camp Verde", "value": "Camp Verde"}, {"name": "Carefree", "value": "Carefree"}, {"name": "Casa Grande", "value": "Casa Grande"}, {"name": "Castle Hot Springs", "value": "Castle Hot Springs"}, {"name": "Cave Creek", "value": "Cave Creek"}, {"name": "Chandler", "value": "Chandler"}, {"name": "Chino Valley", "value": "Chino Valley"}, {"name": "Christopher Creek", "value": "Christopher Creek"}, {"name": "Clarkdale", "value": "Clarkdale"}, {"name": "Clay Springs", "value": "Clay Springs"}, {"name": "Claypool", "value": "Claypool"}, {"name": "Cochise", "value": "Cochise"}, {"name": "Concho", "value": "Concho"}, {"name": "Congress", "value": "Congress"}, {"name": "Coolidge", "value": "Coolidge"}, {"name": "Cordes Lakes", "value": "Cordes Lakes"}, {"name": "Cornville", "value": "Cornville"}, {"name": "Cottonwood", "value": "Cottonwood"}, {"name": "Crown King", "value": "Crown King"}, {"name": "Desert Hills", "value": "Desert Hills"}, {"name": "Dewey", "value": "Dewey"}, {"name": "Dragoon", "value": "Dragoon"}, {"name": "Eagar", "value": "Eagar"}, {"name": "El Mirage", "value": "El Mirage"}, {"name": "Elfrida", "value": "Elfrida"}, {"name": "Elgin", "value": "Elgin"}, {"name": "Eloy", "value": "Eloy"}, {"name": "Flagstaff", "value": "Flagstaff"}, {"name": "Florence", "value": "Florence"}, {"name": "Forest Lakes", "value": "Forest Lakes"}, {"name": "Fort McDowell", "value": "Fort McDowell"}, {"name": "Fountain Hills", "value": "Fountain Hills"}, {"name": "Gila Bend", "value": "Gila Bend"}, {"name": "Gilbert", "value": "Gilbert"}, {"name": "Gisela", "value": "Gisela"}, {"name": "Glendale", "value": "Glendale"}, {"name": "Globe", "value": "Globe"}, {"name": "Gold Canyon", "value": "Gold Canyon"}, {"name": "Golden Valley", "value": "Golden Valley"}, {"name": "Goodyear", "value": "Goodyear"}, {"name": "Green Valley", "value": "Green Valley"}, {"name": "Greer", "value": "Greer"}, {"name": "Hackberry", "value": "Hackberry"}, {"name": "Happy Jack", "value": "Happy Jack"}, {"name": "Heber", "value": "Heber"}, {"name": "Hereford", "value": "Hereford"}, {"name": "Holbrook", "value": "Holbrook"}, {"name": "Kearny", "value": "Kearny"}, {"name": "Kingman", "value": "Kingman"}, {"name": "Kirkland", "value": "Kirkland"}, {"name": "Kohls Ranch", "value": "Kohls Ranch"}, {"name": "Lake Havasu City", "value": "Lake Havasu City"}, {"name": "Lakeside", "value": "Lakeside"}, {"name": "Laveen", "value": "Laveen"}, {"name": "Linden", "value": "Linden"}, {"name": "Litchfield Park", "value": "Litchfield Park"}, {"name": "Mammoth", "value": "Mammoth"}, {"name": "Maricopa", "value": "Maricopa"}, {"name": "Mayer", "value": "Mayer"}, {"name": "Mesa", "value": "Mesa"}, {"name": "Miami", "value": "Miami"}, {"name": "Mobile", "value": "Mobile"}, {"name": "Mormon Lake", "value": "Mormon Lake"}, {"name": "Morristown", "value": "Morristown"}, {"name": "Munds Park", "value": "Munds Park"}, {"name": "Naco", "value": "Naco"}, {"name": "New River", "value": "New River"}, {"name": "Nutrioso", "value": "Nutrioso"}, {"name": "Oro Valley", "value": "Oro Valley"}, {"name": "Outside Arizona", "value": "Outside Arizona"}, {"name": "Outside of USA", "value": "Outside of USA"}, {"name": "Overgaard", "value": "Overgaard"}, {"name": "Palo Verde", "value": "Palo Verde"}, {"name": "Paradise Valley", "value": "Paradise Valley"}, {"name": "Parks", "value": "Parks"}, {"name": "Paulden", "value": "Paulden"}, {"name": "Payson", "value": "Payson"}, {"name": "Peach Springs", "value": "Peach Springs"}, {"name": "Pearce", "value": "Pearce"}, {"name": "Peeples Valley", "value": "Peeples Valley"}, {"name": "Peoria", "value": "Peoria"}, {"name": "Phoenix", "value": "Phoenix"}, {"name": "Picacho", "value": "Picacho"}, {"name": "Pine", "value": "Pine"}, {"name": "Pinedale", "value": "Pinedale"}, {"name": "Pinetop", "value": "Pinetop"}, {"name": "Portal", "value": "Portal"}, {"name": "Prescott", "value": "Prescott"}, {"name": "Prescott Valley", "value": "Prescott Valley"}, {"name": "Quartzsite", "value": "Quartzsite"}, {"name": "Queen Creek", "value": "Queen Creek"}, {"name": "Queen Valley", "value": "Queen Valley"}, {"name": "Red Rock", "value": "Red Rock"}, {"name": "Rimrock", "value": "Rimrock"}, {"name": "Rio Verde", "value": "Rio Verde"}, {"name": "Safford", "value": "Safford"}, {"name": "Salome", "value": "Salome"}, {"name": "San Manuel", "value": "San Manuel"}, {"name": "San Simon", "value": "San Simon"}, {"name": "San Tan Valley", "value": "San Tan Valley"}, {"name": "Scottsdale", "value": "Scottsdale"}, {"name": "Sedona", "value": "Sedona"}, {"name": "Seligman", "value": "Seligman"}, {"name": "Sentinel", "value": "Sentinel"}, {"name": "Show Low", "value": "Show Low"}, {"name": "Sierra Vista", "value": "Sierra Vista"}, {"name": "Snowflake", "value": "Snowflake"}, {"name": "Spring Valley", "value": "Spring Valley"}, {"name": "Springerville", "value": "Springerville"}, {"name": "Stanfield", "value": "Stanfield"}, {"name": "Star Valley", "value": "Star Valley"}, {"name": "Strawberry", "value": "Strawberry"}, {"name": "Sun City", "value": "Sun City"}, {"name": "Sun City West", "value": "Sun City West"}, {"name": "Sun Lakes", "value": "Sun Lakes"}, {"name": "Sunflower", "value": "Sunflower"}, {"name": "Superior", "value": "Superior"}, {"name": "Surprise", "value": "Surprise"}, {"name": "Taylor", "value": "Taylor"}, {"name": "Tempe", "value": "Tempe"}, {"name": "Thatcher", "value": "Thatcher"}, {"name": "Tolleson", "value": "Tolleson"}, {"name": "Toltec", "value": "Toltec"}, {"name": "Tonopah", "value": "Tonopah"}, {"name": "Tortilla Flat", "value": "Tortilla Flat"}, {"name": "Truxton", "value": "Truxton"}, {"name": "Tubac", "value": "Tubac"}, {"name": "Tucson", "value": "Tucson"}, {"name": "Vail", "value": "Vail"}, {"name": "Valley Farms", "value": "Valley Farms"}, {"name": "Vernon", "value": "Vernon"}, {"name": "Waddell", "value": "Waddell"}, {"name": "Wenden", "value": "Wenden"}, {"name": "White Mountain Lake", "value": "White Mountain Lake"}, {"name": "Wickenburg", "value": "Wickenburg"}, {"name": "Wikieup", "value": "Wikieup"}, {"name": "Wilhoit", "value": "Wilhoit"}, {"name": "Willcox", "value": "Willcox"}, {"name": "Williams", "value": "Williams"}, {"name": "Winkelman", "value": "Winkelman"}, {"name": "Winslow", "value": "Winslow"}, {"name": "Wittmann", "value": "Wittmann"}, {"name": "Yarnell", "value": "Yarnell"}, {"name": "Young", "value": "Young"}, {"name": "Youngtown", "value": "Youngtown"}, {"name": "Yucca", "value": "Yucca"}, {"name": "Yuma", "value": "Yuma"}]', name='City', multi='true',ng-model='filters.city')
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='$ Min Price', name='propertyMinPrice', ng-model='filters.price_from')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='$ Max Price', name='propertyMaxPrice', ng-model='filters.price_to')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Min Beds', name='propertyMinBeds', ng-model='filters.min_beds')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Max Beds', name='propertyMaxBeds', ng-model='filters.max_beds')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Min Baths', name='propertyMinBaths', ng-model='filters.min_baths')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Max Baths', name='propertyMaxBaths', ng-model='filters.max_baths')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Min Sqft', name='propertyMinSF', ng-model='filters.min_sqft')
              .ih-input-box.col-lg-3.col-md-3.col-sm-6.col-xs-6
                input.ih-search-input.full(type='text', placeholder='Max Sqft', name='propertyMaxSF', ng-model='filters.max_sqft')
              .ih-slide.hidden
                label(for='#yearRange') Year Built
                bootstrap-slider#yearRange(name='yearRange', ng-model='filters.yearRange', type='text', data-slider-min='1900', data-slider-max='2017', data-slider-step='1', data-slider-value='[1900,2017]', data-filter='yearRange')
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              //- type moved above / pool not used
              .ih-filter-row.row.hidden
                .ih-filter-box.col-lg-6
                  ih-dropdown#type(multi='true', items='[{"name": "Single Family", "value": "Single Family"}, {"name": "Townhouse/Condo", "value": "Townhouse;Condo"}, {"name": "Manufactured", "value": "Manufactured"}, {"name": "Land/Lot", "value": "Land"}]', name='Type', ng-model='filters.type')
                .ih-filter-box.col-lg-6
                  ih-dropdown#pool(items='[{"name": "Only", "value": "true"}, {"name": "Exclude", "value": "false"}]', name='Pool', ng-model='filters.pool')
              //- garage and stories not used
              .ih-filter-row.row.hidden
                .ih-filter-box.col-lg-6
                  ih-dropdown#numGarage(items='[{"name": "1 or more", "value": "1"}, {"name": "2 or more", "value": "2"}, {"name": "3 or more", "value": "3"}, {"name": "4 or more", "value": "4"}]', name='Garage Size', ng-model='filters.numGarage')
                .ih-filter-box.col-lg-6
                  ih-dropdown#stories(items='[{"name": "1 Story", "value": "1"}, {"name": "2 Stories", "value": "2"}, {"name": "3 Stories", "value": "3"}, {"name": "4 Stories", "value": "4"}]', name='Stories', ng-model='filters.stories')
              //- .ih-filter-row.col-lg-12
                .btn-group
                  label.btn.btn-default(class="{{filters.active != undefined && filters.active != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', checked='', ng-model='filters.active')
                    |  Active
                  label.btn.btn-default(class="{{filters.sold != undefined && filters.sold != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', ng-model='filters.sold')
                    |  Sold
                  label.btn.btn-default(class="{{filters.pending != undefined && filters.pending != 'false' ? 'active' : ''}}")
                    input(type='checkbox', autocomplete='off', ng-model='filters.pending', ng-true-value='true', ng-false-value='false')
                    |  Pending
      .ih-listings.container-fluid
        .ih-listings-grid.row
          .no-results.hidden
            span.ih-ui-no-listings
            hr
            |  Sorry, there are no listings that match your search criteria.
          .ih-listing-block.col-lg-3.col-md-4.col-sm-6.col-xs-12(class='ih-mls-status-{{home.status}}', ng-class="showListView ? 'ih-listview' : ''", ng-repeat='home in listings', ng-mouseover='focusListing($index)')
            .ih-listing-card
              .ih-listing-card-img(style="background-image: url('{{home.thumb || 'https://s3-us-west-2.amazonaws.com/inhouse-websites/ia/images/noimage-placeholder.jpg'}}');")
                a.ih-ft-listing-link.block.full(href='#/listing/{{home.mls}}')
                  | View Home
                ih-like-button(listing="home")
              .ih-listing-card-desc.container-fluid
                .ih-ft-listing-addr.text-center
                  h4 {{home.address}}
                  h6.text-uppercase.text-muted
                    strong {{home.city}} {{home.state}}, {{home.zipcode}}
                hr
                p.text-muted
                  | {{home.publicRemarks|limitTo:130:0|words|sentence}}...
                  a.read-more(href='#/listing/{{home.mls}}') Read More
                hr
                .ih-ft-listing-details.row
                  .col-lg-6.col-mg-6.col-sm-6.col-xs-6
                    small(ng-if="home.beds != '' && home.baths != ''") {{home.beds}} BEDS | {{home.baths}} BATHS
                    br(ng-if="home.beds != '' && home.baths != ''")
                    small(ng-if="home.sqft != ''") {{home.sqft | number}} SQFT
                  .col-lg-6.col-mg-6.col-sm-6.col-xs-6.text-right
                    small
                      strong.lead.fs {{home.price | currency:"$":0}}
          .ih-listing-block.col-lg-3.col-md-4.col-sm-6.col-xs-12(ng-class="showListView ? 'ih-listview' : ''", ng-repeat='n in range(0,listingLoaders)')
            ih-listing-loader
        //- more listing scrollspy/button
        .ih-more-listings
          .ih-listing-count.lead.text-center
            strong
              | {{displayListings * (filters.page ? filters.page : 1) | number}} / {{totalListings | number}}
          button.btn.btn-primary.btn-block(type='button', ng-click='moreListings()')
            | Load More Listings
        .ih-mls-legal
          | © 2016 - All Rights Reserved - Tucson Association of Realtors. All information deemed reliable, but not guaranteed. IDX information is provided exclusively for consumers' personal, non-commercial use and may not be used for any purpose other than
          | to identify prospective properties consumers may be interested in purchasing.
        .ih-accent-divider
