<section class="ih-content ih-bio s3" itemscope itemtype="http://schema.org/RealEstateAgent">
  <header>
    <div class="container">
      <h1 class="fs inlineblock fw" itemprop="name">{{bioAgent.name}}</h1>
      <div class="clear"></div>
      <h4 class="fp inlineblock fw">{{bioAgent.title}}</h4>
    </div>
  </header>
  <div class="container">
    <div class="row mb-flex">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 about-pane ih">
        <h3 class="text-uppercase fc-01"><span class="fc-03">&#9670;</span> About {{bioAgent.name | split: ' ':0}}</h3>
        <div class="ih-social about-social text-center iha tp rt">
          <a href="mailto:{{bioAgent.contactEmail}}" class="ih-social-icon" ng-if="bioAgent.contactEmail !== undefined"><i class="fa fa-envelope"></i></a>
          <a href="{{bioAgent.facebook}}" class="ih-social-icon" ng-if="bioAgent.facebook !== undefined"><i class="fa fa-facebook"></i></a>
          <a href="{{bioAgent.linkedin}}" class="ih-social-icon" ng-if="bioAgent.linkedin !== undefined"><i class="fa fa-linkedin"></i></a>
          <a href="{{bioAgent.twitter}}" class="ih-social-icon" ng-if="bioAgent.twitter !== undefined"><i class="fa fa-twitter"></i></a>
          <a href="{{bioAgent.instagram}}" class="ih-social-icon" ng-if="bioAgent.instagram !== undefined"><i class="fa fa-instagram"></i></a>
          <a href="{{bioAgent.pinterest}}" class="ih-social-icon" ng-if="bioAgent.pinterest !== undefined"><i class="fa fa-pinterest"></i></a>
        </div>
        <div itemprop="about" ng-bind-html="bioAgent.bio | to_trusted" class="agent-bio fo"></div>
        <a href="mailto:{{bioAgent.contactEmail}}" class="btn btn-default">Contact Me</a>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 image-pane ih">
        <div class="agent-image" style="background-image: url('{{bioAgent.headshot}}')">
          <span class="sr-only">{{bioAgent.name}} Picture</span>
        </div>
      </div>
    </div>
  </div>
  <ih-divider configname="logo"></ih-divider>
</section>
