/* buy */

.narrative-links {
    padding: 30px 0;
}
.narrative p {
    margin-bottom: 30px;
    font-size: 16px;
}
.narrative .ih-sm-divider {
    width: 30px;
    min-width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
}

.ih-content-body .ih-nar-btn {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 20px;
}

/* responsive */

@media screen and (min-width: 1921px) {}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 376px) and (max-width: 768px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 426px) {}
@media screen and (max-width: 374px) {}
