section.narrative
  .narrative-inner.container
    .col-md-6.col-md-offset-3
      .narrative-links
        a.btn.btn-primary.ih-nar-btn(href='#/search-mls?active') Let Me Search
        a.btn.btn-primary.ih-nar-btn(href='#/search-mls?near-me&active') Listings Near Me
        a.btn.btn-primary.ih-nar-btn(href='#/community-search') Search Communities
        a.btn.btn-primary.ih-nar-btn.hidden(href='#/schools') Search Schools
        a.btn.btn-primary.ih-nar-btn.hidden(href='#/search-form') Search for me
