
/* global */
.ih-testimonials {
  position: relative;
  padding: 25px 0;
  margin: 50px 0;
  background: #eee;
}
.ih-testimonials-inner {
  position: relative;
  padding: 25px 0;
}

/* s1 */
.s1.ih-testimonials {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.s1.ih-testimonials .ih-header {
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* s2 */
.s2.ih-testimonials {
  padding-top: 130px;
  padding-bottom: 110px;
  min-height: 630px;
}

/*** responsive ***/
@media screen and (max-width: 768px) {
  .ih-testimonial-icon {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 35px;
  }
}