@font-face {
  font-family: 'inhouse-property-icons-01';
  src:  url('../../build/ia/icons/property-icons/fonts/inhouse-property-icons-01.eot?gxwwdk');
  src:  url('../../build/ia/icons/property-icons/fonts/inhouse-property-icons-01.eot?gxwwdk#iefix') format('embedded-opentype'),
    url('../../build/ia/icons/property-icons/fonts/inhouse-property-icons-01.ttf?gxwwdk') format('truetype'),
    url('../../build/ia/icons/property-icons/fonts/inhouse-property-icons-01.woff?gxwwdk') format('woff'),
    url('../../build/ia/icons/property-icons/fonts/inhouse-property-icons-01.svg?gxwwdk#inhouse-property-icons-01') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ih-icon-"], [class*=" ih-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inhouse-property-icons-01' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ih-icon {
  font-size: 2.5em;
  padding: .5em;
}

.ih-sm-icon {
  font-size: 1em;
  padding: 0 .5em;
}

.ih-icon-inhouse-emblem:before {
  content: "\e973";
}
.ih-icon-built-in-az:before {
  content: "\e972";
}
.ih-icon-agreement:before {
  content: "\e940";
}
.ih-icon-baggage:before {
  content: "\e941";
}
.ih-icon-bathtub2:before {
  content: "\e942";
}
.ih-icon-bed:before {
  content: "\e943";
}
.ih-icon-building:before {
  content: "\e944";
}
.ih-icon-building-1:before {
  content: "\e945";
}
.ih-icon-building-2:before {
  content: "\e946";
}
.ih-icon-check2:before {
  content: "\e947";
}
.ih-icon-couple:before {
  content: "\e948";
}
.ih-icon-crane:before {
  content: "\e949";
}
.ih-icon-crane-1:before {
  content: "\e94a";
}
.ih-icon-document:before {
  content: "\e94b";
}
.ih-icon-electricity:before {
  content: "\e94c";
}
.ih-icon-entrance:before {
  content: "\e94d";
}
.ih-icon-factory:before {
  content: "\e94e";
}
.ih-icon-fair-price:before {
  content: "\e94f";
}
.ih-icon-family:before {
  content: "\e950";
}
.ih-icon-fence2:before {
  content: "\e951";
}
.ih-icon-garage2:before {
  content: "\e952";
}
.ih-icon-garage-1:before {
  content: "\e953";
}
.ih-icon-house2:before {
  content: "\e954";
}
.ih-icon-house-12:before {
  content: "\e955";
}
.ih-icon-house-key2:before {
  content: "\e956";
}
.ih-icon-house-price:before {
  content: "\e957";
}
.ih-icon-house-size:before {
  content: "\e958";
}
.ih-icon-imac:before {
  content: "\e959";
}
.ih-icon-ipad:before {
  content: "\e95a";
}
.ih-icon-key2:before {
  content: "\e95b";
}
.ih-icon-laptop:before {
  content: "\e95c";
}
.ih-icon-location2:before {
  content: "\e95d";
}
.ih-icon-lock:before {
  content: "\e95e";
}
.ih-icon-mailbox:before {
  content: "\e95f";
}
.ih-icon-map:before {
  content: "\e960";
}
.ih-icon-negotiation:before {
  content: "\e961";
}
.ih-icon-open-door:before {
  content: "\e962";
}
.ih-icon-paint-roller:before {
  content: "\e963";
}
.ih-icon-pet:before {
  content: "\e964";
}
.ih-icon-phone:before {
  content: "\e965";
}
.ih-icon-pipes:before {
  content: "\e966";
}
.ih-icon-plan:before {
  content: "\e967";
}
.ih-icon-search-home:before {
  content: "\e968";
}
.ih-icon-shop:before {
  content: "\e969";
}
.ih-icon-shower:before {
  content: "\e96a";
}
.ih-icon-sign:before {
  content: "\e96b";
}
.ih-icon-smartphone:before {
  content: "\e96c";
}
.ih-icon-sofa:before {
  content: "\e96d";
}
.ih-icon-statistic:before {
  content: "\e96e";
}
.ih-icon-swimming-pool:before {
  content: "\e96f";
}
.ih-icon-television:before {
  content: "\e970";
}
.ih-icon-truck2:before {
  content: "\e971";
}
.ih-icon-flat-plan:before {
  content: "\e900";
}
.ih-icon-flat-plan-1:before {
  content: "\e901";
}
.ih-icon-garden-fence:before {
  content: "\e902";
}
.ih-icon-garden-fence-1:before {
  content: "\e903";
}
.ih-icon-home-location-marker:before {
  content: "\e904";
}
.ih-icon-house-door:before {
  content: "\e905";
}
.ih-icon-house-door-1:before {
  content: "\e906";
}
.ih-icon-house-front-view:before {
  content: "\e907";
}
.ih-icon-house-front-view-1:before {
  content: "\e908";
}
.ih-icon-house-front-view-2:before {
  content: "\e909";
}
.ih-icon-house-front-view-3:before {
  content: "\e90a";
}
.ih-icon-house-front-view-4:before {
  content: "\e90b";
}
.ih-icon-house-front-view-5:before {
  content: "\e90c";
}
.ih-icon-house-front-view-6:before {
  content: "\e90d";
}
.ih-icon-house-key:before {
  content: "\e90e";
}
.ih-icon-house-key-1:before {
  content: "\e90f";
}
.ih-icon-house-location-marker:before {
  content: "\e910";
}
.ih-icon-house-mailbox:before {
  content: "\e911";
}
.ih-icon-house-mailbox-1:before {
  content: "\e912";
}
.ih-icon-sold-sign:before {
  content: "\e913";
}
.ih-icon-sold-sign-1:before {
  content: "\e914";
}
.ih-icon-sold-sign-2:before {
  content: "\e915";
}
.ih-icon-sold-sign-3:before {
  content: "\e916";
}
.ih-icon-two-storey-house-front-view:before {
  content: "\e917";
}
.ih-icon-air-conditioner:before {
  content: "\e918";
}
.ih-icon-amount:before {
  content: "\e91a";
}
.ih-icon-bathtub:before {
  content: "\e91b";
}
.ih-icon-blueprint:before {
  content: "\e91c";
}
.ih-icon-box:before {
  content: "\e921";
}
.ih-icon-briefcase:before {
  content: "\e922";
}
.ih-icon-calculator:before {
  content: "\e929";
}
.ih-icon-camera:before {
  content: "\e92a";
}
.ih-icon-check:before {
  content: "\e92c";
}
.ih-icon-coin:before {
  content: "\e92e";
}
.ih-icon-contract:before {
  content: "\e930";
}
.ih-icon-directions:before {
  content: "\e932";
}
.ih-icon-duplex:before {
  content: "\e934";
}
.ih-icon-fall:before {
  content: "\e936";
}
.ih-icon-fence:before {
  content: "\e938";
}
.ih-icon-flat:before {
  content: "\e93a";
}
.ih-icon-garage:before {
  content: "\e93c";
}
.ih-icon-hammer:before {
  content: "\e93e";
}
.ih-icon-home:before {
  content: "\e919";
}
.ih-icon-house:before {
  content: "\e91f";
}
.ih-icon-house-1:before {
  content: "\e91e";
}
.ih-icon-house-2:before {
  content: "\e91d";
}
.ih-icon-house-3:before {
  content: "\e920";
}
.ih-icon-house-4:before {
  content: "\e923";
}
.ih-icon-house-5:before {
  content: "\e928";
}
.ih-icon-houses:before {
  content: "\e92b";
}
.ih-icon-investment:before {
  content: "\e92d";
}
.ih-icon-key:before {
  content: "\e92f";
}
.ih-icon-location:before {
  content: "\e931";
}
.ih-icon-mansion:before {
  content: "\e933";
}
.ih-icon-mobile-phone:before {
  content: "\e935";
}
.ih-icon-new:before {
  content: "\e937";
}
.ih-icon-prize:before {
  content: "\e939";
}
.ih-icon-real-estate:before {
  content: "\e93b";
}
.ih-icon-real-estate-1:before {
  content: "\e93d";
}
.ih-icon-rent:before {
  content: "\e93f";
}
.ih-icon-screen:before {
  content: "\e924";
}
.ih-icon-signature:before {
  content: "\e925";
}
.ih-icon-sold:before {
  content: "\e926";
}
.ih-icon-truck:before {
  content: "\e927";
}
