nav.p4.ih-nav.navbar.navbar-fixed-top(class='{{classes}} {{controller}}', itemscope='', itemtype='http://schema.org/SiteNavigationElement')
  .ih-cta
    .container.nopad
      .col-lg-5.col-md-7.col-sm-7.col-sm-12
        small.text-uppercase.contact-phone.text-muted
          | Call us today: {{agent.contactPhone | tel}}
      .col-lg-7.col-md-5.col-sm-5.col-sm-12
        ul.share-btns.pull-right.clearfix
          li.text-uppercase.text-muted
            small Share on:
          li
            a.ih-social-icon.facebook-hover(href='https://www.facebook.com/sharer/sharer.php?u={{shareUrl|encode}}', target='_blank')
              i.fa.fa-facebook
          li
            a.ih-social-icon.linkedin-hover(href='https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl|encode}}', target='_blank')
              i.fa.fa-linkedin
          li
            a.ih-social-icon.twitter-hover(href='https://twitter.com/home?status={{shareUrl|encode}}', target='_blank')
              i.fa.fa-twitter
          li
            a.ih-social-icon.google-hover(href='https://plus.google.com/share?url={{shareUrl|encode}}', target='_blank')
              i.fa.fa-google-plus
  section
    div.brand-contain(style="background-image: url('{{agent.teamLogo}}');")
    img.hidden(itemprop='logo', ng-src='{{agent.teamLogo}}', alt='{{agent.teamName}} logo')
