nav.p4.ih-nav.navbar.navbar-fixed-top(class='{{classes}} {{controller}}', itemscope='', itemtype='http://schema.org/SiteNavigationElement')
  section
    div.brand-contain(style="background-image: url('{{agent.teamLogo}}');")
    img.hidden(itemprop='logo', ng-src='{{agent.teamLogo}}', alt='{{agent.teamName}} logo')
