nav.s4.ih-nav.navbar.navbar-default.text-center(class='{{classes}} {{controller}}', itemscope='', itemtype='http://schema.org/SiteNavigationElement', role='navigation')
    .container-fluid
        .ih.navbar-header
            button.navbar-toggle(type='button', ng-init='isCollapsed = true', ng-click='isCollapsed = !isCollapsed', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(itemprop='url', href='#/')
                img(itemprop='logo', ng-src='{{agent.teamLogo}}', alt='{{agent.teamName}} logo')
        #mainNav.ih.navbar-collapse(ng-class='{collapse: isCollapsed}')
            .navbar-center
                ul.nav.navbar-nav(role='menubar')
                    li(ng-repeat='link in navbar', ng-class='link.children !== undefined')
                        a.text-uppercase(role='menuitem', itemprop='url', href='{{link.href}}', ng-if='link.children === undefined', ng-attr-target="{{link.type == 'external' || ''}}", target='_blank', ng-click='$parent.$parent.isCollapsed = !$parent.$parent.isCollapsed')
                            span(itemprop='name') {{link.display}}
                        a.dropdown-toggle.text-uppercase(ng-if='link.children !== undefined', href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | {{link.display}}
                            span.caret
                        ul.dropdown-menu(ng-if='link.children !== undefined')
                            li(ng-repeat='sublink in link.children')
                                a(role='menuitem', itemprop='url', href='{{sublink.href}}', ng-attr-target="{{sublink.type == 'external' || ''}}", target='_blank', ng-click='$parent.$parent.$parent.isCollapsed = !$parent.$parent.$parent.isCollapsed')
                                    span(itemprop='name') {{sublink.display}}
                                    i.fa.fa-caret-right
            ul.ih-cta.nav.navbar-nav.navbar-right
                li
                    a.clean-link(href='tel:{{agent.contactPhone | tel}}')
                        | {{agent.contactPhone | tel}}
                        span.ih-social-icon
                            i.fa.fa-phone
                li
                    button.sign-in.btn.btn-primary(type='button', ng-click='signIn()', data-toggle='modal', ng-if='!inhouseAgentLeadLoggedIn') Sign-in
                    a.clean-link.sign-in.signed-in.btn.btn-primary(href='#/search-mls?page=1&my-listings', ng-if='inhouseAgentLeadLoggedIn', data-toggle='tooltip', data-placement='left', title='Click here to view all your favorite listings')
                        i.fa.fa-home
