/* global */
.top-footer {
  min-height: 300px;
}

/*** responsive ****/
@media screen and (min-width: 376px) and (max-width: 768px) {
  .ih-copyright {
    text-align: center;
    margin: 10px 0;
  }
  .ih-breadcrumbs {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  footer,
  footer .text-right {
    text-align: center;
  }
  footer .row {
    margin: 20px 0;
  }
  .ih-copyright {
    margin: 10px 0px;
  }
  .mini-search {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {}