/* global */
.top-footer {
  min-height: 250px;
}
.sitemap {
  padding: 2px 10px;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.5);
  display: inline-block;
  margin-bottom: 7px;
}

.sitemap:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
}

/* s2 */
.s2 .footer-col>div {
  border-right: 1px solid #ddd;
  min-height: 200px;
}
.s2 .footer-col>div:last-child {
  border-right: none;
}
.s2 .legal-row {
  margin-top: 15px;
}
/*** responsive ****/
@media screen and (min-width: 376px) and (max-width: 768px) {
  .ih-copyright {
    text-align: center;
    margin: 10px 0;
  }
  .ih-breadcrumbs {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  footer,
  footer .text-right {
    text-align: center;
  }
  footer .row {
    margin: 20px 0;
  }
  .ih-copyright {
    margin: 10px 0px;
  }
  .mini-search {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {}