/* s1 - center page with slim side panel, active and sold listing gallery */

.s1.ih-bio .bio-image {
    width: 230px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.s1.ih-bio .ih-content-body .ih-social {
    position: absolute;
    top: 0;
    right: 25px;
}


/* s2 - wide page with large agent image */

.s2.ih-bio .bio-wide-img {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 30px;
}

.s2.ih-bio .ih-about-header {
    padding: 15px 0;
}

.s2.ih-bio .bio-contact {
    border-left: 1px solid #ddd;
    min-height: 300px;
}


/* s3 - alternating panels with listing maps */

.s3.ih-bio header {
    min-height: 300px;
    background-color: #ddd;
    margin-bottom: 35px;
}

.s3.ih-bio .agent-image {
    min-height: 600px;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.s3.ih-bio .listing-map {
    min-height: 650px;
    background-color: #eee;
}

.s3.ih-bio .blog-row {
    margin-top: 50px;
    min-height: 350px;
}

.s3.ih-bio .about-pane h3 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.s3.ih-bio .agent-bio {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
}

.s3.ih-bio .agent-listing {
    min-height: 180px !important;
    padding: 0 10px 10px 0 !important;
}

.s3.ih-bio .agent-listing>a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}


/* s4 */

.s4.ih-bio header {
    min-height: 260px;
    background-color: #eee;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 115px;
}

.s4.ih-bio .agent-image {
    position: relative;
    min-height: 600px !important;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.s4.ih-bio .agent-bio {
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.s4.ih-bio .about-social {
    margin-right: 25px;
    margin-top: 15px;
}

.s4.ih-bio h1 {
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.15);
}

.s4.ih-bio {
    margin-bottom: 100px;
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 374px) {}
