<section class="p1 ih-nearby container-fluid">
    <h1 class="ih-header text-center fc-02">Nearby Places</h1>
    <div class="row">
        <p class="fs text-center col-md-6 col-md-offset-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius sem vel quam facilisis, semper eleifend ipsum facilisis.{{listing.listingDescription | limitTo: 250 }}
        </p>
    </div>
    <div class="row">
        <div class="container">
            <div class="nearby-toggle btn-group btn-group-justified" role="group" aria-label="nearbyToggle">
                <a href="#/" class="btn btn-default" role="button">Schools</a>
                <a href="#/" class="btn btn-default" role="button">Shopping</a>
                <a href="#/" class="btn btn-default" role="button">Food</a>
                <a href="#/" class="btn btn-default" role="button">Fun</a>
                <a href="#/" class="btn btn-default" role="button">Parks</a>
            </div>
        </div>
        <div class="container">
            <div class="flex-grid">
                <div class="nearby-list flex-6">
                    <h3 class="fc-01">Schools{{listing.nearbyLabel}}</h3>
                    <!-- ng-repeat results -->
                    <div class="nearby-place clearfix">
                        <div class="pull-left round-icon bkc-04 fw">
                            <span class="ih-icon-location"></span>
                        </div>
                        <div class="pull-left">
                            <h5 class="text-uppercase fc-01">InHouse High School{{googleplace}}</h5>
                            <div class="g-rating">
                                <i class="fa fa-star"></i> | 25 Reviews({{googlereviewcount}})
                            </div>
                            <div>
                                23+5 S EnScuela Road, Tucson AZ 85715{{googleaddress}}
                                <br> 8am - 1:30pm{{googlehours}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nearby-map flex-6">
                    <ih-gmaps class="full"></ih-gmaps>
                </div>
            </div>
        </div>
        <div class="container text-center btn-row">
          <a href="#/" class="btn btn-primary">Text Me Directions</a>
        </div>
    </div>
</section>
