section.p3.ih-nearby.fw
  div.container-fluid.nearby-inner
    h2.ih-header Nearby Places
    div.ih-sm-divider
  div.flex-grid
    div.flex-8.map-box
      map(center='{{centerCoordinates}}', zoom='12', scrollwheel='false')
        marker(ng-repeat='coord in markerCoordinates track by $index', position='{{coord}}')
    div.flex-4.nearby-list
      div.nearby-list-panel(ng-repeat='source in sources', ng-if='showTab == source.source')
        h3.fc-01 {{source.name}}
        div.nearby-place.clearfix(ng-repeat='place in source.data')
          div.pull-left.round-icon.bkc-04.fw
            span.ih-icon-location3
          div.pull-left
            h5.text-uppercase.fc-01 {{place.name}}
            div.g-rating(ng-if='place.rating')
              | {{place.rating}}
              i.fa.fa-star
            div.g-rating(ng-if='!place.rating')
              | No rating available
            div.loc-address
              | {{place.address}}
              br
              em {{place.hours.open_now ? &apos;Open now!&apos; : &apos;Closed&apos;}}
