section.p6.ih-nearby.fw
  span.image-div
    map(center='{{centerCoordinates}}', zoom='12', scrollwheel='false')
      marker(ng-repeat='coord in markerCoordinates track by $index', position='{{coord}}')
  div.container-fluid.section-inner
    h1.ih-header Nearby Places
    div.ih-sm-divider
    ul.nav.nav-pills.nav-justified.nearby-tabs
      li(ng-repeat='source in sources')
        a.pointer(ng-click='selectTab($index)') {{source.name}}
    div.nearby-list
      div.nearby-list-panel(ng-repeat='source in sources', ng-if='showTab == source.source')
        h3 {{source.name}}
        div.nearby-place.clearfix(ng-repeat='place in source.data')
          div.pull-left.round-icon.bkc-04.fw
            span.ih-icon-location3
          div.pull-left
            h5.text-uppercase {{place.name}}
            div.g-rating(ng-if='place.rating')
              | {{place.rating}}
              i.fa.fa-star
            div.g-rating(ng-if='!place.rating')
              | No rating available
            div.loc-address
              | {{place.address}}
              br
              em {{place.hours.open_now ? &apos;Open now!&apos; : &apos;Closed&apos;}}
  div.map-box
    map(center='{{centerCoordinates}}', zoom='12', scrollwheel='false')
      marker(ng-repeat='coord in markerCoordinates track by $index', position='{{coord}}')
