/* global */
.ih-nav,
.navbar-brand { height: auto !important; min-height: auto !important; }

/* s1 - default horizontal full-width absolute to top */
.s1.ih-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  z-index: 99;
  padding-top: 15px;
}
.s1.ih-nav>.container,
.s1.ih-nav nav .container {
  width: 100%;
  padding: 0 30px;
}
/* s2 - stacked brand logo center top */
.s2.ih-nav {
  min-height: 220px;
}
.s2.ih-nav>.container {
  height: 100%;
}
.s2.ih-nav .navbar-header {
  position: relative;
  width: 100%;
  float: none !important;
  text-align: center;
  padding: 15px 0;
}
.s2.ih-nav .navbar-brand {
  width: 100%;
  float: none;
}
.s2.ih-nav .navbar-brand img {
  display: initial;
}
.s2.ih-nav .navbar-nav {
  width: 100%;
  float: none !important;
  margin: 0;
}
.s2.ih-nav .navbar-nav>li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.s2.ih-nav .navbar-nav>li>a {
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.s2.ih-nav .navbar-nav>li:first-child a {
  text-align: left;
}
.s2.ih-nav .navbar-nav>li:nth-child(2) {
  text-align: left;
}
.s2.ih-nav .navbar-nav>li:nth-child(4) {
  text-align: right;
}
.s2.ih-nav .navbar-nav>li:last-child a {
  text-align: right;
}

/*** *** responsive *** ***/
@media screen and (max-width: 320px) {
  /* s1 */
  .navbar-brand>img {
    width: 170px !important;
  }
  
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .navbar-toggle {
    top: 15px;
    right: 0;
    padding: 10px;
  }
  /* s2 */
  
}
@media screen and (max-width: 766px) {
  /* s1 */
  .navbar-brand>img {
    width: 260px;
  }
  .navbar-brand {
    height: auto;
  }
  .navbar-toggle {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 0;
    border-radius: 0;
    transition: .3s;
    padding: 15px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 30px;
    margin-bottom: 7px;
  }
  .navbar-default .navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
  }  
  #mainNav>ul>li {
    padding: 10px !important;
    text-align: center;
  }  
  /* s2 */
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* s1 */
  .navbar-brand {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
    height: auto;
  }
  .navbar-header {
    float: none;
    width: 100%;
    text-align: center;
  }
  .navbar-brand>img {
    display: inline-block;
    width: 300px;
  }
  #mainNav>ul>li {
    padding: 5px 0;
  }
  .navbar-right {
    float: none !important;
    width: 100%;
    margin-right: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, .2);
  }
  /* s2 */
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* s1 */
  .navbar-brand>img {
    width: 280px;
    margin-top: 15px;
  }
  /* s2 */
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {}
@media screen and (min-width: 1921px) {}