section.l2.p2.ih-testimonials.ih.z0.fp(class='{{classes}}', ng-show='lender.testimonials.length > 0')
  .container(ng-show='testimonials.length > 0')
    h1.ih-header.fc-02.text-center What our clients say
    ih-owl.owl-carousel.tst-carousel(items='lender.testimonials', responsive='responsive')
      .item.text-center(class="{{$index == 0 ? 'active' : ''}}", ng-repeat='slide in testimonials')
        blockquote.testimonial(itemprop='review')
          .ih-ratings(itemprop='rating')
            i.fa.fa-star(ng-repeat='i in range(1, slide.stars)')
            span.sr-only {{rating}}
          p(itemprop='review fs') {{slide.testimonial | limitTo:300}}...
          h5 - {{slide.reviewer}}
    .ih.text-center(ng-hide='!showZillow')
      span.ih-ui.ih-ui-zillow
