<!-- need to add primary listing image to background -->
<section class="p1 ih-testimonials bkbf-04 fw {{classes}}" ng-show="testimonials.length > 0">
    <div class="container">
        <div class="row">
            <h1 class="ih-header text-center">What our clients say</h1>
        </div>
        <div class="row">
            <div class="owl-carousel tst-carousel">
                <div class="item text-center {{$index == 0 ? 'active' : ''}}" ng-repeat="slide in testimonials">
                    <blockquote itemprop="review" class="testimonial">
                        <div class="ih-sm-header"></div>
                        <div class="ih-ratings" itemprop="rating">
                            <i class="fa fa-star" ng-repeat="i in range(1, slide.stars)"></i>
                            <span class="sr-only">{{rating}}</span>
                        </div>
                        <p itemprop="review">{{slide.testimonial}}</p>
                        <a href="{{slide.reviewURL}}" target="_blank" class="read-more" ng-show="slide.reviewURL != ''">Read More</a>
                        <footer>{{slide.reviewer}} | {{slide.context}}</footer>
                    </blockquote>
                </div>
            </div>
            <div class="ih text-center" ng-hide="!showZillow">
                <span class="ih-ui ih-ui-zillow"></span>
            </div>
        </div>
    </div>
</section>
