<section class="p2 ih-testimonials ih z0 fp fw {{classes}}" ng-show="testimonials.length > 0" ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}">
    <div class="bkc-01 tpt">
        <div class="container">
            <h1 class="ih-header text-center">What our clients say</h1>
            <ih-owl class="owl-carousel tst-carousel" items="testimonials" responsive="responsive">
                <div class="item text-center {{$index == 0 ? 'active' : ''}}" ng-repeat="slide in testimonials">
                    <blockquote itemprop="review" class="testimonial">
                        <div class="ih-ratings" itemprop="rating">
                            <i class="fa fa-star" ng-repeat="i in range(1, slide.stars)"></i>
                            <span class="sr-only">{{rating}}</span>
                        </div>
                        <p itemprop="review fs">{{slide.testimonial}}</p>
                        <h5>- {{slide.reviewer}}</h5>
                    </blockquote>
                </div>
            </ih-owl>
            <div class="ih text-center" ng-hide="!showZillow">
                <span class="ih-ui ih-ui-zillow"></span>
            </div>
        </div>
        <div class="footer bt70">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span class="ih-ui-fairhousing"></span> <span class="ih-ui-realtor"></span> <small>&copy; {{year}} - {{agent.agentName}} | {{listing.MLS}}</small>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                    <small class="text-uppercase">inspired by: <a href="https://html5up.net/" target="_blank" rel="noopener">html5up</a></small><br />
                    <small>Powered by <a href="https://www.getinhouse.io">InHouse</a></small> <span class="ih-icon ih-sm-icon ih-ui-inhouse-emblem"></span>
                </div>
            </div>
        </div>
    </div>
</section>
