section#testimonials.p4.ih-testimonials(class='{{classes}}')
  .container-fluid.testimonials-inner(ng-show='testimonials.length > 0')
    h2.ih-header What our clients say
    .ih-sm-divider
    ih-owl.owl-carousel.tst-carousel(items='testimonials', responsive='responsive')
      .item.text-center(class="{{$index == 0 ? 'active' : ''}}", ng-repeat='slide in testimonials | filter: !!hidden')
        blockquote.testimonial(itemprop='review')
          .ih-ratings(itemprop='rating')
            i.fa.fa-star(ng-repeat='i in range(1, slide.stars)')
            span.sr-only {{rating}}
          p(itemprop='review fs') {{slide.testimonial | limitTo:300}}...
          h5 - {{slide.reviewer}}
