section.p6.ih-testimonials.ih.fw(class='{{classes}}')
  .container-fluid.testimonials-inner(ng-show='testimonials.length > 0')
    h1.text-center.ih-header What Our Clients Say
    .ih-md-divider
    ih-owl.owl-carousel.tst-carousel(items='testimonials', responsive='responsive')
      .item.text-center(class="{{$index == 0 ? 'active' : ''}}", ng-repeat='slide in testimonials')
        blockquote.testimonial(itemprop='review')
          .ih-ratings(itemprop='rating')
            i.fa.fa-star(ng-repeat='i in range(1, slide.stars)')
            span.sr-only {{rating}}
          h3(itemprop='review fs') {{slide.testimonial}}
          h5 - {{slide.reviewer}}
