section.s4.ih-testimonials.ih.z0(class='{{classes}}')
  .container(ng-show='testimonials.length > 0')
    h1.ih-header.text-center What our clients say
    ih-owl.owl-carousel.tst-carousel(items='testimonials', responsive='responsive')
      .item.text-center(class="{{$index == 0 ? 'active' : ''}}", ng-repeat='slide in testimonials | filter: !!hidden')
        blockquote.testimonial(itemprop='review')
          .ih-ratings(itemprop='rating')
            i.fa.fa-star(ng-repeat='i in range(1, slide.stars)')
            span.sr-only {{rating}}
          p.fs(itemprop='review') {{slide.testimonial}}
          h5 - {{slide.reviewer}}
    .ih.text-center(ng-hide='!showZillow')
      span.ih-ui.ih-ui-zillow
  .footer.fs
    .container.text-uppercase
      .ih-legal.row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
          span.ih-ui.ih-ui-fairhousing
        .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-right
          span.ih-ui.ih-ui-realtor
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          span(itemprop='branchCode') {{agent.brokerage}}
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
          span(itemprop='streetAddress') {{agent.contactAddress}}
          |  {{agent.contactAddress2}}
      .ih-sm-divider.ih-ext-divider
      .row
        .ih-copyright.col-lg-6.col-md-6.col-sm-12.col-xs-12
          | ©
          span(itemprop='copyrightYear') 2016
          |  All Rights Reserved -
          span(itemprop='copyrightHolder') InHouse
          |  | {{agent.teamName}}
        .ih-breadcrumbs.col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right(itemprop='breadcrumbList')
          | Follow us on:
          a.ih-social-icon(href='{{agent.facebook}}', ng-if='agent.facebook !== undefined', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{agent.linkedin}}', ng-if='agent.linkedin !== undefined', target='_blank')
            i.fa.fa-linkedin
          a.ih-social-icon(href='{{agent.twitter}}', ng-if='agent.twitter !== undefined', target='_blank')
            i.fa.fa-twitter
          a.ih-social-icon(href='{{agent.instagram}}', ng-if='agent.instagram !== undefined', target='_blank')
            i.fa.fa-instagram
          a.ih-social-icon(href='{{agent.pinterest}}', ng-if='agent.pinterest !== undefined', target='_blank')
            i.fa.fa-pinterest
          a.ih-social-icon(href='{{agent.youtube}}', ng-if='agent.youtube !== undefined', target='_blank')
            i.fa.fa-youtube
