section.p5.ih-about-listing.fp.fw
  .container
    .listing-inner
      h1.ih-header About {{listing.Details.address}}
      .ih-sm-divider
      p.listing-remarks.fs {{data.cta || listing.publicRemarks}}
      p.listing-agent.fs.text-center.lead {{listing.Details.agentName}} | {{listing.Details.agentPhone}}
    .details
      ih-listing-details(listing='listing')
    .btn-row
      ih-schedule-visit(listing="listing")
