<section class="p1 ih-about-listing container-fluid fp">
    <div class="container">
        <h1 class="ih-header text-center fc-02 text-uppercase">About {{listing.address}}</h1>
        <div class="row">
            <p class="fs text-center col-md-6 col-md-offset-3">
                {{listing.editableText}}
            </p>
        </div>
        <div class="row text-center fact-row fs">
            <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 ">
                <div class="fact-box">
                    <div class="ih-icon ih-icon-houses fc-02"></div>
                    <div class="fact-value fc-01">
                        {{listing.beds}}
                    </div>
                    <div class="fact-label">
                        Bedrooms
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 ">
                <div class="fact-box">
                    <div class="ih-icon ih-icon-bathtub fc-02"></div>
                    <div class="fact-value fc-01">
                        {{listing.baths}}
                    </div>
                    <div class="fact-label">
                        Baths
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 ">
                <div class="fact-box">
                    <div class="ih-icon ih-icon-house fc-02"></div>
                    <div class="fact-value fc-01">
                        {{listing.sqft}}
                    </div>
                    <div class="fact-label">
                        {{listing.sizeUnit}}
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 ">
                <div class="fact-box">
                    <div class="ih-icon ih-icon-investment fc-02"></div>
                    <div class="fact-value fc-01">
                        {{listing.stories}}
                    </div>
                    <div class="fact-label">
                        Stories
                    </div>
                </div>
            </div>
            <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 ">
                <div class="fact-box">
                    <div class="ih-icon ih-icon-fence fc-02"></div>
                    <div class="fact-value fc-01">
                        {{listing.lotsize}}
                    </div>
                    <div class="fact-label">
                        Acres
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center btn-row">
            <a href="#/" class="btn btn-default">View On Map</a>
            <a href="#/" class="btn btn-primary">Schedule Visit</a>
        </div>
    </div>
</section>
