<section class="p2 ih-about-listing fp">
    <div class="container ih-about-inner">
        <div class="row">
            <h1 class="ih-header text-center fc-02 text-uppercase">
              <small>about</small><br />
              {{listing.address}}
            </h1>
        </div>
        <div class="listing-info row">
            <div class="fact-icon col-lg-15 col-md-15 col-sm-6 col-xs-12">
                <div class="full flex-grid">
                    <div class="flex-4">
                        <span class="ih-icon ih-icon-bed"></span>
                    </div>
                    <div class="flex-8 text-center">
                        <h1 class="fc-03">{{listing.beds}}</h1>
                    </div>
                </div>
            </div>
            <div class="fact-icon col-lg-15 col-md-15 col-sm-6 col-xs-12">
                <div class="full flex-grid">
                    <div class="flex-4">
                        <span class="ih-icon ih-icon-bathtub2"></span>
                    </div>
                    <div class="flex-8 text-center">
                        <h1 class="fc-03">{{listing.baths}}</h1>
                    </div>
                </div>
            </div>
            <div class="fact-icon col-lg-15 col-md-15 col-sm-6 col-xs-12">
                <div class="full flex-grid">
                    <div class="flex-4">
                        <span class="ih-icon ih-icon-house-size"></span>
                    </div>
                    <div class="flex-8">
                        <h4 class="fc-03">{{listing.sqft | number}}</h4>
                        <h6>{{listing.sizeUnit}}</h6>
                    </div>
                </div>
            </div>
            <div class="fact-icon col-lg-15 col-md-15 col-sm-6 col-xs-12">
                <div class="full flex-grid">
                    <div class="flex-4">
                        <span class="ih-icon ih-icon-house2"></span>
                    </div>
                    <div class="flex-8">
                        <h1 class="fc-03">{{listing.stories}}</h1>
                        <h6>STORIES</h6>
                    </div>
                </div>
            </div>
            <div class="fact-icon col-lg-15 col-md-15 col-sm-6 col-xs-12">
                <div class="full flex-grid">
                    <div class="flex-4">
                        <span class="ih-icon ih-icon-family"></span>
                    </div>
                    <div class="flex-8">
                        <h6>listing Type</h6>
                        <h5 class="fc-03">{{listing.type}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-text container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <h3 class="text-uppercase">agent remarks</h3>
                </div>
                <div class="share-social col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right">
                    <ul class="share-btns pull-right clearfix">
                        <li class="text-uppercase text-muted">
                            <small>Share on:</small>
                        </li>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl|encode}}" class="ih-social-icon facebook-hover" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl|encode}}" class="ih-social-icon linkedin-hover" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/home?status={{shareUrl|encode}}" class="ih-social-icon twitter-hover" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url={{shareUrl|encode}}" class="ih-social-icon google-hover" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
              <p class="fs columns">
                  {{listing.description}}
              </p>
            </div>
            <div class="row details-row">
              <ih-listing-details listing="listing"></ih-listing-details>
            </div>
            <div class="row btn-row text-center">
              <a href="#/" class="btn btn-primary">schedule visit</a>
            </div>
        </div>
</section>
