section.p3.ih-about-listing.fp
  div.container-fluid.about-inner
    h2 About {{listing.address}}
    div.ih-sm-divider
    p.description
    | {{listing.description}}
    a.pointer.btn.btn-primary schedule visit
  div.container-fluid.details
    ih-listing-details(listing='listing')
