section#about.p4.ih-about-listing
  .container-fluid
    h2.ih-header About {{listing.address}}
    .row.text-center.listing-price
      h3 {{listing.price | currency:undefined:0}}
    .row.fact-list
      .fact-box.style1
        .ih-icon.ih-icon-houses.fc-02
        .fact-value.fc-01
          | {{listing.beds}}
        .fact-label
          | Bedrooms
      .fact-box.style2
        .ih-icon.ih-icon-bathtub.fc-02
        .fact-value.fc-01
          | {{listing.baths}}
        .fact-label
          | Baths
      .fact-box.style3
        .ih-icon.ih-icon-house.fc-02
        .fact-value.fc-01
          | {{listing.sqft | number}}
        .fact-label
          | {{listing.sizeUnit}}
      .fact-box.style4
        .ih-icon.ih-icon-investment.fc-02
        .fact-value.fc-01
          | {{listing.stories}}
        .fact-label
          | Stories
      .fact-box.style5
        .ih-icon.ih-icon-fence.fc-02
        .fact-value.fc-01
          | {{listing.lotsize}}
        .fact-label
          | Acres
    .row.remarks
      p.columns.text-center {{data.cta || listing.publicRemarks}}
    .row.text-center
      ih-schedule-visit(listing="listing")
