section.p4.ih-about-listing
  .container
    p.lead.text-center Editable text here
    .row.fact-list
      .fact-box.style1
        .ih-icon.ih-icon-houses.fc-02
        .fact-value.fc-01
          | {{listing.beds}}
        .fact-label
          | Bedrooms
      .fact-box.style2
        .ih-icon.ih-icon-bathtub.fc-02
        .fact-value.fc-01
          | {{listing.baths}}
        .fact-label
          | Baths
      .fact-box.style3
        .ih-icon.ih-icon-house.fc-02
        .fact-value.fc-01
          | {{listing.sqft | number}}
        .fact-label
          | {{listing.sizeUnit}}
      .fact-box.style4
        .ih-icon.ih-icon-investment.fc-02
        .fact-value.fc-01
          | {{listing.stories}}
        .fact-label
          | Stories
      .fact-box.style5
        .ih-icon.ih-icon-fence.fc-02
        .fact-value.fc-01
          | {{listing.lotsize}}
        .fact-label
          | Acres
    .row
      p.columns.text-justify {{listing.description}}
    .row.text-center
      ih-schedule-visit(listing="listing")
