section.p6.ih-about-listing.fp.fw
  div.container-fluid.about-inner
    h1.ih-header About {{listing.address}}
    div.ih-sm-divider
    p.description
    | {{listing.description}}
    a.pointer.btn.btn-primary schedule visit
  div.container-fluid.details
    ih-listing-details(listing='listing')
