/* s1 - owl carousel */
.s1.ih-featured-slider {
  position: relative;
  padding: 30px 0;
}
.s1.ih-featured-slider .owl-stage-outer {
  overflow: initial;
}
.s1.ih-featured-slider .hide-carousel {
  display: none;
}
.s1 .ih-ft-carousel {
  overflow: hidden;
}
.s1 .ih-ft-listing {
  position: relative;
  border: 1px solid #eee;
  min-height: 430px;
  overflow: hidden;
}
.s1 .ih-ft-listing:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.s1 .ih-ft-listing-img {
  height: 200px;
  position: relative;
  background-size: cover;
}
.s1 .ih-ft-listing-link {
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 200px;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.s1 .ih-ft-listing-link:hover {
  background-color: rgba(0,0,0,0.3);
  opacity: 1;
}
.s1 .ih-ft-listing-img>a:first-child {
  min-height: 200px;
}
.s1 .ih-ft-listing-desc {
  position: relative;
  padding: 15px;
}
.s1 .fit-image {
  height: 200px;
  object-fit: cover;
}
.ih-featured-slider .owl-controls {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}
.ih-ft-carousel .owl-prev {
  width: auto;
  padding: 5px 15px;
  margin: 0;
  display: inline-block;
  border-right: 1px solid #ddd;
  border-radius: 100px 0 0 100px;
}
.ih-ft-carousel .owl-next {
  width: auto;
  padding: 5px 15px;
  margin: 0;
  display: inline-block;
  border-radius: 0 100px 100px 0;
}
.ih-ft-carousel .owl-nav div {
  transition: .3s;
}
.ih-ft-carousel .owl-nav div:hover {
  background-color: rgba(0,0,0,0.3);
}

/* s2 - grid carousel */
.ih-grid-carousel {
  padding: 25px 0;
}
.ih-grid-carousel .ih-ft-listing {
  min-height: 220px;
  border: 1px solid #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
}
.ih-grid-carousel a {
  display: block;
  width: 100%;
  height: 100%;
}
.ih-grid-carousel .ih-ft-listing a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: right;
  font-size: 1.3em;
  padding: 20px;
  opacity: 0;
  transition: .3s;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.ih-grid-carousel .ih-ft-listing small {
  text-transform: uppercase;
  font-size: 12px;
}
.ih-grid-carousel .ih-ft-listing a:hover {
  opacity: 1;
  text-decoration: none;
}

/*** *** responsive *** ***/
@media screen and (min-width: 320px) and (max-width: 766px) {}
@media screen and (max-width: 767px) {
  .ih-grid-carousel .ih-ft-listing {
    min-height: 220px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ih-grid-carousel .ih-ft-listing {
    min-height: 150px;
  }
  .ih-ft-listing strong {
    font-size: 14px;
  }
  .ih-grid-carousel .ih-ft-listing small {
    font-size: 10px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .ih-ft-listing-details .lead {
    font-size: 15px;
    margin-top: 30px;
    display: inline-block;
    font-weight: 600;
  }  
}
@media screen and (min-width: 1921px) {}