.ih-loader-listing
  .ih-ft-listing-img
    span.ih-ui.ih-ui-inhouse-emblem
  .ih-ft-listing-desc.container-fluid
    .ih-ft-listing-addr.text-center
      span.text-block
      span.text-block
    hr
    .text-block-facts.hide-carousel
      span.text-block
      span.text-block
      span.text-block
      span.text-block
    hr.hide-carousel
    .ih-ft-listing-details.row
      .col-lg-6
        span.text-block
        span.text-block
      .col-lg-6.text-right
        span.text-block
