<footer class="footer container-fluid">
    <div class="container top-footer">
        <div class="row footer-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <h3 class="footer-header">company</h3>
                <ul class="ih-list">
                    <li>
                        <a href="#/about" class="clean-link">about</a>
                    </li>
                    <li>
                        <a href="#/careers" class="clean-link">careers</a>
                    </li>
                    <li>
                        <a href="#/press" class="clean-link">press</a>
                    </li>
                    <li>
                        <a href="#/legal" class="clean-link">legal</a>
                    </li>
                    <li>
                        <a href="http://blog.getinhouse.io" target="_blank" class="clean-link">blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <h3 class="footer-header">services</h3>
                <ul class="ih-list">
                    <li>
                        <a href="#/agents" class="clean-link">agents</a>
                    </li>
                    <li>
                        <a href="#/lenders" class="clean-link">lenders</a>
                    </li>
                    <li>
                        <a href="#/enterprise" class="clean-link">brokerages</a>
                    </li>
                    <li>
                        <a href="#/websites" class="clean-link">websites</a>
                    </li>
                    <li>
                        <a href="#/" class="clean-link">support</a>
                        <!-- toggle intercom chat buttble -->
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <h3 class="footer-header">resources</h3>
                <ul class="ih-list">
                    <li>
                        <a href="#/faq" class="clean-link">FAQ</a>
                    </li>
                    <li>
                        <a href="#/tutorials" class="clean-link">tutorials</a>
                    </li>
                    <li>
                        <a href="#/mls-coverage" class="clean-link">MLS coverage</a>
                    </li>
                    <li>
                        <i class="fa fa-circle fc-02"></i> <a href="http://status.getinhouse.io" target="_blank" class="clean-link">status</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="footer-contact text-uppercase pull-left">
                    <address>
                      <span class="fc-03">inhouse</span><br />
                      {{agent.contactAddress}}<br />
                      {{agent.contactAddress2}}<br />
                      <small><a href="mailto:team@getinhouse.io" target="_blank">team@getinhouse.io</a><br /></small>
                    </address>
                    <address>
                      call or text us at:
                      <h1>{{agent.contactPhone | tel}}</h1>
                    </address>
                </div>
                <div class="footer-logo pull-left hidden-md hidden-sm hidden-xs">
                    <img src="{{agent.brokerageLogo}}" class="img-responsive" alt="InHouse Real Estate Marketing, LLC. Logo" />
                </div>
            </div>
            <div class="row text-center hidden-lg hidden-md hidden-sm">
                <img src="{{agent.brokerageLogo}}" class="mobile-logo" alt="InHouse Real Estate Marketing, LLC. Logo" />
            </div>
        </div>
        <div class="row legal-row text-uppercase">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <small>&copy; 2016 - {{agent.brokerage}}</small>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <small>built in arizona, late one night <span class="ih-ui-built-in-az"></span></small>
                <span class="xs-block">
                  <a href="{{agent.facebook}}" class="ih-social-icon facebook-hover" ng-if="agent.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="{{agent.linkedin}}" class="ih-social-icon linkedin-hover" ng-if="agent.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="{{agent.twitter}}" class="ih-social-icon twitter-hover" ng-if="agent.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="{{agent.instagram}}" class="ih-social-icon instagram-hover" ng-if="agent.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="{{agent.pinterest}}" class="ih-social-icon pinterest-hover" ng-if="agent.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="ih-footer row">
        <a itemprop="significantLink" href="https://www.getinhouse.io" target="_blank" title="Powered By InHouse"><img src="ia/logos/inhouse.svg" alt="Powered By InHouse" /></a>
    </div>
</footer>
