<footer class="s1 footer {{classes}} {{controller}}" ng-show="showFooter == undefined || showFooter == true">
    <div class="container text-uppercase">
        <div class="row text-center broker-logo">
            <img ng-src="{{agent.brokerageLogo}}" alt="{{agent.brokerage}}" />
        </div>
        <div class="ih-legal row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span class="ih-ui ih-ui-fairhousing"></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
              <span class="ih-ui ih-ui-realtor"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span itemprop="branchCode">{{agent.brokerage}}</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{agent.contactAddress}}</span> {{agent.contactAddress2}}
            </div>
        </div>
        <div class="ih-sm-divider ih-ext-divider"></div>
        <div class="row">
            <div class="ih-copyright col-lg-6 col-md-6 col-sm-12 col-xs-12">
                &copy; <span itemprop="copyrightYear">2016</span> All Rights Reserved - <span itemprop="copyrightHolder">InHouse</span> | {{agent.teamName}}
            </div>
            <div class="ih-breadcrumbs col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right" itemprop="breadcrumbList">
                Follow us on:
                <a href="{{agent.facebook}}" class="ih-social-icon" ng-if="agent.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="{{agent.linkedin}}" class="ih-social-icon" ng-if="agent.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="{{agent.twitter}}" class="ih-social-icon" ng-if="agent.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="{{agent.instagram}}" class="ih-social-icon" ng-if="agent.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="{{agent.pinterest}}" class="ih-social-icon" ng-if="agent.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    <div class="ih-footer">
      <a itemprop="significantLink" href="https://www.getinhouse.io" target="_blank" title="Powered By InHouse">
          <span class="ih-ui ih-inhouse-emblem"></span>
      </a>
    </div>
</footer>
