footer.s7.footer.fp.container-fluid(class='{{classes}} {{controller}}', ng-show='showFooter == undefined || showFooter == true')
  .ih-footer.row
    a(itemprop='significantLink', href='https://www.getinhouse.io', target='_blank', title='Powered By InHouse')
      span.ih-ui-inhouse-emblem
