footer.s9.footer(class='{{classes}} {{controller}}', ng-hide='showFooter != undefined && showFooter == false')
  .container.top-footer
    .footer-col.row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        h6 Connect with Us
        .social-links
          a.ih-social-icon(href='{{agent.facebook}}', ng-if='agent.facebook !== undefined', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{agent.linkedin}}', ng-if='agent.linkedin !== undefined', target='_blank')
            i.fa.fa-linkedin
          a.ih-social-icon(href='{{agent.twitter}}', ng-if='agent.twitter !== undefined', target='_blank')
            i.fa.fa-twitter
          a.ih-social-icon(href='{{agent.instagram}}', ng-if='agent.instagram !== undefined', target='_blank')
            i.fa.fa-instagram
          a.ih-social-icon(href='{{agent.pinterest}}', ng-if='agent.pinterest !== undefined', target='_blank')
            i.fa.fa-pinterest
          a.ih-social-icon(href='{{agent.facebook2}}', ng-if='agent.facebook2 !== undefined', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{agent.facebook3}}', ng-if='agent.facebook3 !== undefined', target='_blank')
            i.fa.fa-facebook
        address.fs
          strong {{agent.brokerage}}
          br
          |           {{agent.contactAddress}}
          br
          |           {{agent.contactAddress2}}
          br
        address.fs
          | {{agent.contactPhone | tel}}
          br
          |           {{agent.contactEmail}}
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center.broker-logo
        img.broker-footer(ng-src='{{agent.brokerageLogo}}', alt='{{agent.brokerage}}')
        img.img-responsive(src="ua/images/hbm-final.png")
        .col-lg-12.store-links
          a(target="_blank", href="https://itunes.apple.com/us/app/home-scouting/id643321575?mt=8")
            img.col-lg-6.img-responsive(src="ua/images/apple.png")
          a(target="_blank", href="https://play.google.com/store/apps/details?id=com.hbsr&hl=en")
            img.col-lg-6.img-responsive(src="ua/images/google-play.png")
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.headshot-footer.text-right
        h6 {{agent.team[0].name}}
        img.img-square.headshot-img(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
    .row.legal-row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12.text-left
        span.ih-ui.ih-ui-fairhousing
      .col-lg-8.col-md-8.col-sm-12.col-xs-12.text-center.text-uppercase
        a.sitemap.fo.text-uppercase(href='{{sitemap}}')
          small sitemap
        h6.copyright.fs © 2016 All Rights Reserved - InHouse | {{agent.teamName}}
      .col-lg-2.col-md-2.col-sm-12.col-xs-12.text-right
        span.ih-ui.ih-ui-realtor
  .ih-footer
    a(itemprop='significantLink', href='https://www.getinhouse.io', target='_blank', title='Powered By InHouse', rel='noopener')
      span.ih-ui-inhouse-emblem
