/* global */

.ih-contact {
    position: relative;
}

.ih-contact-form .btn-group {
    width: 100%;
}

.ih-contact-form .btn-group .btn {
    width: 33%;
}

.ih-contact-form .btn-default {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.ih-contact-form .form-group {
    margin: 10px 0;
}

.ih-contact-form .btn-group {
    margin-bottom: 20px;
}

.ih-form-input {
    padding: 20px 15px;
    border-radius: 0;
}

.ih-contact-form .form-group>label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.ih-contact .btn.active {
    color: #fff;
    box-shadow: none;
}

.alert h3 {
    margin: 5px;
}


/* s1 */


/* s2 */


/* s3 */

.s1.ih-contact .contact-form {
    padding: 30px;
}

.s1.ih-contact .contact-form, .s1.ih-contact .contact-map {
    height: 520px;
}


/* s4 */

.s4.ih-contact .map-box {
    height: 225px;
    border: 1px solid #ddd;
    margin-top: 34px;
    margin-bottom: 15px;
}

.s4.ih-contact .brokerage-logo {
    width: 150px;
}

/* p1 */

.p1.ih-contact {
    border: 0 !important;
    padding: 0;
}

.p1.ih-contact>div {
  padding: 70px 0 0 0;
}

.p1.ih-contact .contact-footer {
    padding: 25px 0;
    margin-top: 70px;
}

.p1.ih-contact .contact-info-box {
    padding: 25px;
}

.p1.ih-contact .contact-form-box {
    padding: 25px;
}

.p1.ih-contact .contact-map {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
}

.p1.ih-contact .contact-info {
    padding: 25px 0;
}

.p1.ih-contact .contact-info>div {
    padding: 0 25px;
}

.p1.ih-contact .contact-info>div:first-child {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 374px) {}
