<section class="cr ih-resources resources {{classes}}">
  <div class="container text-center">
    <h1 class="ih-header">Marketing Strategies</h1>
    <div class-"ih-md-divider"></div>
    <p class="text-center">
      We take our marketing to a higher level. From virtual reality website promos to beautiful full-color magazine advertisements, color brochures and much more,
      we make sure that your home is represented to its fullest potential. The marketing strategy may vary, depending on the price of your home and length
      of time on the market.
    </p>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="brochures">
      <h4>BROCHURES</h4>
      <div class="cr-block">
        <p>Your listing will come alive in a beautiful, full-color brochure, designed by award-winning designer Bettina Mills, owner of BKM Creative Services.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="internet">
      <h4>INTERNET</h4>
      <div class="cr-block">
        <p>All homes listed will be on our website. Each listing will offer color photography, floor plans, listing information, school district, and a virtual reality tour.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="newspaper">
      <h4>NEWSPAPER ADS</h4>
      <div class="cr-block">
        <p>Full-color newspaper ads are featured in such prominent publications as Arizona Daily Star, Tucson Citizen and The Desert Leaf.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="mag-ads">
      <h4>MAGAZINE ADS</h4>
      <div class="cr-block">
        <p>Full-color magazine ads are featured in such prominent publications as Tucson Lifestyle, Tucson Guide, Homes & Land and Home Buyers Guide of Southern Arizona. Long Realty Company's publication.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="mag-covers">
      <h4>MAGAZINE COVERS</h4>
      <div class="cr-block">
        <p>Homes may be chosen to be placed on the covers of Homes & Land magazine or Home Buyers Guide of Southern Arizona and the Luxury & Significant Properties Insert.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cr-link" id="mailers">
      <h4>MAILERS</h4>
      <div class="cr-block">
        <p>When we take a new listing, we always send out a just listed card to surrounding neighbors. When the property sells, we send out f a just sold card.</p>
      </div>
      <div class="row text-center cr-more-btn">
        <a href="#/marketing" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</section>
