section.ih-video.ih-resources(class='{{classes}}')
  h1.ih-header.text-center Nate Grobstein Videos
  .ih-md-divider
  .container
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      .channel
        iframe(width='100%', height='100%', src='https://www.youtube.com/embed/videoseries?list=PLk7M3oNIhfcS8jwaqOo4Z92fg7LhoBVhD&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      h3
        | Nate Grobstein Youtube Channel
        p.text-muted.lead.fs
          | Nate Grobstein leverages the power of beautiful video and photography to showcase the best of Tucson's Luxury Listings.
        p.text-muted.lead.fs
          | View our videos here or visit our Youtube Channel below.
        a.btn.btn-primary(href='https://www.youtube.com/channel/UCj8xka51-HgGviSPRYUaYiw/featured', target='_blank', rel='noopener') view more
  .container.text-center.social-center.fs
    h6.text-center.text-muted.text-uppercase Follow us on:
    a.ih-social-icon.large-icon.facebook-hover(href='https://www.facebook.com/nategrobsteinrealestate', target='_blank')
      i.fa.fa-facebook
    a.ih-social-icon.large-icon.youtube-hover(href='https://www.youtube.com/channel/UCj8xka51-HgGviSPRYUaYiw/featured', target='_blank')
      i.fa.fa-youtube
