section.po.ih-resources.resources
  .container
    h1.ih-header.text-center(itemprop='name') homes for heroes
    .ih-md-divider
    h1.tagline.fc-01.fs.text-center
      em
        | Garret and Justine Wadsack are both Nationwide affiliates with Homes for Heroes and they both give rebates to qualifying buyers and sellers.
      p.text-center
        em
          small Find out if you qualify.
    .row.text-center.resources-inner
      .col-lg-15.col-md-15.col-sm-6.col-xs-12.resource-block
        a.resource-link.block.full(href='#/military')
          .resouce-label
            span.text-uppercase Military
            br
            small.hidden Retired/Active
          img(src='ua/images/military.svg', alt='hero info here')
      .col-lg-15.col-md-15.col-sm-6.col-xs-12.resource-block
        a.resource-link.block.full(href='#/medical')
          .resouce-label
            span.text-uppercase Medical
            br
            small.hidden Nurses/?
          img(src='ua/images/nurse.svg', alt='hero info here')
      .col-lg-15.col-md-15.col-sm-6.col-xs-12.resource-block
        a.resource-link.block.full(href='#/police')
          .resouce-label
            span.text-uppercase Police
            br
            small.hidden ?
          img(src='ua/images/police.svg', alt='hero info here')
      .col-lg-15.col-md-15.col-sm-6.col-xs-12.resource-block
        a.resource-link.block.full(href='#/service')
          .resouce-label
            span.text-uppercase Firefighters & Border Patrol
            br
            small.hidden Border Patrol/Firemen
          img(src='ua/images/fireman.svg', alt='hero info here')
      .col-lg-15.col-md-15.col-sm-6.col-xs-12.resource-block
        a.resource-link.block.full(href='#/teachers')
          .resouce-label
            span.text-uppercase Teachers
            br
            small.hidden ?
          img(src='ua/images/teacher.svg', alt='hero info here')
    p.text-center.fp.text-uppercase
      | click on a hero to learn more
    .ih-md-divider
    .text-center
      img(src='ua/logos/homeforheroes.svg', alt='Home for Heroes Logo')
