section.s11.ih-resources(class='{{classes}}')
  h1.ih-header.text-center {{ !title ? "Resources" : title }}
  p.lead.text-center.col-md-6.col-md-offset-3(itemprop='description', ng-bind-html='agent.bio | to_trusted')
  .container
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      ih-resource-block.featured(resource="resources[0]")
    .col-lg-3.col-md-3.col-sm-12.col-xs-12
      ih-resource-block.slim-featured(resource="resources[1]")
    .col-lg-3.col-md-3.col-sm-12.col-xs-12
      .row-50
        ih-resource-block.split-featured(resource="resources[2]")
      .row-50
        ih-resource-block.split-featured(resource="resources[3]")
  .container.text-center
    a.btn.btn-primary(href="{{agent.blogLink}}") view more
