<section class="s5 ih-resources {{classes}}">
  <div class="container">
    <div class="row text-center">
      <h1 class="uppercase">Resources</h1>
    </div>
    <div class="divider text-center"></div>
    <div id="s5Resources" class="owl-carousel">
      
      <div class="img-list">
        <a ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}' target="{{content.externalUrl? '_blank' : '_self'}}">
          <img class="img-border" ng-src="" alt="{{content.title}}" />
          <span class="overlay2">{{content.title}}</span>
          <span class="text-content">
            <span>{{content.title}}
              <p>{{content.sub}}</p>
            </span>
          </span>
        </a>
      </div>
      
    </div>
  </div>
</section>
