.s7.ih-resources(class='{{classes}}')
  h1.ih-header.text-center Helpful Resources
  .ih-md-divider
  .container.resource-frame
    .col-lg-6.col-md-6.col-sm-6.col-xs-12(ng-repeat='(key, content) in resources | limitTo: 4')
      a.rc-link(ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}', target="{{content.externalUrl ? '_blank' : '_self'}}", style='background-image: url("{{content.thumb}}")')
      .rc-label
        h4
          a(ng-href='{{content.externalUrl ? content.externalUrl : "#/" + (content.key || key)}}', target="{{content.externalUrl? '_blank' : '_self'}}")
            i.fa.fa-caret-right
            |  {{content.title}}
        p
          | {{content.sub}}
