<section class="visitor-toggle container-fluid text-center">
    <h1 class="ih-header text-center">
      Why did we build InHouse?
    </h1>
    <div class="ih-sm-divider"></div>
    <p>
        At InHouse we want to help you make strong and loyal relationships with your clients and business partners.
    </p>
    <p>
        <em>Who are you?</em>
    </p>
    <div class="btn-group">
        <a class="" ng-class="{'active' : !lenderOnly}" ng-click="lenderOnly = false">Agent</a>
        <a class="" ng-class="{'active' : lenderOnly}" ng-click="lenderOnly = true">Lender</a>
    </div>
    <div class="down text-center text-muted text-uppercase">
        <small class="block">scroll down</small>
        <i class="fa fa-angle-down"></i>
    </div>
</section>
<section class="page-content container-fluid">
    <div class="row agent-only" ng-show="!lenderOnly">
        <div class="container">
            <div class="row agent-only">
                <h1 class="ih-header text-center ">How it works</h1>
                <div class="ih-sm-divider"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/connect-agent.svg" alt="Connect Icon" />
                    </div>
                    <h2 class="text-center fc-03">Connect</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Integrate your MLS. InHouse pulls listings data and photographs directly from your MLS so you never have to re-upload listing information again.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/design-agent.svg" alt="Design Icon" />
                    </div>
                    <h2 class="text-center fc-03">Design</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Customize your brand style. Our beautiful designs ensure that your brand looks consistent and polished everywhere.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/relax-agent.svg" alt="Relax Icon" />
                    </div>
                    <h2 class="text-center fc-03">Relax</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Sit back and let us do the work. InHouse will have all listing promo materials ready in your inbox automatically for every new and sold listing.
                    </p>
                </div>
                <div class="btn-row text-center">
                    <a href="#/sign-up" class="btn btn-primary">start free today</a>
                </div>
            </div>
            <div class="row agent-only">
                <h1 class="ih-header text-center ">What you get</h1>
                <div class="ih-sm-divider"></div>
                <div class="container-fluid agent-how">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img src="ua/images/listing-sites.svg" class="img-responsive hidden-lg hidden-md hidden-sm" />
                            <h2 class="fc-03">Property Websites</h2>
                            <h5>Tell a home's story with a beautiful website.</h5>
                            <p>
                                Instantly launch and host interactive, mobile-optimized listing websites that provide your clients with all the information they need about a home and surrounding area.
                            </p>
                            <p><em><small>*Only available with Lender Partner</small></em></p>
                            <a class="btn btn-default" href="https://listing.getinhouse.io" target="_blank" rel="noopener">view example</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/listing-sites.svg" class="img-responsive hidden-xs" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/listing-socialmedia.svg" class="img-responsive" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                            <h2 class="fc-03">Social Media Posts &amp; Ads</h2>
                            <h5>Reach beyond your friends and followers.</h5>
                            <p>
                                Launch 2, 5, or 10 day ad campaigns for your new listings and open houses with beautiful branded ads and posts. Drive leads back to your listing pages or website.
                            </p>
                            <p><em><small>*Only available with Lender Partner</small></em></p>
                            <a class="btn btn-default" href="ua/samples/inhouse-socialmedia.pdf" target="_blank" rel="noopener">view example</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img class="hidden-lg hidden-md hidden-sm img-responsive" src="ua/images/listing-print.svg" />
                            <h2 class="fc-03">Flyers &amp; Postcards</h2>
                            <h5>The easiest way to make stunning real estate flyers. Period.</h5>
                            <p>
                                Create beautiful, branded listing and open house flyers and postcards in minutes. Print them right at your office or send them straight to your preferred print shop.
                            </p>
                            <a class="btn btn-default" href="ua/samples/inhouse-print.pdf" target="_blank" rel="noopener">view example</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/listing-print.svg" class="img-responsive hidden-xs" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pricing bkc-03 fw">
            <div class="container text-center agent-only">
                <h1 class="ih-lg-header">free for agents</h1>
                <a href="#/sign-up" class="btn btn-default">start free today</a>
            </div>
        </section>
    </div>
    <div class="row" ng-show="lenderOnly">
        <div class="container">
            <!-- show for lenders only -->
            <div class="row lender-only">
                <h1 class="ih-header text-center ">How it works</h1>
                <div class="ih-sm-divider"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/connect-lender.svg" alt="Connect Icon" />
                    </div>
                    <h2 class="text-center fc-03">Connect</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Invite agents by email to create beautiful listing based marketing materials. Once they connect to MLS , we’ll take care of the rest.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/engage-lender.svg" alt="Engage Icon" />
                    </div>
                    <h2 class="text-center fc-03">Engage</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Have everything your agent partners need to market their listings waiting in their inbox as soon as their listings hit MLS
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card">
                    <div class="text-center">
                        <img src="ua/images/grow-lender.svg" alt="Grow Icon" />
                    </div>
                    <h2 class="text-center fc-03">Grow</h2>
                    <div class="ih-md-divider"></div>
                    <p>
                        Strengthen agent relationships and increase your presence and value offering to attract new partnerships.
                    </p>
                </div>
                <div class="btn-row text-center">
                    <a href="#/sign-up" class="btn btn-primary">start free today</a>
                </div>
            </div>
            <!-- show for lenders only -->
            <div class="row lender-only">
                <h1 class="ih-header text-center ">What you get</h1>
                <div class="ih-sm-divider"></div>
                <div class="container-fluid lender-how">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img src="ua/images/lender-agents.svg" class="img-responsive hidden-lg hidden-md hidden-sm" />
                            <h2 class="fc-03">Manage all your agent relationships<br />from one easy-to-use dashboard</h2>
                            <ul class="bullets">
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> Invite as many agents as you'd like, whenever, wherever
                                </li>
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> Keep track of leads generated per agent
                                </li>
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> Receive email notifications for your partners' new and sold listings
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/lender-agents.svg" class="img-responsive hidden-xs" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/lender-listings.svg" class="img-responsive" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                            <h2 class="fc-03">View your partners' up-to-date<br />current active and sold listings.</h2>
                            <ul class="bullets">
                                <li>
                                    <i class="fa fa-caret-right hidden-lg hidden-md hidden-sm text-muted"></i> All listing data pulled directly from MLS <i class="fa fa-caret-left hidden-xs"></i>
                                </li>
                                <li>
                                    <i class="fa fa-caret-right hidden-lg hidden-md hidden-sm text-muted"></i> Leave listing specifc notes for your agent partners <i class="fa fa-caret-left hidden-xs"></i>
                                </li>
                                <li>
                                    <i class="fa fa-caret-right hidden-lg hidden-md hidden-sm text-muted"></i> View individual materials used and analytics <i class="fa fa-caret-left hidden-xs"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img class="hidden-lg hidden-md hidden-sm img-responsive" src="ua/images/lender-materials.svg" />
                            <h2 class="fc-03">Automatically send cobranded promotional materials to your partners.</h2>
                            <ul class="bullets">
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> No creation time or manual upload necessary
                                </li>
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> Increase your online presence and generate leads
                                </li>
                                <li>
                                    <i class="fa fa-caret-right text-muted"></i> Launch a listing site, post to social media, or download PDFs with one click
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <img src="ua/images/lender-materials.svg" class="img-responsive hidden-xs" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pricing bkc-03 fw">
            <div class="container lender-only">
                <h1 class="ih-header text-center">Pricing</h1>
                <div class="ih-sm-divider"></div>
                <div class="row text-center">
                    <div class="btn-group">
                        <a class="" ng-class="{'active' : monthlyPrice}" ng-click="monthlyPrice = true">Monthly</a>
                        <a class="" ng-class="{'active' : !monthlyPrice}" ng-click="monthlyPrice = false">Annual</a>
                    </div>
                </div>
                <div class="row price-row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="price-card">
                            <h2 class="text-center">Individual</h2>
                            <div class="ih-sm-divider"></div>
                            <h1><span class="annual" ng-show="monthlyPrice"><sup>$</sup>199</span><span class="monthly" ng-show="!monthlyPrice"><sup>$</sup>159</span></h1>
                            <strong class="subtext text-center text-uppercase block">/ month</strong>
                            <ul class="bullets">
                                <li>
                                    <i class="fa fa-caret-right"></i> Up to 10 active agent partners
                                </li>
                                <li>
                                    <i class="fa fa-caret-right"></i> Create Unlimited Materials
                                </li>
                                <li>
                                    <i class="fa fa-caret-right"></i> Automatic Material Creation
                                </li>
                            </ul>
                            <a href="#/signup" class="btn btn-default">start free today</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="price-card">
                            <h2 class="text-center">Office</h2>
                            <div class="ih-sm-divider"></div>
                            <h1><span class="annual" ng-show="monthlyPrice"><sup>$</sup>999</span><span class="monthly" ng-show="!monthlyPrice"><sup>$</sup>799</span></h1>
                            <strong class="subtext text-center text-uppercase block">/ month</strong>
                            <ul class="bullets">
                                <li>
                                    <i class="fa fa-caret-right"></i> Up to 7 active MLOs
                                </li>
                                <li>
                                    <i class="fa fa-caret-right"></i> Invite unlimited agent partners
                                </li>
                                <li>
                                    <i class="fa fa-caret-right"></i> Create unlimited materials
                                </li>
                            </ul>
                            <a href="#/signup" class="btn btn-default">start free today</a>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <h2 class="ih-lg-header">start your free trial today!</h2>
                </div>
            </div>
        </section>
    </div>
</section>
