<section class="p1 l1 ih-lender ih-about container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="ih-header fc-02 text-center">Meet Your Lender</h1>
        </div>
        <div class="ih-about-inner row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 lender-info text-right">
                <h2 class="ih fc-01">
                  <span itemprop="name">InHouse Lender{{lender.lenderName}}</span>
                  <div class="about-social">
                    <a href="mailto:{{lender.contactEmail}}" class="ih-social-icon bkc-02" ng-if="lender.contactEmail !== undefined" target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="{{lender.facebook}}" class="ih-social-icon bkc-02" ng-if="lender.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="{{lender.linkedin}}" class="ih-social-icon bkc-02" ng-if="lender.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="{{lender.twitter}}" class="ih-social-ico bkc-02n" ng-if="lender.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="{{lender.instagram}}" class="ih-social-icon bkc-02" ng-if="lender.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="{{lender.pinterest}}" class="ih-social-icon bkc-02" ng-if="lender.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </div>
                </h2>
                <h4 class="text-muted"><strong>Chief Lender{{lender.lenderTitle}} | {{lender.teamName}} InHouse Home Lending{{lender.lenderBrokerage}}</strong></h4>
                <!-- itemprop="description" class="bio" ng-bind-html="lender.bio1 | to_trusted" -->
                <div class="text-justify bio">
                    <p>
                        Phasellus consectetur mollis ante eget sagittis. Mauris eu arcu lobortis, pulvinar nunc ac, venenatis quam. Mauris convallis imperdiet lectus, quis condimentum odio cursus vitae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, felis eget suscipit venenatis, ligula mauris cursus nibh, in lobortis risus ex id mi.
                    </p>
                </div>
                <p class="fp">
                    <strong>
                      <small class="text-uppercase text-muted"><a class="clean-link" href="mailto:{{lender.contactEmail}}">lender@inhouselending.com{{lender.contactEmail}}</a><span class="ih-icon ih-sm-icon ih-icon-house-mailbox"></span><br />
                      <a href="tel:{{lender.contactPhone | tel}}" class="clean-link">800.123.4567{{lender.contactPhone | tel}}</a><span class="ih-icon ih-sm-icon ih-icon-mobile-phone"></span></small>
                    </strong>
                </p>
                <a href="#/" class="btn btn-default">Contact Me</a>
                <a href="#/" class="btn btn-primary">Apply Today</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 lender-picture">
                <!-- ng-src="{{lender.photo}}" alt="{{lender.name}}" -->
                <img src="http://coolsandfools.com/wp-content/uploads/2014/09/dogs-in-glasses-3.jpg" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</section>
