section.p2.l2.ih-lender.ih-about.container-fluid.fp(class='{{classes}}')
  .about-row.container
    .row
      h1.ih-header.fc-02.text-center Meet Your Lender
    .row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        div
          img.img-circle.img-responsive.full(src="{{lender.avatar}}", alt="{{lender.name}}")
        .about-social.text-muted
          a.ih-social-icon(href='mailto:{{lender.contactEmail}}', ng-if='lender.contactEmail !== undefined', target='_blank')
            i.fa.fa-envelope
          a.ih-social-icon(href='{{lender.facebook}}', ng-if='lender.facebook !== undefined', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{lender.linkedin}}', ng-if='lender.linkedin !== undefined', target='_blank')
            i.fa.fa-linkedin
          a.ih-social-icon(href='{{lender.twitter}}', ng-if='lender.twitter !== undefined', target='_blank')
            i.fa.fa-twitter
          a.ih-social-icon(href='{{lender.instagram}}', ng-if='lender.instagram !== undefined', target='_blank')
            i.fa.fa-instagram
          a.ih-social-icon(href='{{lender.pinterest}}', ng-if='lender.pinterest !== undefined', target='_blank')
            i.fa.fa-pinterest
      .col-lg-8.col-md-8.col-sm-12.col-xs-12
        .lender-box
          h2.inlinblock.fc-01 {{lender.name}}
          h5.inlineblock.text-muted
            strong {{lender.brokerage}}
          .bio.fs(itemprop='description', ng-bind-html="lender.bio1 | to_trusted")
        .contact-info.container-fluid
          .row
            .col-sm-6
              i.fa.fa-phone.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase phone
                br
                |  {{lender.contactPhone | tel}}
            .col-sm-6
              i.fa.fa-envelope.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase email
                br
                |  {{lender.contactEmail}}
        a.btn.btn-default(href='mailto:{{lender.contactEmail}}') Contact Me
        a.btn.btn-primary(href='{{lender.meta.applyLink}}') Apply Today
