<section class="p2 l2 ih-lender ih-about container-fluid fp {{classes}}">
    <div class="about-row container">
        <div class="row">
            <h1 class="ih-header fc-02 text-center">Meet Your Lender</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <img ng-src="{{lender.team[0].photo}}" alt="{{lender.team[0].name}}" class="img-square inlineblock" />
                </div>
                <div class="about-social text-muted">
                    <a href="mailto:{{lender.contactEmail}}" class="ih-social-icon" ng-if="agent.contactEmail !== undefined" target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="{{lender.facebook}}" class="ih-social-icon" ng-if="agent.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="{{lender.linkedin}}" class="ih-social-icon" ng-if="agent.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="{{lender.twitter}}" class="ih-social-icon" ng-if="agent.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="{{lender.instagram}}" class="ih-social-icon" ng-if="agent.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="{{lender.pinterest}}" class="ih-social-icon" ng-if="agent.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="agent-box">
                    <h2 class="inlinblock fc-01">{{lender.lenderName}}</h2>
                    <h5 class="inlineblock text-muted"><em>{{lender.title}} GBRE, ABCD, FGJi, PuTo{{lender.designations}}</em></h5>
                    <!-- ng-bind-html="lender.bio1 | to_trusted" -->
                    <div itemprop="description" class="bio fs"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet dapibus condimentum. Cras feugiat nisi vel lectus lacinia, nec ultrices nisi scelerisque. Maecenas volutpat mattis lectus, laoreet elementum urna tincidunt eu. Cras euismod neque dui,
                        vel mattis ante efficitur non. Duis ac orci vitae nibh commodo mattis.
                    </p>
                </div>
                <div class="contact-info container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-phone inlineblock left ih-icon fc-04"></i>
                            <span class="inlineblock">
                    <small class="text-muted text-uppercase">phone</small><br /> {{lender.contactPhone | tel}}
                  </span>
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-envelope inlineblock left ih-icon fc-04"></i>
                            <span class="inlineblock">
                      <small class="text-muted text-uppercase">email</small><br /> {{lender.contactEmail}}
                    </span>
                        </div>
                    </div>
                </div>
                <a href="#/" class="btn btn-default">Contact Me</a>
                <a href="#/" class="btn btn-primary">Apply Today</a>
            </div>
        </div>
    </div>
</section>
