//- NEEDS WORK
section.p2.l2.ih-lender.ih-about.container-fluid.fp(class='{{classes}}')
  .about-row.container
    .row
      h1.ih-header.fc-02.text-center Meet Your Lender
    .row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        div
          img.img-square.inlineblock(ng-src='{{lender.team[0].photo}}', alt='{{lender.team[0].name}}')
        .about-social.text-muted
          a.ih-social-icon(href='mailto:{{lender.contactEmail}}', ng-if='agent.contactEmail !== undefined', target='_blank')
            i.fa.fa-envelope
          a.ih-social-icon(href='{{lender.facebook}}', ng-if='agent.facebook !== undefined', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{lender.linkedin}}', ng-if='agent.linkedin !== undefined', target='_blank')
            i.fa.fa-linkedin
          a.ih-social-icon(href='{{lender.twitter}}', ng-if='agent.twitter !== undefined', target='_blank')
            i.fa.fa-twitter
          a.ih-social-icon(href='{{lender.instagram}}', ng-if='agent.instagram !== undefined', target='_blank')
            i.fa.fa-instagram
          a.ih-social-icon(href='{{lender.pinterest}}', ng-if='agent.pinterest !== undefined', target='_blank')
            i.fa.fa-pinterest
      .col-lg-8.col-md-8.col-sm-12.col-xs-12
        .agent-box
          h2.inlinblock.fc-01 {{lender.lenderName}}
          h5.inlineblock.text-muted
            em {{lender.title}} GBRE, ABCD, FGJi, PuTo{{lender.designations}}
          // ng-bind-html="lender.bio1 | to_trusted"
          .bio.fs(itemprop='description')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet dapibus condimentum. Cras feugiat nisi vel lectus lacinia, nec ultrices nisi scelerisque. Maecenas volutpat mattis lectus, laoreet elementum urna tincidunt eu. Cras euismod neque dui,
            | vel mattis ante efficitur non. Duis ac orci vitae nibh commodo mattis.
        .contact-info.container-fluid
          .row
            .col-sm-6
              i.fa.fa-phone.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase phone
                br
                |  {{lender.contactPhone | tel}}
            .col-sm-6
              i.fa.fa-envelope.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase email
                br
                |  {{lender.contactEmail}}
        a.btn.btn-default(href='#/') Contact Me
        a.btn.btn-primary(href='#/') Apply Today
