//- TODO NEEDS WORK - not implemented
section#lender.p4.l4.ih-about.ih-lender
  .container-fluid.about-inner.flex-grid
    .agent-bio
      h2.ih-header {{agent.agentName}}
      .ih-sm-divider
      .bio.fs(ng-bind-html="lender.bio1 | to_trusted")
      a.btn.btn-default(href='#/') Contact Me
      a.btn.btn-primary(href='#/') Apply Today
    .agent-image
      img.img-circle.img-responsive(ng-src='{{lender.team[0].photo}}', alt='{{lender.team[0].name}}')
      span.badge Advertisement
