section.p1.ih-about.container-fluid.fp
  .container
    .row
      h1.ih-header.fc-02.text-center Meet Your Agent
    .ih-about-inner.row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12.nopad-l
        a.text-center.agent-pic-link(href='{{agent.agentWebsite}}')
          img.img-circle.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
      .ih-about-text.col-lg-8.col-md-8.col-sm-12.col-xs-12
        h2.ih.fc-01
          span(itemprop='name') {{agent.agentName}}
          .about-social
            a.ih-social-icon.bkc-02(href='mailto:{{profile.email}}', ng-if='profile.email !== undefined', target='_blank')
              i.fa.fa-envelope
            a.ih-social-icon(href='{{profile.facebook}}', ng-if='profile.facebook !== undefined', target='_blank')
              i.fa.fa-facebook
            a.ih-social-icon(href='{{profile.linkedin}}', ng-if='profile.linkedin !== undefined', target='_blank')
              i.fa.fa-linkedin
            a.ih-social-icon(href='{{profile.twitter}}', ng-if='profile.twitter !== undefined', target='_blank')
              i.fa.fa-twitter
            a.ih-social-icon(href='{{profile.instagram}}', ng-if='profile.instagram !== undefined', target='_blank')
              i.fa.fa-instagram
            a.ih-social-icon(href='{{profile.pinterest}}', ng-if='profile.pinterest !== undefined', target='_blank')
              i.fa.fa-pinterest
        h4.text-muted.fs
          strong {{agent.designations}} | {{agent.teamName}} - {{agent.brokerage}}
        .bio.fs(itemprop='description', ng-bind-html='agent.bio1 | to_trusted')
        p.fp
          strong
            span.ih-icon.ih-sm-icon.ih-icon-house-mailbox
            small.text-uppercase.text-muted
              a.clean-link(href='mailto:{{agent.contactEmail}}') {{agent.contactEmail}}
              br
              span.ih-icon.ih-sm-icon.ih-icon-mobile-phone
              a.clean-link(href='tel:{{agent.contactPhone | tel}}') {{agent.contactPhone | tel}}
        a.btn.btn-primary(href='#/') Contact Me
