section.p2.ih-about.container-fluid.fp
  .about-row.container
    .row
      h1.ih-header.fc-02.text-center Meet Your Agent
    .row
      .col-lg-8.col-md-8.col-sm-12.col-xs-12
        .agent-box
          h2.inlinblock.fc-01 {{agent.agentName}}
          h5.inlineblock.text-muted
            em {{agent.title}} {{agent.designations}}
          p.bio.fs(ng-if='agent.bio1', itemprop='description', ng-bind-html='agent.bio1 | to_trusted')
        .contact-info.container-fluid
          .row
            .col-sm-6
              i.fa.fa-phone.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase phone
                br
                |  {{agent.contactPhone | tel}}
            .col-sm-6
              i.fa.fa-envelope.inlineblock.left.ih-icon.fc-04
              span.inlineblock
                small.text-muted.text-uppercase email
                br
                |  {{agent.contactEmail}}
        a.btn.btn-default(href='{{agent.website}}', ng-if='agent.website', target='_blank') Visit My Website
        a.btn.btn-primary(href='{{agent.searchPortal}}', ng-if='agent.searchPortal', target='_blank') Search More Homes
      .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
        div.agent-pic
          div.agent-pic-link.iha.afull(ng-if="agent.team[0].photo", style='background-image: url({{agent.team[0].photo}})', alt='{{agent.team[0].name}}')
        .about-social.text-muted
          a.ih-social-icon(href='mailto:{{agent.contactEmail}}', ng-if='agent.contactEmail !== undefined', target='_blank')
            i.fa.fa-envelope
          a.ih-social-icon(href='{{agent.facebook}}', ng-if='agent.facebook', target='_blank')
            i.fa.fa-facebook
          a.ih-social-icon(href='{{agent.linkedin}}', ng-if='agent.linkedin', target='_blank')
            i.fa.fa-linkedin
          a.ih-social-icon(href='{{agent.twitter}}', ng-if='agent.twitter', target='_blank')
            i.fa.fa-twitter
          a.ih-social-icon(href='{{agent.instagram}}', ng-if='agent.instagram', target='_blank')
            i.fa.fa-instagram
          a.ih-social-icon(href='{{agent.pinterest}}', ng-if='agent.pinterest', target='_blank')
            i.fa.fa-pinterest
