<section class="p2 ih-about container-fluid fp">
    <div class="about-row container">
        <div class="row">
            <h1 class="ih-header fc-02 text-center">Meet Your Agent</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="agent-box">
                    <h2 class="inlinblock fc-01">{{agent.agentName}}</h2>
                    <h5 class="inlineblock text-muted"><em>Team Leader{{agent.title}} GBRE, ABCD, FGJi, PuTo{{agent.designations}}</em></h5>
                    <div itemprop="description" class="bio fs" ng-bind-html="agent.bio1 | to_trusted"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet dapibus condimentum. Cras feugiat nisi vel lectus lacinia, nec ultrices nisi scelerisque. Maecenas volutpat mattis lectus, laoreet elementum urna tincidunt eu. Cras euismod neque dui,
                        vel mattis ante efficitur non. Duis ac orci vitae nibh commodo mattis.
                    </p>
                </div>
                <div class="contact-info container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-phone inlineblock left ih-icon fc-04"></i>
                            <span class="inlineblock">
                      <small class="text-muted text-uppercase">phone</small><br /> {{agent.contactPhone | tel}}
                    </span>
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-envelope inlineblock left ih-icon fc-04"></i>
                            <span class="inlineblock">
                        <small class="text-muted text-uppercase">email</small><br /> {{agent.contactEmail}}
                      </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div>
                    <img ng-src="{{agent.team[0].photo}}" alt="{{agent.team[0].name}}" class="img-square inlineblock" />
                </div>
                <div class="about-social text-muted">
                    <a href="mailto:{{agent.contactEmail}}" class="ih-social-icon" ng-if="agent.contactEmail !== undefined" target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="{{agent.facebook}}" class="ih-social-icon" ng-if="agent.facebook !== undefined" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="{{agent.linkedin}}" class="ih-social-icon" ng-if="agent.linkedin !== undefined" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="{{agent.twitter}}" class="ih-social-icon" ng-if="agent.twitter !== undefined" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="{{agent.instagram}}" class="ih-social-icon" ng-if="agent.instagram !== undefined" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="{{agent.pinterest}}" class="ih-social-icon" ng-if="agent.pinterest !== undefined" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
