section.p3.ih-about.container-fluid.fw
  div.container-fluid.about-inner.flex-grid
    div.flex-3.agent-image
      img.img-square.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
    div.flex-9.agent-bio
      h3 {{agent.agentName}}
      div.ih-sm-divider
      div.bio.fs(ng-bind-html="agent.bio1 | to_trusted")
