section.p3.ih-about.flex-grid.fw
	div.flex-8.agent-bio
		h2.ih-header Meet Your Agent
		div.ih-sm-divider
		h3 {{agent.agentName}}
		div.bio.fs(ng-bind-html="agent.bio1 | to_trusted")
		div.about-social
			a.ih-social-icon.bkc-02(href='mailto:{{profile.email}}', ng-if='profile.email !== undefined', target='_blank')
				i.fa.fa-envelope
			a.ih-social-icon.bkc-02(href='{{profile.facebook}}', ng-if='profile.facebook !== undefined', target='_blank')
				i.fa.fa-facebook
			a.ih-social-icon.bkc-02(href='{{profile.linkedin}}', ng-if='profile.linkedin !== undefined', target='_blank')
				i.fa.fa-linkedin
			a.ih-social-icon.bkc-02n(href='{{profile.twitter}}', ng-if='profile.twitter !== undefined', target='_blank')
				i.fa.fa-twitter
			a.ih-social-icon.bkc-02(href='{{profile.instagram}}', ng-if='profile.instagram !== undefined', target='_blank')
				i.fa.fa-instagram
			a.ih-social-icon.bkc-02(href='{{profile.pinterest}}', ng-if='profile.pinterest !== undefined', target='_blank')
				i.fa.fa-pinterest
	div.flex-4.agent-image
		img.img-square.img-responsive(ng-src='{{agent.team[0].photo}}',	alt='{{agent.team[0].name}}')
