section#agent.p4.ih-about.container-fluid
  .container.about-inner.flex-grid
    .agent-bio
      h2.ih-header {{agent.agentName}}
      .ih-sm-divider
      .bio.fs(ng-bind-html="agent.bio1 | to_trusted")
    .agent-image
      img.img-circle.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
