section.p5.ih-about.fw
  .container.flex-grid
    .agent-image.flex-3
      img.img-circle.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
    .agent-bio.flex-9
      h1.ih-header {{agent.agentName}}
      p.strong {{agent.designations}} | {{agent.teamName}} - {{agent.brokerage}}
      .ih-sm-divider
      .bio.fs(ng-bind-html="agent.bio1 | to_trusted")
      .about-social
        a.ih-social-icon.bkc-02(href='mailto:{{profile.email}}', ng-if='profile.email !== undefined', target='_blank')
          i.fa.fa-envelope
        a.ih-social-icon(href='{{profile.facebook}}', ng-if='profile.facebook !== undefined', target='_blank')
          i.fa.fa-facebook
        a.ih-social-icon(href='{{profile.linkedin}}', ng-if='profile.linkedin !== undefined', target='_blank')
          i.fa.fa-linkedin
        a.ih-social-icon(href='{{profile.twitter}}', ng-if='profile.twitter !== undefined', target='_blank')
          i.fa.fa-twitter
        a.ih-social-icon(href='{{profile.instagram}}', ng-if='profile.instagram !== undefined', target='_blank')
          i.fa.fa-instagram
        a.ih-social-icon(href='{{profile.pinterest}}', ng-if='profile.pinterest !== undefined', target='_blank')
          i.fa.fa-pinterest
