section.p6.ih-about.fw
	span.image-div(ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}")
	div.container-fluid.section-inner
		div.agent-bio
			h1.ih-header {{agent.agentName}}
			div.ih-sm-divider
			div.bio.fs(ng-bind-html='agent.bio1 | to_trusted')
		div.agent-image
			img.img-circle.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
