section.s1.ih-about.fp
  .container
    h1.ih-header.text-center
      span.fp(itemprop='name') {{agent.teamName}}
      .ih-line
    .ih-about-inner.row
      .ih-about-text.col-md-6.col-md-offset-3
        p
          strong.text-uppercase {{agent.agentTagline}}
        div(itemprop='description', ng-bind-html='agent.bio1 | to_trusted')
    .ih-accent-divider
    .ih-team.row.text-center
      figure.ih-headshot.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-repeat='member in agent.team')
        a.text-center(href="#/bio/{{member.name | split: ' ':0 | lowercase}}")
          img.img-square.img-responsive(ng-src='{{member.photo}}', alt='{{member.name}}')
          span.ih-teammate-name.text-center.block(itemprop='name')
            strong {{member.name | split: ' ':0}}
            |  {{member.name | split:' ':1}}
