section.s10.ih-about
  .container
    h1.ih-header.text-center(ng-repeat='member in agent.team') Meet {{member.name | split: ' ':0}}
    .ih-md-divider
    h1.tagline.text-center {{agent.agentTagline}}
    .ih-about-inner.row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        a.text-center(href="#/bio/{{ agent.team[0].name | split: ' ':0 | lowercase }}")
          img.img-square.img-responsive(ng-src='{{agent.team[0].photo}}', alt='{{agent.team[0].name}}')
      .ih-about-text.col-lg-8.col-md-8.col-sm-12.col-xs-12
        h2
          span(itemprop='name') {{agent.agentName}}
          span(itemprop='title') {{agent.team[0].title}}
          .about-social
            a.ih-social-icon(href='mailto:{{agent.contactEmail}}', ng-if='agent.contactEmail !== undefined', target='_blank')
              i.fa.fa-envelope
            a.ih-social-icon(href='{{agent.facebook}}', ng-if='agent.facebook !== undefined', target='_blank')
              i.fa.fa-facebook
            a.ih-social-icon(href='{{agent.linkedin}}', ng-if='agent.linkedin !== undefined', target='_blank')
              i.fa.fa-linkedin
            a.ih-social-icon(href='{{agent.twitter}}', ng-if='agent.twitter !== undefined', target='_blank')
              i.fa.fa-twitter
            a.ih-social-icon(href='{{agent.instagram}}', ng-if='agent.instagram !== undefined', target='_blank')
              i.fa.fa-instagram
            a.ih-social-icon(href='{{agent.pinterest}}', ng-if='agent.pinterest !== undefined', target='_blank')
              i.fa.fa-pinterest
        h4 Realtor ® | {{agent.teamName}} - {{agent.brokerage}}
        p.fo
          strong
            small.text-uppercase
              a.clean-link(href='mailto:{{agent.contactEmail}}') {{agent.contactEmail}}
              span |
              a.clean-link(href='tel:{{agent.contactPhone | tel}}') {{agent.contactPhone | tel}}
        .bio(itemprop='description', ng-bind-html='agent.bio1 | to_trusted')
    .row.text-center
      a.btn.btn-primary.about-btn.inlineblock(href="#/{{agent.agentName | split: ' ':0 | lowercase}}") More about {{agent.agentName | split: ' ':0}}
