<section class="s7 ih-about {{classes}}">
  <div class="about-frame">
    <h1 class="ih-header text-center">About Me</h1>
    <div class="about-inner">
      <div class="about-img text-center">
        <img ng-src="{{agent.team[0].photo}}" alt="{{agent.team[0].name}}" class="img-circle img-responsive">
      </div>
      <div class="about-bio">
        <h3 class="text-center">{{agent.agentName}}</h3>
        <div itemprop="description" ng-bind-html="agent.bio1 | to_trusted" class="fs bio-text"></div>
        <div class="text-center bio-more">
          <a href="#/bio/{{agent.agentName | split: ' ':0 | lowercase}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

    