/* global */
.ih-search {
  position: relative;
  padding: 25px 0;
  z-index: 1;
}
.ih-search-inner {
  position: relative;
  padding: 25px 15px;
}
.ih-main-search {
  position: relative;
  padding: 20px 0;
}
.ih-advanced-search {
  margin: 20px 0px;
}
.ih-advanced-search .ih-input-box {
  margin-bottom: 15px;
}
.ih-adv-toggle {
  margin-top: 15px;
}
.ih-textarea {
  min-height: 150px;
}
/* end global */

/* s1 */
.s1 .ih-search-inner {
  margin: 0px 15px;
  margin-top: -110px;
  background-color: #f5f5f5;
  border-bottom: 10px solid #fff;
}
.s1 .ih-search-inner .ih-header {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* s2 */

/* s3 */
.s3.ih-search {
  background-color: transparent !important;
  padding: 0;
  padding-top: 40px;
}
.s3 .ih-search-inner {
  padding: 15px 0;
}
.s3.ih-search h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.s3.ih-search .btn-primary {
  padding: 0 15px;
  font-size: 18px;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.9);
}

/*** responsive ***/

@media screen and (max-width: 375px) {
  
  /* global */
  .ih-input-box {
    margin-bottom: 10px;
  }
  /* s1 */
  .s1 .ih-search-inner {
    margin-right: 0;
    margin-left: 0;
  }
  
}

@media screen and (max-width: 767px) {
  /* global */
  .ih-input-box {
    margin-bottom: 25px;
  }
}