<div class="ih-loader-listing">
  <div class="ih-ft-listing-img">
    <img ng-src="{{agent.accentLogo}}" alt="InHouse Listing Loading" />
  </div>
  <div class="ih-ft-listing-desc container-fluid">
    <div class="ih-ft-listing-addr text-center">
      <span class="text-block"></span>
      <span class="text-block"></span>
    </div>
    <hr>
    <div class="text-block-facts hide-carousel">
      <span class="text-block"></span>
      <span class="text-block"></span>
      <span class="text-block"></span>
      <span class="text-block"></span>
    </div>    
    <hr class="hide-carousel">
    <div class="ih-ft-listing-details row">
      <div class="col-lg-6">
        <span class="text-block"></span>
        <span class="text-block"></span>
      </div>
      <div class="col-lg-6 text-right">
        <span class="text-block"></span>
      </div>
    </div>
  </div>
</div>