/*** INHOUSE v.1.0 ***/

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* element resets */
button,
button:active, 
button:focus {
  outline: 0 !important;
}
input:active,
input:focus { outline: none !important; }
/* elements ends */

/* color styles */
.fw { color: #f5f5f5; }
.fb { color: #171717; }
/* color ends */

/* format styles */
.ih { position: relative; }
.iha { position: absolute; }
.tp { top: 0; }
.rt { right: 0; }
.lt { left: 0; }
.bm { bottom: 0; }
.block { display: block; }
.inline { display: inline; }
.inlineblock { display: inline-block; }
.fullh { height: 100%; }
.fullw { width: 100%;  }
.full { position: relative; width: 100%; height: 100%; }
.nopad { padding: 0; }
.nopad-l { padding-left: 0; }
.nopad-r { padding-right: 0; }
.nomar { margin: 0; }
.nomar-r { margin-right: 0; }
.nomar-l { margin-left: 0; }
/* format end */

/* frames */
.b35 { border: 35px solid #fff; }
/* frames end */

/* empty states */
.ih-view-container { 
  overflow: hidden;
  min-height: calc(100vh - 516px); 
}
#main-view { overflow: hidden; }
/* empty end */

/* nav defaults */
.ih-cta { padding: 5px 0; }
/* nav end */

/* landing defaults */
.ih-slider {
  position: relative;
  min-height: 750px;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0;
}
.ih-slider .item {
  height: 750px;
}
/* landing end */

/* search defaults */
.ih-search {
  position: relative;
  padding: 25px 0;
  z-index: 1;
}
.ih-search-inner {
  position: relative;
  padding: 25px 15px;
}
.ih-main-search {
  position: relative;
  padding: 20px 0;
}
.ih-advanced-search {
  margin: 20px 0px;
}
.ih-advanced-search .ih-input-box {
  margin-bottom: 15px;
}
.ih-adv-toggle {
  margin-top: 15px;
}
/* search end */

/* testimonial default */
.ih-testimonials {
  position: relative;
  padding: 25px 0;
  margin: 50px 0;
}
.ih-testimonials-inner {
  position: relative;
  padding: 25px 0;
}
/* testimonials end */

/* contact defaults*/
  /* contact page */
.ih-contact-page h1.ih-header {
  display: none;
}
.ih-contact-page .ih-md-divider {
  display: none;
}
.ih-contact-page .ih-content-inner {
  padding: 50px 0;
}
.contact-info-pane h3 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.contact-info-pane address {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.05);
}
.space-icon {
  display: inline-block;
  margin-right: 10px;
  padding-right: 30px;
  border-right: 2px solid rgba(255,255,255,0.5);
  width: 20px;
}
.contact-map-pane {
  min-height: 300px;
  background-color: rgba(0,0,0,0.1);
  margin-top: 60px;
}
  /* page end */
.ih-textarea {
  min-height: 150px;
}
  /* landing page form */
  .ih-contact-form .btn-group {
    width: 100%;
  }
  .ih-contact-form .btn-group .btn {
    width: 33%;
  }
  .ih-contact-form .btn-default {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
  }
  .ih-contact-form input[type="checkbox"] {
    display: none;
  }
  .ih-contact-form .form-group {
    margin: 10px 0;
  }
  .ih-contact-form .btn-group {
    margin-bottom: 20px;
  }
  .ih-form-input {
    padding: 20px 15px;
    border-radius: 0;
  }
  .ih-contact-form .form-group>label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .ih-contact .btn.active {
    color: #fff;
    box-shadow: none;
  }
  .alert h3 {
    margin: 5px;
  }
  /* landing page end */
/* contact end */

/* brand footer defaults */
footer.footer {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 100px;
}
.ih-social {
  position: relative;
  padding: 25px 0;
}
.ih-footer {
  position: relative;
  text-align: center;
  margin-top: 40px;
  padding: 15px 0;
  background-color: #3277b2;
  box-shadow: inset 1px 0 5px rgba(0,0,0,0.5);
}
.ih-footer>div {
  margin-top: -40px;
  margin-bottom: 20px;
}
.ih-footer>div>a {
  color: #3277b2;
}
.ih-footer>div>a:hover {
  text-decoration: none;
}
.ih-legal {
  margin: 15px 0;
}
/* footer ends */

/* results pages defaults */

  /* results global */
.no-results {
  padding: 35px 0;
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #707070;
}
.ih-mls-legal {
  margin: 25px 0;
}
.slider.slider-horizontal {
  width: 70%;
  margin-left: 25px;
}
.ih-filter-row .btn-group {
  width: 100%;
}
.ih-filter-row input[type=checkbox] {
  display: none;
}
.ih-filter-row .btn-group .btn {
  width: 33.333333%;
}
  /* grid to list view toggle */
.ih-listview {
  width: 100% !important;
  margin-bottom: 25px;
}
.ih-listview .ih-listing-card-img {
  float: left;
  height: 275px;
  width: 35%;
}
.ih-listview .ih-listing-card-desc {
  float: right;
  width: 65%;
  padding: 10px 20px;
}
.ih-listview .ih-listing-card {
  min-height: initial;
}
.ih-listview .fit-image {
  height: 275px;
}
.ih-listview .ih-ft-listing-link {
  line-height: 275px;
}
.ih-listview .ih-ft-listing-addr {
  text-align: left;
}
.ih-listview h4 {
  font-size: 25px;
}
.ih-listview .lead {
  font-size: 30px;
}
.ih-listview .ih-listing-card-desc>p {
  min-height: auto;
}
  /* filter breadcrumd defaults */
.ih-breadcrumb {
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 13px;
  margin: 0 5px;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 3px;
}
.ih-breadcrumb:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
  /* s1 - vertical center page configuration with map toggle */
.ih-results {
  position: relative;
  padding: 30px 0;
}
.ih-results-inner {
  min-height: 250px;
}
.ih-results .map-pane>div {
    width: 100%;
    height: 100%;
}
.gmap-popwindow {
	color:black;
}
.ih-listing-card {
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 25px;
  min-height: 570px;
  transition: .3s;
}
.ih-listing-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.ih-listing-card-img {
  position: relative;
  min-height: 200px;
  background-color: #eee;
  background-size: cover;
  background-position: 50%;
}
.ih-listing-card-img>a:first-child {
  display: block;
  height: 100%;
  width: 100%;
  min-height: 200px;
  opacity: 0;
  transition: .3s;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.3);
}
.ih-listing-card-img>a:first-child:hover {
  opacity: 1;
  text-decoration: none;
}
.ih-listing-card-desc {
  position: relative;
  padding: 15px;
}
.ih-listings {
  padding: 30px 0;
}
.ih-slide {
  margin: 10px 0;
}
.ih-slide label {
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}
.ih-filters {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 2px;
}
.ih-filter-row {
  position: relative;
  margin: 10px 0;
}
.ih-listings-map {
  height: 750px;
  margin-bottom: 25px;
}
.ih-listings-map>div {
  height: 100%;
}
.ih-more-listings {
  clear: both;
}
.ih-map-results {
  min-height: 400px;
  background-color: #eee;
  border-bottom: 15px solid #fff;
  margin-bottom: 25px;
}
  /* s2 - horizontal split page configuration with map-pane */
.s2 .listing-pane {
  background-color: rgba(255,255,255,0.05);
  padding: 15px 35px;
  padding-bottom: 85px;
  overflow: auto;
}
.s2.ih-results>.container-fluid {
  padding: 0;
}
.s2 .ih-filters {
  margin: 0;
  border: 0;
  background-color: rgba(255,255,255,0.15);
  padding: 0;
}
.s2.ih-results {
  position: fixed;
  top: 0;
  height: calc(100vh);
  z-index: 10;
  padding-top: 135px;
  padding-bottom: 0;
  background-color: #fff;
}
.s2 .ih-listings {
  padding: 0;
}
.s2 .ih-filters .ih-adv-toggle {
  margin: 0;
}
.s2 .ih-filters>.container {
  padding: 15px 15px;
  background-color: rgba(255,255,255,0.02);
}
.ih-ft-listing-addr {
  text-align: left;
}
.s2 .ih-listing-block {
  padding: 0 7px;
}
.s2 .ih-listing-block p {
  display: none;
}
.s2 .ih-listing-block hr {
  display: none;
}
.s2 .ih-listing-card {
  min-height: 410px;
}
.s2 .ih-ft-listing-addr h4 {
  font-size: 16px;
}
.s2 .ih-listing-card .read-more {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -15px;
}
.s2 .ih-listing-card-img {
  min-height: 250px;
}
.s2 .ih-ft-listing-link {
  line-height: 250px !important;
}
.s2 .ih-listview .ih-listing-card {
  min-height: 220px;
  margin-bottom: 0;
}
.s2 .ih-listview .ih-listing-card-img {
  width: 33% !important;
  height: 220px !important;
  min-height: initial;
  background-position: 50%;
  z-index: 0;
}
.s2 .ih-listview .ih-listing-card-desc {
  width: 67%;
}
.s2 .ih-listview h4 {
  font-size: 30px;
  margin-top: 20px;
}
.s2 .ih-listview h6 {
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.s2 .ih-listview .ih-ft-listing-details {
  padding: 20px 0;
}
.s2 .ih-listview small {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.ih-listview .ih-like-btn {
  bottom: initial !important;
  top: 10px !important;
  right: 10px !important;
  left: initial !important;
}
/* results end */

/* listing pages defaults */
  /* global */
.ih-listing .owl-controls>.owl-nav>div {
  position: absolute;
  background: #171717;
  top: 0;
  padding: 0 15px;
  height: 100%;
  line-height: 60px;
}
.ih-listing .owl-prev {
  left: 0;
}
.ih-listing .owl-next {
  right: 0;
}
.ih-listing .ih-owl-thumbnail {
  height: 60px;
  width: 80px;
}
.ih-listing .owl-carousel .owl-item {
  margin-right: 0 !important;
  border-right: 2px solid #171717;
}
.ih-listing .ih-owl-thumbnail::after {
  content:"";
  transition: .3s;
}
.ih-listing .ih-owl-thumbnail:hover::after {
  content:"";
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
  /* s1 - vertical center page configuration */ 
.ih-listing {
  position: relative;
  padding: 25px 0;
}
.ih-listing-slider {
  position: relative;
  min-height: 350px;
  background-color: #eee;
}
.ih-listing-slider .item {
	height: 350px !important;
}
.ih-listing-map {
  position: relative;
  min-height: 350px;
  padding-right: 0;
}
.ih-gmap {
  position: relative;
  height: 350px;
  background-color: #eee;
}
.ih-listing-images {
  margin-top: 10px;
  min-height: 100px;
  background-color: #eee;
}
.ih-listing-details {
  position: relative;
  min-height: 250px;
}
.ih-listing-description {
  position: relative;
  padding-right: 25px;
  border-right: 2px solid #eee;
  min-height: 250px;
}
.ih-listing-contact {
  padding: 35px 0;
}
.ih-docs .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 4px;
  min-height: 281px;
  padding: 10px;
}
  /* s2 - horizontal split page configuration with map-pane */
.s2.ih-listing .listing-pane {
  padding: 0;
  border-left: 5px solid #fff;
  overflow: auto;
}
.s2 .ih-listing-images {
  min-height: initial !important;
  margin-top: 0;
  border-top: 2px solid #313131;
}
.s2 .ih-listing-slider .item {
  height: 420px !important;
}
.s2 .ih-listing h2 {
  margin: 10px 0;
}
.s2 .ih-listing-factbar {
  padding: 10px 15px;
}
.s2 .ih-listing-details {
  padding: 20px 5px;
  padding-top: 35px;
}
.s2.ih-listing .ih-header {
  text-transform: initial;
  letter-spacing: initial;
  font-size: 24px;
  text-align: left;
}
.s2.ih-listing .ih-md-divider {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 15px;
}
.s2 .ih-listing-contact {
  padding: 15px 5px !important;
}
.s2.ih-listing {
  height: calc(100vh);
  padding-top: 135px;
  padding-bottom: 0;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}
.s2.ih-listing>.container-fluid {
  height: 100%;
  padding: 0;
}
.s2 .map-pane {
  padding: 0;
}
/* listing end */

/* content pages defaults */
  /* s1 - center page with slim side-panel */
.ih-content-header {
  min-height: 200px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
}
.ih-content-header>div {
  padding-top: 3em;
}
.ih-content-header h1 {
  margin: 0;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.ih-content-header h3 {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.ih-content-inner {
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 500px;
}
.ih-side-panel {
  position: relative;
  border-left: 1px solid #e7e7e7;
  min-height: 500px;
}
.ih-side-panel .panel-title a:hover,
.ih-side-panel .panel-title a:focus,
.ih-side-panel .panel-title a:active {
  text-decoration: none;
}
/* content end */

/* bio pages defaults */
  /* s1 - center page with slim side panel, active and sold listing gallery */
.bio-image {
  width: 230px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.ih-content-body .ih-social {
  position: absolute;
  top: 0;
  right: 25px;
}
/* bio ends */

/* privacy page */
.privacy {
  padding: 35px;
  margin-top: 150px;
  background-color: #fff;
  color: #000;
}
/* privacy ends */

/* visitor capture modal */
.modal-content {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
  border-radius: 2px;
  border: none;
}
.modal-title {
  padding: 10px 0;
}
.modal-body {
  padding: 40px 45px;
  padding-bottom: 15px;
}
.modal-footer {
  text-align: center;
}
/* visitor modal ends */

/* divider defaults */
.ih-lg-divider {
  height: 5px;
  background-color: #eee;
  margin: 50px auto;
  width: 50%;
  min-width: 250px;
}
.ih-md-divider {
  height: 3px;
  background-color: #eee;
  margin: 25px auto;
  width: 50%;
  min-width: 250px;
}
.ih-sm-divider {
  height: 1px;
  background-color: #eee;
  margin: 15px auto;
  width: 50%;
  min-width: 250px;
}
.ih-ext-divider {
  width: 100%;
}
.ih-accent-divider {
  margin: 100px auto;
  text-align: center;
}
.ih-accent-divider::after {
  content: url('../icons/ih-divider.svg')
}
/* dividers end */

/* like button defaults  */
.ih-like-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}
.ih-like-btn:hover,
.ih-like-btn:active,
.ih-like-btn:focus,
.ih-like-btn:visited {
  text-decoration: none;
}
.ih-like-btn .fa-heart,
.ih-like-btn .fa-star,
.ih-like-btn .fa-star-o {
  display: none;
}
.ih-liked .fa-heart-o {
  display: none !important;
}
.ih-liked .fa-heart {
  display: inline !important;
}
/* buttons ends */

/* 5-col bootstrap class */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/* listing tags */
.ih-mls-status-Closed::before {
  content: "SOLD LISTING";
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 5px 15px;
  top: 10px;
  background-color: #ab0520;
}
.ih-mls-status-Pending::before {
  content: "PENDING LISTING";
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 5px 15px;
  top: 10px;
  background-color: #002147;  
}
/* listing tags end */

/* my-listing button defaults */
.my-listings {
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 10px 15px;
  width: auto;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 9999;
}
.my-listings:hover {
  text-decoration: none;
  background-color: #3277b2;
  color: #fff;
}
.my-listings:focus,
.my-listings:visited,
.my-listings:active {
  text-decoration: none;
  color: #fff;
}
/* view ends */

/* back-to-top button defaults */
.ih-scroll-up {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.15);
    transition: .3s;
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.ih-scroll-up:hover,
.ih-scroll-up:active,
.ih-scroll-up:visited,
.ih-scroll-up:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}
/* back-to-top ends */

/* bootstrap resets */
.carousel-control {
  background-color: transparent !important;
  background: transparent !important;
  width: 50px;
}
.tooltip {
  pointer-events: none;
}
.lead {
  font-size: 20px;
  font-weight: 400;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}
input[type="radio"] {
	display:none;
}
.dropdown-menu {
  padding-bottom: 0;
}
/* bs resets end*/

/*** *** responsive *** ***/
@media screen and (min-width: 320px) and (max-width: 766px) {
  /* landing */
  .ih-nar-btn {
    font-size: 18px;
    margin-bottom: 25px;
  }
  /* landing end */
  
  /* results page */
    /* global */
    .ih-more-listings button { font-size: 18px; }
    #searchFilters { padding: 0; }
    #searchFilters div { padding: 0; }
    .ih-slide { text-align: center; }
    .ih-slide label { text-align: center; }    
    .ih-mls-legal {
      padding-bottom: 125px;
      font-size: 11px;
      text-align: justify;
    }
    .slider.slider-horizontal {
      width: 90%;
      margin: 0;
    }
    /* s1 */
    /* s2 */
    .s2 .listing-pane { padding: 10px 15px; }
    .s2.ih-results { padding-top: 78px !important; }
    .s2 .ih-listing-card {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    .s2 .ih-listing-slider .item { height: 300px !important; }  
  /* results end */
  /* listing page */
    /* global */
    .ih-listing-slider { min-height: initial; }
    .ih-listing-table { padding: 0; }  
    .owl-nav { display: none; }
    .ih-listing-description {
      border: 0;
      margin-bottom: 25px;
      text-align: justify;
      padding-right: initial;
      padding: 10px;
    }
    /* s1 */
    /* s2 */
    .s2.ih-listing { 
      padding-top: 75px; 
      position: relative;
      bottom: initial;
      top: initial;
      left: initial;
      right: initial;
    }  
  /* listing ends */
}
@media screen and (max-width: 767px) {
  /* landing */
  .ih-scroll-up {
    right: 20px;
    background-color: rgba(0,0,0,0.5);
  }  
  .my-listings {
    top: initial !important;
    bottom: 0;
    width: 100%;
  }
  .ih-greeting {
    padding-top: 10em;
  }
  .ih-nar-btn {
    font-size: 18px !important;
    margin-bottom: 15px !important;
  }
  .ih-input-box {
    margin-bottom: 25px;
  }
  .ih-testimonial-icon {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 35px;
  }
  footer,
  footer .text-right { text-align: center; }
  footer div { margin-bottom: 10px; }  
  footer .row { margin: 20px 0; }
  .ih-copyright { margin: 10px 0px; }  
  /* landing end */
  
  /* results page */
    /* global */
    .ih-filters .row>div:first-child { margin-bottom: 15px; }
    .ih-listings-menu { margin-bottom: 25px; }  
    /* s1 */
    .slider.slider-horizontal { width: 90%; }
    .ih-filter-box { margin-bottom: 10px; }
    .ih-filter-row { margin: 0; }  
    /* s2 */
    .s2.ih-results {
      position: relative !important;
      top: initial !important;
      height: auto !important;
    }    
    .s2.ih-results .ih-adv-toggle { display: block; }
    .s2.ih-listing,
    .s2.ih-results { padding-top: 95px !important ; }
  /* results end */
  /* listing page */
    /* s1 */
    .s2 .ih-listing-description {
      border: 0;
      padding: 0 20px;
      margin-bottom: 20px;
    }    
    /* s2 */
    .s2.ih-listing { 
      padding-top: 75px; 
      position: relative;
      bottom: initial;
      top: initial;
      left: initial;
      right: initial;
    }    
  /* listing ends */
  
  /* about */
  .ih-about-header { clear: both; }  
  /* about end */
  
  /* content */
  .ih-content-header {
    animation: initial;
    background-size: cover;
  }  
  /* content end */
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* landing */
  .my-listings {
    top: initial !important;
    bottom: 0;
    width: 100%;
  }
  .ih-about .ih-header { width: 95%; }
  .ih-about-inner { margin: 0 auto; }
  .ih-md-divider { width: 90%; }
  .ih-copyright { text-align: center; margin: 10px 0; }
  .ih-breadcrumbs { text-align: center; }  
  .btn-primary { font-size: 15px !important; }
  .ih-input-box { margin-bottom: 20px; }
  /* landing end */
  /* listing page */
    /* global */
    .ih-listing-description { border: 0; }      
    /* s1 */
    /* s2 */
    .s2.ih-results { padding-top: 165px; }  
    .s2.ih-listing { 
      padding-top: 165px; 
      position: relative;
      bottom: initial;
      top: initial;
      left: initial;
      right: initial;
    }  
  /* listing end */
  /* results page */
    .ih-filter-box { margin-bottom: 10px; }
    .ih-filter-row { margin: 0; }  
  /* results end */
  /* content */
    .ih-side-panel .ih-md-divider {
      min-width: initial;
      width: 100%;
    }  
  /* content end */
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* landing */
  .my-listings {
    top: initial;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    background-color: #3277b2;
  }
  /* landing end */
  
  /* listing page */
    /* global */
    .ih-listing-description {
      border: 0;
    }  
    /* s1 */
    /* s2 */
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* landing */
  .ih-greeting { padding-top: 15em; }
  /* landing end */
  /* results page */
    /* global */
    .ih-listing-description {
      width: 100%;
      border: 0;
      min-height: auto;
      margin-bottom: 25px;
      float: none;
    }
    .ih-listing-table {
      width: 100%;
      float: none;
    }
    /* s1 */
    .s1 .ih-filter-box { margin-bottom: 10px; }
    .s1 .ih-filter-row { margin: 0; }
    .s1 .ih-advanced-filters { margin-top: 15px; }  
    .s1 .ih-listings .ih-ft-listing { min-height: 545px; }
    .s1 .slider.slider-horizontal { width: 95%; }  
    /* s2 */
    .s2 .ih-listing-card-img { min-height: 165px; }
    .s2 .ih-listing-card { min-height: 350px; }  
    .s2 .ih-ft-listing-link {
      min-height: 150px !important;
      line-height: 175px !important;
    }  
  /* results end */
  /* listing page */
    /* s1 */
    /* s2 */
    .s2 .ih-listing-slider .item { height: 350px !important; }
  /* listing end */
  /* content page */
  .ih-side-panel .ih-md-divider {
    min-width: initial;
    width: 100%;
  }  
  /* content end */
}
@media screen and (min-width: 1921px) {
  
  /* temp fix */
    body {
      zoom: 1.5;
    }  
  
}


