/*** INHOUSE v.1.0 ***/

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/* element resets */
button,
button:active, 
button:focus {
  outline: 0 !important;
}
/* elements ends */

/* format styles */
.ih { position: relative; }
.iha { position: absolute; }
.block { display: block; }
.inline { display: inline; }
.inlineblock { display: inline-block; }
.full {
  position: relative;
  width: 100%;
  height: 100%;
}
/* format end */

/* empty states */
.ih-view-container {
  min-height: calc(100vh - 516px);
}
/* empty end */

/* navigation */
.ih-nav {
  margin: 0;
}
.ih-cta {
  padding: 5px 0;
}
.ih-nav .dropdown-menu {
  width: 100%;
}
/* nav end */

/* landing */
.ih-slider {
  position: relative;
  min-height: 750px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.ih-greeting {
  z-index: 1;
  padding-top: 15em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.ih-slider .item {
  height: 750px;
}
.ih-narrative {}
.ih-slider-row {}
.ih-slider-inner {}
.ih-slider .item>div {
  background-size: cover;
  transition: 1s;
}
.ih-slider .item.active>div {
  -webkit-animation: kenburns 250s ease infinite;
  animation: kenburns 250s ease infinite;
}
.full-screen-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 1s ease;
}

/* ken burns animation */
@-webkit-keyframes kenburns {
  0% { 
    -webkit-transform: scale(1) translate(, 50% ); 
    transform: scale(1) translate(, 50% );
  }
  100% { 
    -webkit-transform: scale(5) translate(0, 90%); 
    transform: scale(5) translate(0, 90%);
  }
}
@keyframes kenburns {
  0% { 
    -webkit-transform: scale(1) translate(, 50% ); 
    transform: scale(1) translate(, 50% );
  }
  100% { 
    -webkit-transform: scale(5) translate(0, 90%); 
    transform: scale(5) translate(0, 90%);
  }
}

/* carousel fade */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/* landing end */

/* search */
.ih-search {
  position: relative;
  padding: 25px 0;
  z-index: 1;
}
.ih-search-inner {
  position: relative;
  padding: 25px 15px;
}
.ih-main-search {
  position: relative;
  padding: 20px 0;
}
.ih-search-btns {}
.ih-search-input {
  overflow: hidden;
}
.ih-search-dropdown {}
.ih-advanced-search {
  margin: 20px 0px;
}
.ih-advanced-search .ih-input-box {
  margin-bottom: 15px;
}
.ih-adv-toggle {
  margin-top: 15px;
}
/* search end */

/* about */
.ih-about {
  position: relative;
  min-height: 500px;
}
.ih-about-inner {}
.ih-about-text {}
.ih-team {
  position: relative;
  margin: 50px 0;
}
.ih-headshot {}
/* about end */

/* featured homes */
.ih-featured-slider {
  position: relative;
  padding: 30px 0;
}
.ih-ft-listing {
  position: relative;
  border: 1px solid #eee;
  min-height: 430px;
}
.ih-ft-listing-img {
  height: 200px;
  position: relative;
  background-size: cover;
}
.ih-ft-listing-link {
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 200px;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.ih-ft-listing-link:hover {
  background-color: rgba(0,0,0,0.3);
  opacity: 1;
}
.fit-image {
  height: 200px;
  object-fit: cover;
}
.ih-owl-thumbnail {
	height:80px;
	width:80px;
}
.ih-ft-listing-img>a:first-child {
  min-height: 200px;
}
.ih-ft-listing-desc {
  position: relative;
  padding: 15px;
}
/* featured ends */

/* testimonials */
.ih-testimonials {
  position: relative;
  background-color: #f5f5f5;
  padding: 25px 0;
  margin: 50px 0;
}
.ih-testimonials-inner {
  position: relative;
  padding: 25px 0;
}
.ih-testimonial {}
.ih-testimonials .read-more {
  margin: 0;
}
/* testimonials end */

/* contact */
.ih-contact {}
.ih-contact-form {}
.ih-form-input {}
.ih-textarea {
  min-height: 150px;
}
/* contact end */

/* footer */
footer {}
.ih-social {
  position: relative;
  padding: 25px 0;
}
.ih-footer {
  position: relative;
  text-align: center;
  margin-top: 40px;
  padding: 15px 0;
  background-color: #f5f5f5;
  box-shadow: inset 1px 0 5px rgba(0,0,0,0.5);
}
.ih-footer>div {
  margin-top: -40px;
  margin-bottom: 20px;
}
.ih-footer>div>a {
  color: #3277b2;
}
.ih-footer>div>a:hover {
  text-decoration: none;
}
.ih-legal {
  margin: 15px 0;
}
/* footer ends */

/* results */
.ih-results {
  position: relative;
  padding: 30px 0;
}
.ih-results-inner {
  min-height: 250px;
}
.ih-listing-card {
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 25px;
  min-height: 570px;
}
.ih-listing-card-img {
  position: relative;
  min-height: 200px;
  background-color: #eee;
  background-size: cover;
}
.ih-listing-card-img>a:first-child {
  min-height: 200px;
}
.ih-listing-card-desc {
  position: relative;
  padding: 15px;
}
.ih-listings {
  padding: 30px 0;
}
.ih-slide {
  margin: 10px 0;
}
.ih-slide label {
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}
.ih-filters {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 2px;
}
.ih-filter-row {
  position: relative;
  margin: 10px 0;
}
.ih-listings-map {
  height: 750px;
  margin-bottom: 25px;
}
.ih-listings-map>div {
  height: 100%;
}
.ih-more-listings {
  clear: both;
}
.ih-map-results {
  min-height: 400px;
  background-color: #eee;
  border-bottom: 15px solid #fff;
  margin-bottom: 25px;
}
.no-results {
  padding: 35px 0;
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #707070;
}
.ih-mls-legal {
  margin: 25px 0;
}
.slider.slider-horizontal {
  width: 70%;
  margin-left: 25px;
}
/* results end */

/* listing */
.ih-listing {
  position: relative;
  padding: 25px 0;
}
.ih-listing-slider {
  position: relative;
  min-height: 350px;
  background-color: #eee;
}
.ih-listing-slider .item {
	height:350px;
}
.ih-listing-map {
  position: relative;
  min-height: 350px;
  padding-right: 0;
}
.ih-gmap {
  position: relative;
  height: 350px;
  background-color: #eee;
}
.ih-listing-images {
  margin-top: 10px;
  min-height: 100px;
  background-color: #eee;
}
.ih-listing-details {
  position: relative;
  min-height: 250px;
}
.ih-listing-description {
  position: relative;
  padding-right: 25px;
  border-right: 2px solid #eee;
  min-height: 250px;
}
.ih-listing-contact {
  padding: 35px 0;
}
.ih-docs .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 4px;
  min-height: 281px;
  padding: 10px;
}
/* listing end */

/* list view styles */
.ih-listview {
  width: 100% !important;
  margin-bottom: 25px;
}
.ih-listview .ih-listing-card-img {
  float: left;
  height: 275px;
  width: 35%;
}
.ih-listview .ih-listing-card-desc {
  float: right;
  width: 65%;
  padding: 10px 20px;
}
.ih-listview .ih-listing-card {
  min-height: initial;
}
.ih-listview .fit-image {
  height: 275px;
}
.ih-listview .ih-ft-listing-link {
  line-height: 275px;
}
.ih-listview .ih-ft-listing-addr {
  text-align: left;
}
.ih-listview h4 {
  font-size: 25px;
}
.ih-listview .lead {
  font-size: 30px;
}
.ih-listview .ih-listing-card-desc>p {
  min-height: auto;
}
.ih-breadcrumb {
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 13px;
  margin: 0 5px;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 3px;
}
.ih-breadcrumb:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

/* map results styles */
.listing-pane {
  overflow: auto;
}
.ih-map-listing img {
  height: 100px;
}
.ih-map-listing {
  margin-bottom: 10px;
}

/* content */
.ih-content-header {
  min-height: 200px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
}
.ih-content-header>div {
  padding-top: 3em;
}
.ih-content-header h1 {
  margin: 0;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.ih-content-header h3 {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.ih-content-inner {
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 500px;
}
.ih-side-panel {
  position: relative;
  border-left: 1px solid #e7e7e7;
  min-height: 500px;
}
/* content end */

/* visitor capture styles */
.modal-content {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
  border-radius: 2px;
  border: none;
}
.modal-title {
  padding: 10px 0;
}
.modal-body {
  padding: 40px 45px;
  padding-bottom: 15px;
}
.modal-footer {
  text-align: center;
}
/* visitr ends */

/* dividers */
.ih-lg-divider {
  height: 5px;
  background-color: #eee;
  margin: 50px auto;
  width: 50%;
  min-width: 250px;
}
.ih-md-divider {
  height: 3px;
  background-color: #eee;
  margin: 25px auto;
  width: 50%;
  min-width: 250px;
}
.ih-sm-divider {
  height: 1px;
  background-color: #eee;
  margin: 15px auto;
  width: 50%;
  min-width: 250px;
}
.ih-ext-divider {
  width: 100%;
}
/* dividers end */

/* buttons */
.ih-like-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}
.ih-like-btn:hover,
.ih-like-btn:active,
.ih-like-btn:focus,
.ih-like-btn:visited {
  text-decoration: none;
}
.ih-like-btn .fa-heart,
.ih-like-btn .fa-star,
.ih-like-btn .fa-star-o {
  display: none;
}
.ih-liked .fa-heart-o {
  display: none !important;
}
.ih-liked .fa-heart {
  display: inline !important;
}
/* buttons ends */

/* absolute styles */
.tp {
  top: 0;
}
.rt {
  right: 0;
}
.lt {
  left: 0;
}
.bm {
  bottom: 0;
}
/* absolute ends */

/* 5-col */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/* listing tags */
.ih-mls-status-Closed::before {
  content: "SOLD LISTING";
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 5px 15px;
  top: 10px;
  background-color: #C69179;
}
.ih-mls-status-Pending::before {
  content: "PENDING LISTING";
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 5px 15px;
  top: 10px;
  background-color: #C69179;  
}
/* listing tags end */

/* view my listings */
.my-listings {
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 10px 15px;
  width: auto;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s;
  z-index: 9999;
}
.my-listings:hover {
  text-decoration: none;
  background-color: #3277b2;
  color: #fff;
}
.my-listings:focus,
.my-listings:visited,
.my-listings:active {
  text-decoration: none;
  color: #fff;
}
/* view ends */

/* scroll up */
.ih-scroll-up {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.15);
    transition: .3s;
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.ih-scroll-up:hover,
.ih-scroll-up:active,
.ih-scroll-up:visited,
.ih-scroll-up:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}

/* browser overrides */
::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ddd   ;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #A95935 ; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #E3C9BD ; 
}

/* bootstrap resets */
.carousel-control {
  background-color: transparent !important;
  background: transparent !important;
}
.tooltip {
  pointer-events: none;
}
.lead {
  font-size: 20px;
  font-weight: 400;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}
input[type="radio"] {
	display:none;
}
/* bs resets end*/




/*** DELETE? ***/
/* dash */
#adminNav {
  padding: 0;
}
.admin-dash {
  height: calc(100vh);
  min-height: 950px;
}
.side-nav {
  height: 100%;
  background-color: #2b2b2b;
}
.dash-nav {
  border: 0;
  background-color: #eee;
  margin-bottom: 5px;
}
.dash-contents {
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  padding-top: 10px;
  overflow: auto;
}
/* dash ends */
/****************/

