/* global */

.ih-slider {
    position: relative;
    min-height: 750px;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 0;
}

.ih-slider .item {
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ih-greeting-picture img {
    width: 230px;
    margin-bottom: 25px;
}

.ih-greeting p {
    padding-bottom: 30px;
}

.bottom-btn.fw {
    position: absolute;
    bottom: 1%;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 11;
    font-size: 20px;
}

.ih-slider-row .carousel {
    height: 100%;
}

.ih-slider .carousel-control {
    display: none;
}

.ih-slider .carousel-indicators {
    display: none;
}

.ih-slider-row {
    height: 100%;
}

.ih-slider-row .container {
    height: 100%;
}

.ih-slider .carousel-inner {
    height: 100%;
}


/* s1 */

.s1.ih-slider {
    min-height: initial;
    height: 600px;
    overflow: hidden;
}

.s1.ih-slider {
    min-height: initial;
    height: 600px;
    overflow: hidden;
}

.s1.ih-slider-row {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: headerFlow 99s ease infinite;
    animation: headerFlow 99s ease infinite;
}

.s1.ih-slider .ih-slider-inner .item {
    height: 600px;
}

.s1.ih-slider .ih-comm-links {
    bottom: 90px;
}

.s1.ih-slider .ih-comm-links h4 {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.s1.ih-slider .ih-comm-link {
    color: #fff;
    text-transform: uppercase;
}


/* s2 */

.s2.ih-slider-row {
    position: relative;
    height: calc(100vh);
    min-height: 900px;
}

.s2.ih-slider-row>.container {
    width: 100%;
    padding: 0;
}

.s2.ih-slider-row .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.s2.ih-slider-inner {
    height: 100%;
}

.s2.ih-slider #mainSlider .item {
    height: 100% !important;
}

.s2.ih-slider-inner .carousel-inner {
    height: 100%;
}

.s2.ih-slider-row .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.s2.ih-slider .ih-slider-inner {
    height: 100%;
}

.s2.ih-slider .ih-slider .item {
    height: 100%;
}

.s2.ih-slider .ih-slider-inner .carousel-inner {
    height: 100%;
}

.s2.ih-slider .ih-slider-inner:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.s2.ih-slider .ih-greeting {
    z-index: 2;
    padding-top: 25em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.s2.ih-slider .ih-loader-listing .ih-ft-listing-desc {
    display: none;
}

.s2.ih-slider .ih-loader-listing {
    margin: 0;
}

.b35 .s2.ih-slider-row, .b25 .s2.ih-slider {
    height: calc(100vh - 50px);
}


/* s3 */

.s3.ih-slider {
    background-color: transparent;
    height: calc(100vh);
}

.s3.ih-slider-row {
    position: relative;
    height: calc(100vh - 150px);
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
    overflow: hidden;
}

.s3.ih-slider .item {
    height: calc(100vh - 150px);
}

.s3.ih-slider .mini-search {
    width: 500px;
    margin: 0 auto;
}


/* s4 */

.s4.ih-slider {
    height: calc(100vh);
}

.s4.ih-slider-row {
    position: relative;
    height: calc(100vh);
    min-height: 850px;
}

.s4.ih-slider-row>.container {
    width: 100%;
    padding: 0;
}

.s4.ih-slider-row .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.s4.ih-slider-inner {
    height: 100%;
}

.s4.ih-slider #mainSlider .item {
    height: 100% !important;
}

.s4.ih-slider-inner .carousel-inner {
    height: 100%;
}

.s4.ih-slider-row .container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.s4.ih-slider .ih-slider-inner {
    height: 100%;
}

.s4.ih-slider .ih-slider .item {
    height: 100%;
}

.s4.ih-slider .ih-slider-inner .carousel-inner {
    height: 100%;
}

.s4.ih-slider .ih-greeting {
    z-index: 2;
    padding-top: 25em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.b25 .s4.ih-slider {
    height: calc(100vh - 50px);
    min-height: auto;
}

.b15 .s4.ih-slider {
    height: calc(100vh - 30px);
}

.s4.ih-slider .ih-slider-row {
    height: 100%;
    width: 100%;
}


/* s5 */

.s5.ih-slider .ih-greeting {
    z-index: 10;
    bottom: 5%;
    width: 100%;
}


/* s7*/

.s7.ih-slider {
    height: calc(100vh);
}

.s7.ih-slider .item {
    height: 100%;
}

.s7.ih-slider .ih-search-container {
    padding-top: 35%;
    z-index: 11;
}

/* s7*/

.s8.ih-slider {
    height: calc(100vh);
}

.s8.ih-slider .item {
    height: 100%;
}

.s8.ih-slider .ih-search-container {
    padding-top: 35%;
    z-index: 11;
}


/* p1 */

.p1.ih-slider, .p1.ih-slider .ih-slider-row, .p1.ih-slider #mainSlider, .p1.ih-slider .item {
    height: calc(100vh);
    padding: 0 !important;
    min-height: 750px;
}

.p1.ih-slider .ih-greeting {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15em;
}

.p1.ih-slider .carousel-control, .p1.ih-slider .carousel-indicators {
    display: none;
}

.p1.ih-slider .ih-banner {
    bottom: 10%;
    left: 0;
    width: 850px;
    height: 200px;
    opacity: .95;
    z-index: 50;
}

.p1.ih-slider .banner-box {
    padding: 30px 25px;
}

.p1.ih-slider .ih-banner h1 {
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 5px;
    padding-top: 0;
}

.p1.ih-slider .ih-banner h5 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-size: 1.5em;
    font-weight: 100;
    text-transform: capitalize;
}

.p1.ih-slider .home-facts {
    font-size: 1.5em;
}

.p1.ih-slider .fact {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
}

.p1.ih-slider .fact:after {
    content: "•";
    position: absolute;
    right: -7.5px;
    top: 0;
}

.p1.ih-slider .fact:last-child:after {
    display: none;
}

.p1.ih-slider .banner-box:last-child {
    text-align: center;
}

.p1.ih-slider .banner-box:last-child h1 {
    font-size: 3em!important;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 15px;
}

.p1.ih-slider .top-banner {
    bottom: 8%;
    left: 2%;
    z-index: 1000;
    padding: 15px 25px;
    font-size: 1.5em;
}


/* p2 */

.p2.ih-slider {
    padding: 0 !important;
    overflow: hidden;
    height: calc(90vh);
    min-height: 900px;
}

.p2.ih-slider .item {
    height: 100% !important;
}

.p2.ih-slider::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
}

.p2.ih-slider .property-greeting {
    padding-top: 10em;
    pointer-events: none;
}

.p2.ih-slider .property-greeting>* {
    pointer-events: all;
}

.p2.ih-slider .property-greeting::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('https://s3-us-west-2.amazonaws.com/inhouse-static-assets/framework/ia/images/triangle.svg');
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.p2.ih-slider .property-greeting .img-circle {
    width: 200px;
    margin-bottom: 3em;
    border: 5px solid #fff;
}

.p2.ih-slider h4 {
    margin: 0;
    letter-spacing: 5px;
}

.p2.ih-slider h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
}

.p2.ih-slider h3 {
    margin: 0;
}

.p2.ih-slider .listing-desc {
    margin: 15px 0;
    padding: 15px 25px;
    font-size: 1.2em;
    line-height: 1.2em;
}


/*** slider effects ***/


/* slider fade and kenburns animations */

.ih-slider .item>div {
    background-size: cover;
    -webkit-transition: 1s;
    transition: 1s;
}

.ih-slider .item.active>div {
    -webkit-animation: kenburns 250s ease infinite;
    animation: kenburns 250s ease infinite;
}

.full-screen-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/* kenburns animation */

@-webkit-keyframes kenburns {
    0% {
        -webkit-transform: scale(1) translate(, 50%);
        transform: scale(1) translate(, 50%);
    }
    50% {
        -webkit-transform: scale(5) translate(0, 90%);
        transform: scale(5) translate(0, 90%);
    }
    0% {
        -webkit-transform: scale(1) translate(, 50%);
        transform: scale(1) translate(, 50%);
    }
}

@keyframes kenburns {
    0% {
        -webkit-transform: scale(1) translate(, 50%);
        transform: scale(1) translate(, 50%);
    }
    100% {
        -webkit-transform: scale(5) translate(0, 90%);
        transform: scale(5) translate(0, 90%);
    }
}


/* headerFlow animaions */

@-webkit-keyframes headerFlow {
    0%, 100% {
        background-position: 0% 50%;
        background-size: 100%;
    }
    25% {
        background-position: 25% 75%;
        background-size: 200%;
    }
    50% {
        background-position: 55% 100%;
        background-size: 100%;
    }
    75% {
        background-position: 75% 25%;
        background-size: 200%;
    }
}

@keyframes headerFlow {
    0%, 100% {
        background-position: 0% 50%;
        background-size: 100%;
    }
    25% {
        background-position: 25% 75%;
        background-size: 200%;
    }
    50% {
        background-position: 55% 100%;
        background-size: 100%;
    }
    75% {
        background-position: 75% 25%;
        background-size: 200%;
    }
}


/* carousel fade */

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-animation-delay: 2s !important;
    animation-delay: 2s !important;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next, .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.prev, .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.next.left, .carousel-fade .carousel-inner>.item.prev.right, .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/*** responsive ***/

@media screen and (min-width: 1441px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* global */
    .ih-greeting {
        padding-top: 15em;
    }
    /* s2 */
    .s2.ih-slider .ih-greeting {
        padding-top: 15em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* s1 */
    .s1.ih-slider .ih-slider-row {
        -webkit-animation: initial;
        animation: initial;
        background-size: cover;
    }
    .s1.ih-slider .ih-slider-row>div {
        padding: 0;
    }
    /* p1 */
    .p1.ih-slider .ih-banner {
        left: 5%;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    /* global */
    .ih-greeting {
        padding-top: 10em;
    }
    .ih-nar-btn {
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }
    /* s1 */
    .s1.ih-slider .ih-slider-row {
        -webkit-animation: initial;
        animation: initial;
        background-size: cover;
    }
    .s1.ih-slider .ih-slider-row>div {
        padding: 0;
        width: 100%;
    }
    .s1.ih-slider {
        height: auto !important;
    }
    .s1.ih-slider .ih-slider-inner .item {
        height: 220px !important;
    }

    /* p2 */
    .p2.ih-slider .btn-row {
      display: flex;
      margin: 0 auto;
      max-width: 340px;
    }
}

@media screen and (max-width: 768px) {
  /* p2 */
  .p2.ih-slider .container-sm {
    width: 100% !important;
    padding: 0 15px;
  }
  .p2.ih-slider .btn:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 426px) {
    .p2.ih-slider .btn {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    /* s1 */
    .s1.ih-slider .ih-slider-row {
        -webkit-animation: initial;
        animation: initial;
        background-size: cover;
    }
    .s1.ih-slider .ih-slider-row>div {
        padding: 0;
    }
    .s1.ih-slider {
        height: auto !important;
    }
    .s1.ih-slider .ih-slider-inner .item {
        height: 220px !important;
    }

    /* p2 */
    .p2.ih-slider .container-sm {
      padding: 0;
    }
}
