/* global */

.ps-control, .ps-control:visited, .ps-control:focus, .ps-control:active {
    display: block;
    position: absolute;
    height: 100%;
    min-width: 50px;
    text-align: center;
    color: #fff;
    font-size: 3em;
    opacity: .7;
    transition: .3s;
}

.ps-control:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.ps-control:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.lt-control {
    top: 0;
    left: 0;
}

.rt-control {
    top: 0;
    right: 0;
}


/* p1 */

.p1.ih-photo-slider .photo-slider {
    margin: 30px 0;
}

.p1.ih-photo-slider .listing-pic-block {
    display: inline-block;
    padding: 0 5px;
}

.p1.ih-photo-slider .listing-pic {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 350px;
    padding: 10px;
}

.p1.ih-photo-slider .listing-pic a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.p1.ih-photo-slider .listing-pic a {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.p1.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    color: #fff;
    font-size: 2em;
}

.p1.ih-photo-slider .owl-nav {
    text-align: center;
    font-size: .9em;
    color: #707070;
    margin-top: 35px;
    cursor: pointer;
    text-transform: uppercase;
}

.p1.ih-photo-slider .owl-nav>div:hover {
    color: #2ba8de;
}
.p1.ih-photo-slider .owl-nav>div {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 12px;
}

.p1.ih-photo-slider .owl-prev {
  border-right: 0 !important;
}

.p1.ih-photo-slider .owl-prev {
    border-radius: 50px 0 0 50px;
    border-right: 0;
}

.p1.ih-photo-slider .owl-next {
    border-radius: 0 50px 50px 0;
}


/* p2 */

.p2.ih-photo-slider {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
    padding: 30px 0
}

.p2.ih-photo-slider::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 95px;
    background-color: #eee;
    top: -95px;
    right: 50%;
}

.p2.ih-photo-slider .image-grid {
    height: 100%;
    max-height: 410px;
    /* set by js? */
    width: calc(100vw);
    min-width: 1920px;
}

.p2.ih-photo-slider .image-grid>div {
    float: left;
}

.p2.ih-photo-slider .listing-pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.p2.ih-photo-slider .first-image {
    width: 600px;
    height: 400px;
}

.p2.ih-photo-slider .grid-image {
    width: 200px;
    height: 130px;
}

.p2.ih-photo-slider .slider-row {
    max-height: 410px;
    overflow: hidden;
}

.p2.ih-photo-slider .grid-image {
    margin-top: 5px;
    margin-left: 5px;
}

.p2.ih-photo-slider .first-image {
    margin-top: 5px;
    margin-bottom: 5px;
}

.p2.ih-photo-slider .listing-pic a {
    text-align: center;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}

.p2.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    font-size: 2em;
}

.p2.ih-photo-slider .listing-pic>a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.p2.ih-photo-slider .image-grid {
  position: relative;
  transition: .3s ease;
}

/* p4 */
.p4.ih-photo-slider .photo-slider {
    margin: 30px 0;
}

.p4.ih-photo-slider .listing-pic-block {
    display: inline-block;
    padding: 0 5px;
}

.p4.ih-photo-slider .listing-pic {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 350px;
    padding: 10px;
}

.p4.ih-photo-slider .listing-pic a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.p4.ih-photo-slider .listing-pic a {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.p4.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    color: #fff;
    font-size: 2em;
}

.p4.ih-photo-slider .owl-nav {
    text-align: center;
    font-size: .9em;
    color: #707070;
    margin-top: 35px;
    cursor: pointer;
    text-transform: uppercase;
}

.p4.ih-photo-slider .owl-nav>div:hover {
    color: #2ba8de;
}
.p4.ih-photo-slider .owl-nav>div {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 12px;
}

.p4.ih-photo-slider .owl-prev {
  border-right: 0 !important;
}

.p4.ih-photo-slider .owl-prev {
    border-radius: 50px 0 0 50px;
    border-right: 0;
}

.p4.ih-photo-slider .owl-next {
    border-radius: 0 50px 50px 0;
}

/* p5 */
.p5.ih-photo-slider .photo-slider {
    margin: 30px 0;
}

.p5.ih-photo-slider .listing-pic-block {
    display: inline-block;
    padding: 0 5px;
}

.p5.ih-photo-slider .listing-pic {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 350px;
    padding: 10px;
}

.p5.ih-photo-slider .listing-pic a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.p5.ih-photo-slider .listing-pic a {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.p5.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    color: #fff;
    font-size: 2em;
}

.p5.ih-photo-slider .owl-nav {
    text-align: center;
    font-size: .9em;
    color: #707070;
    margin-top: 35px;
    cursor: pointer;
    text-transform: uppercase;
}

.p5.ih-photo-slider .owl-nav>div:hover {
    color: #2ba8de;
}
.p5.ih-photo-slider .owl-nav>div {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 12px;
}

.p5.ih-photo-slider .owl-prev {
  border-right: 0 !important;
}

.p5.ih-photo-slider .owl-prev {
    border-radius: 50px 0 0 50px;
    border-right: 0;
}

.p5.ih-photo-slider .owl-next {
    border-radius: 0 50px 50px 0;
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 374px) {}
