/* global */

.ps-control, .ps-control:visited, .ps-control:focus, .ps-control:active {
    display: block;
    position: absolute;
    height: 100%;
    min-width: 50px;
    text-align: center;
    color: #fff;
    font-size: 3em;
    opacity: .7;
    transition: .3s;
}

.ps-control:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.ps-control:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.lt-control {
    top: 0;
    left: 0;
}

.rt-control {
    top: 0;
    right: 0;
}


/* p1 */

.p1.ih-photo-slider .photo-slider {
    margin: 30px 0;
}

.p1.ih-photo-slider .listing-pic-block {
    display: inline-block;
    padding: 0 5px;
}

.p1.ih-photo-slider .listing-pic {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 200px;
    padding: 10px;
}

.p1.ih-photo-slider .listing-pic a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.p1.ih-photo-slider .listing-pic a {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.p1.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    color: #fff;
    font-size: 2em;
}

.p1.ih-photo-slider .owl-controls {
    display: block !important;
}

.p1.ih-photo-slider .owl-buttons {
    text-align: center;
    font-size: 1.5em;
    color: #707070;
}

.p1.ih-photo-slider .owl-buttons>div:hover {
    color: #2ba8de;
}

.p1.ih-photo-slider .owl-buttons>div {
    display: inline-block;
    padding: 0px 10px;
}

.p1.ih-photo-slider .owl-prev {
    border-right: 2px solid #ddd;
}


/* p2 */

.p2.ih-photo-slider {
    padding: 80px 0;
}

.p2.ih-photo-slider .image-grid {
    height: 100%;
    max-height: 410px;

    /* set by js? */
    width: calc(100vw);
    min-width: 1920px;

}

.p2.ih-photo-slider .image-grid>div {
    float: left;
}

.p2.ih-photo-slider .listing-pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.p2.ih-photo-slider .first-image {
    width: 600px;
    height: 400px;
}

.p2.ih-photo-slider .grid-image {
    width: 200px;
    height: 130px;
}

.p2.ih-photo-slider .slider-row {
    max-height: 410px;
    overflow: hidden;
}

.p2.ih-photo-slider .grid-image {
    margin-top: 5px;
    margin-left: 5px;
}

.p2.ih-photo-slider .first-image {
    margin-top: 5px;
    margin-bottom: 5px;
}

.p2.ih-photo-slider .listing-pic a {
    text-align: center;
    opacity: 0;
    transition: .3s;
}

.p2.ih-photo-slider .listing-pic a:hover {
    opacity: .75;
    font-size: 2em;
}

.p2.ih-photo-slider .listing-pic>a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}


/* responsive */

@media screen and (min-width: 1921px) {}

@media screen and (min-width: 1025px) and (max-width: 1440px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 376px) and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 374px) {}
