<section class="p1 ih-photo-slider fp container-fluid">
    <h1 class="ih-header text-center fc-02">Photo Gallery</h1>
    <div class="row">
        <p class="fs text-center col-md-6 col-md-offset-3">
            {{listing.listingDescription | limitTo: 250 }}
        </p>
    </div>
    <div class="row">
        <ih-owl class="owl-carousel tst-carousel" items="listing.photos" responsive="responsive">
            <div class="listing-pic-block full" ng-repeat="photo in listing.photos">
                <div class="listing-pic" ng-style="{'background-image': 'url(' + photo.large + ')'}">
                    <a href="#/lightbox" class="block full bkc-03 fw">
                        <span class="fa fa-camera"></span>
                    </a>
                </div>
            </div>
        </ih-owl>
    </div>
</section>
