section.p2.ih-photo-slider.fp
    .ih.slider-row
        //todo: fix inline style
        .image-grid.clearfix(ng-style="{right: rightPosition}", style="position:relative;transition:.3s ease;")
          .slider-image.first-image
            .listing-pic.full(ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}")
              a.block.full.bkc-03.fw(ng-click='showLightBox(0)')
                span.fa.fa-camera
          //- repeat rest of images -
          .slider-image.grid-image(ng-repeat='photo in listing.photos')
            .listing-pic.full(ng-style="{'background-image': 'url(' + photo.large + ')'}")
              a.block.full.bkc-03.fw(ng-click='showLightBox($index)')
                span.fa.fa-camera
        //- controls
        a.ps-control.lt-control.pointer(ng-click="slideLeft()")
          i.fa.fa-angle-left
        a.ps-control.rt-control.pointer(ng-click="slideRight()")
          i.fa.fa-angle-right
