<section class="p2 ih-photo-slider container-fluid fp">
    <div class="ih row slider-row">
        <div class="image-grid clearfix">
            <div class="slider-image first-image">
              <div class="listing-pic full" ng-style="{'background-image': 'url(' + listing.primaryPhoto.large + ')'}">
                  <a href="#/lightbox" class="block full bkc-03 fw">
                      <span class="fa fa-camera"></span>
                  </a>
              </div>
            </div>

            <!-- repeat rest of images --->
            <div class="slider-image grid-image" ng-repeat="photo in listing.photos">
                <div class="listing-pic full" ng-style="{'background-image': 'url(' + photo.large + ')'}">
                    <a href="#/lightbox" class="block full bkc-03 fw">
                        <span class="fa fa-camera"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- controls -->
        <a href="" class="ps-control lt-control"><i class="fa fa-angle-left"></i></a>
        <a href="" class="ps-control rt-control"><i class="fa fa-angle-right"></i></a>
    </div>
</section>
