section#gallery.p4.ih-photo-slider
  .container-fluid
    h2.ih-header Photo Gallery
    .ih-sm-divider
    ih-owl.owl-carousel.tst-carousel(
      items='listing.Details.photos',
      responsive='responsive')
      .listing-pic-block.full(ng-repeat='photo in listing.Details.photos')
        .listing-pic(ng-style="{'background-image': 'url(' + photo.large + ')'}")
          a.block.full.bkc-03.fw(ng-click='showLightBox($index)')
            span.fa.fa-camera
