section.p6.ih-photo-slider.fp.fw
  .container-fluid.photo-slider-inner
    h1.ih-header.text-center Photo Gallery
    .ih-md-divider
    .row
      p.fs.text-center.col-md-6.col-md-offset-3
      | {{data.cta || listing.publicRemarks}}
    .row
      ih-owl.owl-carousel.tst-carousel(items='listing.photos', responsive='responsive')
        .listing-pic-block.full(ng-repeat='photo in listing.photos')
          .listing-pic(ng-style="{'background-image': 'url(' + photo.large + ')'}")
            a.block.full.fw(ng-click='showLightBox($index)')
              span.fa.fa-camera
